<header class="site-header" id="header">
  <div>
    <%= link_to(raw(t("header.site_mode")), url_for_current_path_with_subdomain()) if lite_mode? %>

     <span class="header-logo"><%= link_to t("site_name"), [:root] %></span>

     <% if staging? %>
       <p class="language-switcher">
         <%= t 'header.languages' %>:

         <% Locales.supported.each do |locale| %>
           <%= link_to t(:name, locale: locale),
                       url_for_current_path_with_subdomain(subdomain: locale) %>
         <% end %>
       </p>
     <% end %>
   </div>

  <%= render "shared/header/nav" %>

  <%= link_to t("header.support"), [:support], class: "button" %>
</header>
