<header class="site-header" id="header">
  <div>
     <span class="header-logo"><%= link_to t("site_name"), [:root] %></span>

     <% unless Rails.env.production? %>
       <p class="language-switcher">
         <%= t 'header.languages' %>:

         <% Locales.supported.each do |locale| %>
           <%= link_to t(:name, locale: locale), url_for_localized_path(locale) %>
         <% end %>
       </p>
     <% end %>
   </div>

  <%= render "shared/header/nav" %>

  <%= link_to t("header.support"), [:support], class: "button" %>
</header>
