<nav>
  <ul class="primary-navigation">
    <li class="nav-link"><%= link_to t("header.books"), "/books" %></li>
    <li class="nav-link"><%= link_to t("header.library"), "/library" %></li>
    <li class="nav-link"><%= link_to t("header.tools"), "/tools" %></li>
    <li class="nav-link"><%= link_to t("header.audio"), "/podcast" %></li>
    <li class="nav-link"><%= link_to t("header.store"), "/store" %></li>
  </ul>
</nav>
