<nav role="navigation">
  <ul class="primary-navigation">
    <li class="nav-link"><%= link_to t("header.read"),   "/read" %></li>
    <li class="nav-link"><%= link_to t("header.watch"),  "/watch" %></li>
    <li class="nav-link"><%= link_to t("header.listen"), "/listen" %></li>
    <li class="nav-link"><%= link_to t("header.buy"),    "/get" %></li>
    <!-- <li class="nav-link"><%= link_to t("header.share"),  "/share" %></li> -->
  </ul>
</nav>
