<%= form_with(model: [:admin, @page]) do |form| %>
  <%= render "admin/form_errors", thing: @page %>

  <div class="form-group">
    <%= form.label :slug, "URL Slug" %>
    <%= form.text_field :slug, class: "form-control form-control-lg" %>
  </div>
  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="syndication">
        <legend>Syndication</legend>
        <div class="form-group">
          <%= form.label :summary %>
          <%= form.text_area :summary, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">
            Maximum 200 characters.
            Used for page description and previews in story cards on other sites.
          </p>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6">
      <fieldset id="meta">
        <legend>Meta</legend>
        <div class="form-group">
          <%= form.label :tags %>
          <%= text_area_tag :tags, @page.tags.map{ |t| t.name }.join(", "), class: "form-control form-control-lg" %>
          <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
        </div>
      </fieldset>
    </div>
  </div>


    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/datetime_group", form: form, post: @page, type: :page %>
      </div>

      <div class="col-12 col-sm-6">
        <%= form.label :status_id, "Publication Status" %><br>
        <div class="form-check" id="publication_status">

          <span class="d-inline-block mr-3">
            <%= form.radio_button :status_id, @draft.id, id: :page_status_id_draft, class: "form-check-input" %>

            <%= form.label :status_id_draft, class: "form-check-label", for: "page_status_id_draft" do %>
              <b>Draft</b>
            <% end %>
          </span>

          <span class="d-inline-block ml-3">
            <%= form.radio_button :status_id, @published.id, id: :page_status_id_published, class: "form-check-input" %>

            <%= form.label :status_id_published, class: "form-check-label", for: "page_status_id_published" do %>
              <b>Published</b>
            <% end %>
          </span>

        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <fieldset id="appearance">
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :css, "Page Specific CSS" %>
          <%= form.text_area :css, class: "form-control form-control-lg", rows: 10 %>
          <p class="form-text text-muted">
            <% if @page.new_record? %>
              After you save this
            <% else %>
              Prefix your CSS selectors with <b><code>#page-<%= @page.id %></code></b> to scope your styles to just this <i>Page</i>.
              For example, <code>#page-<%= @page.id %> b { background: green }</code>.
            <% end %>
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.check_box :hide_header %>
          <%= form.label :hide_header, "Hide the Site Header?" %>
          <p class="form-text text-muted">
            This will remove the site header/<wbr>nav/<wbr>search/<wbr>etc from this <i>Page</i> only.
          </p>
        </div>

        <div class="form-group">
          <%= form.check_box :hide_footer %>
          <%= form.label :hide_footer, "Hide the Site Footer?" %>
          <p class="form-text text-muted">
            This will remove the site footer from this <i>Page</i> only.
          </p>
        </div>

        <div class="form-group">
          <%= form.check_box :hide_layout %>
          <%= form.label :hide_layout, "Hide the Site Layout?" %>
          <p class="form-text text-muted">
            <b class="text-danger">Danger Zone&trade; &mdash; exercise caution with this option.</b>
            The will remove all of the wrapper layout.
            This <i>Page</i> will be responsible for <i>all</i> of its HTML,
            including <code>&lt;html&gt;</code>, <code>&lt;head&gt;</code>,
            <code>&lt;title&gt;</code>, <code>&lt;body&gt;</code> tags etc.
            Any <code>CSS</code> will have to be included in the
            <code>Content</code>, not the <code>Page Specific CSS</code>.
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>
<% end %>
