<%= form_with(model: [:admin, @page]) do |form| %>
  <%= render "admin/form_errors", thing: @page %>

  <div class="form-group">
    <%= form.label :slug, "URL Slug" %>
    <%= form.text_field :slug, class: "form-control form-control-lg" %>
  </div>
  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="syndication">
        <legend>Syndication</legend>
        <div class="form-group">
          <%= form.label :summary %>
          <%= form.text_area :summary, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">
            Maximum 200 characters.
            Used for page description and previews in story cards on other sites.
          </p>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6">
      <fieldset id="meta">
        <legend>Meta</legend>
        <div class="form-group">
          <%= form.label :tags %>
          <%= text_area_tag :tags, @page.tags.map{ |t| t.name }.join(", "), class: "form-control form-control-lg" %>
          <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
        </div>
      </fieldset>
    </div>
  </div>


    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/datetime_group", form: form, post: @page, type: :page %>
      </div>

      <div class="col-12 col-sm-6">
        <%= render 'admin/publication_status', form: form %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <fieldset id="appearance">
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :css, "Page Specific CSS" %>
          <%= form.text_area :css, class: "form-control form-control-lg", rows: 10 %>
          <p class="form-text text-muted">
            <% if @page.new_record? %>
              After you save this
            <% else %>
              Prefix your CSS selectors with <b><code>#page-<%= @page.id %></code></b> to scope your styles to just this <i>Page</i>.
              For example, <code>#page-<%= @page.id %> b { background: green }</code>.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>
<% end %>
