<%= form_with(model: [:admin, @page]) do |form| %>
  <%= render "admin/form_errors", thing: @page %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :slug, label_text: "URL Slug" %>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="syndication">
        <legend>Syndication</legend>

        <%= render "admin/label_and_area_form_group", form: form, attr: :summary %>
        <p class="form-text text-muted">
          Maximum 200 characters.
          Used for page description and previews in story cards on other sites.
        </p>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6">
      <fieldset id="meta">
        <legend>Meta</legend>
        <div class="form-group">
          <%= form.label :tags %>
          <%= text_area_tag :tags, @page.tags.map{ |t| t.name }.join(", "), class: "form-control form-control-lg" %>
          <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
        </div>
      </fieldset>
    </div>
  </div>


    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/datetime_group", form: form, post: @page, type: :page %>
      </div>

      <div class="col-12 col-sm-6">
        <%= render 'admin/publication_status', form: form %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>

  <fieldset id="appearance">
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :css, label_text: "CSS", rows: 10 %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :pages] %>
<% end %>
