<article>
  <div class="product-header-image">
    <%= image_tag "https://cloudfront.crimethinc.com/assets/tools/images/header.jpg", alt: "CrimethInc. zines, posters, stickers" %>
  </div>

  <header>
    <h1><%= t "views.products.tools_heading_text" %></h1>
  </header>

  <div class="e-content">
    <div class="intro">
      <%= render_markdown t("views.products.tools_intro_text") %>
    </div>

    <hr>

    <% [:zines, :journals, :posters, :videos, :stickers, :music, :logos].each do |tool| %>
      <div class="product-section">
        <h1 class="p-name"><%= link_to_tool tool: tool, type: :link %></h1>
        <%= render_markdown t("views.products.#{tool}_intro_text") %>
        <%= link_to_tool tool: tool, type: :button %>
        <br><br>
      </div>
    <% end %>

  </div><!-- .e-content -->
</article>
