<article>
  <div class="product-header-image">
    <%= image_tag "https://cloudfront.crimethinc.com/assets/tools/images/header.jpg", alt: "CrimethInc. zines, posters, stickers" %>
  </div>

  <header>
    <h1><%= t("views.products.tools_heading_text") %></h1>
  </header>

  <div class="e-content">
    <div class="intro">
      <%= render_markdown t("views.products.tools_intro_text") %>
    </div>

    <hr>

      <% [:zines, :posters, :stickers, :logos, :videos].each do |type| %>
        <div class="product-section">
          <h1 class="p-name"><%= link_to type.capitalize, [type] %></h1>
          <%= render_markdown t("views.products.#{type}_intro_text") %>
          <%= link_to "Browse All #{type.capitalize} →", [type], class: "download button" %><br><br>
        </div><!-- .row -->
      <% end %>

  </div><!-- .e-content -->
</article>
