<div class="h-entry tool">
  <div class="row">
    <div class="column column-one-third section meta">

      <% unless @tool.front_color_image_present? or @tool.front_black_and_white_image_present? %>
        <div class="tool-front">
          <%= image_tag @tool.front_image, alt: @tool.front_image_description, class: "u-image" %>
        </div>
      <% end %>

      <% %w[front back].each do |side| %>
        <% %w[color black_and_white].each do |color| %>
          <% if @tool.send("#{side}_#{color}_image_present?") %>

            <div class="tool-<%= side %>">
              <%= image_tag @tool.send("#{side}_#{color}_image"),
                            alt: @tool.send("#{side}_image_description"),
                            class: "u-image" %>
            </div>

          <% end %>
        <% end %>
      <% end %>

      <% if @tool.price_in_cents.present? %>
        <div id="buy-now">
          <%= button_to_buy_now price: @tool.price_in_cents, url: @tool.buy_url %>
        </div>
      <% end %>

      <div id="download">

        <% %w[front back].each do |side| %>
          <% %w[color black_and_white].each do |color| %>
            <% if @tool.send("#{side}_#{color}_download_present?") %>

              <div>
                <%= link_to t("views.tools.download_#{side}_#{color}_button_text"),
                            @tool.download_url(side: side, color: color),
                            class: "download button" %>
              </div>

            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if @tool.buy_info.present? %>
        <div class="buy-info">
          <%= render_markdown @tool.buy_info %>
        </div>
      <% end %>

      <div class="tool-specs">
        <ol>
          <li>
            <b>Size</b>
            <span>
              <%= @tool.width %>
              x
              <%= @tool.height %>
              <% if @tool.depth.present? %>
                x
                <%= @tool.depth %>
              <% end %>
            </span>
          </li>

          <% %w[weight pages words illustrations photographs printing ink definitions recipes cover_style binding_style].each do |spec| %>
            <% if @tool.respond_to?(spec) && @tool.send(spec).present? %>
              <li>
                <b><%= spec.titleize %></b>
                <span><%= render_markdown(@tool.send(spec)).delete("<p>").delete("</p>").html_safe %></span>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div> <!-- .tool-specs -->
    </div>

    <div class="column column-two-third section @tool-main">
      <header>
        <%= render "tools/nav" %>

        <%= render "articles/titles", header: @tool, linked: true %>
      </header>

      <div class="e-content">
        <div class="book-description">
          <%= render_markdown @tool.description %>
        </div>

        <div class="tool-content">
          <% if @tool.content.present? %>
            <%= render_markdown @tool.content %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
