<div id='search-card' class='alert alert-danger mb-5 d-none'>
  <h2 class='visually-hidden'><%= tt :search %></h2>

  <div class='row'>
    <div class='col-12 col-lg-4 mb-3'>
      <div class='mt-lg-4 mb-3 mb-md-0'>
        <p class='mb-1'>
          <%= render_markdown tt('cards.search.description'), remove_wrapper_p_tag: true %>
        </p>
        <%= render 'layouts/2025/site_search' %>
      </div>
      <%= link_to 'X', '#' %>
    </div>

    <div class='col-12 col-lg-8'>
      <b><%= tt 'cards.search.category_heading' %></b>
      <%= render_themed 'categories/list', categories: @categories %>

      <b><%= tt 'cards.search.chronological_heading' %></b>
      <%= render_themed 'years/list', years: @years %>
    </div>
  </div><!-- /.row -->
</div><!-- /#search -->
