<%= form_with(model: [:admin, redirect]) do |form| %>
  <%= render "admin/form_errors", thing: redirect %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :source_path, label_text: "FROM" %>
      <p class="form-text text-muted">The URL or path to redirect <b>from</b></p>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :target_path, label_text: "TO" %>
      <p class="form-text text-muted">The URL path to redirect <b>to</b></p>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <%= form.check_box :temporary %>
    <%= form.label :temporary %>

    <p class="form-text text-muted">
      By default, all Redirects are saved as a permanent redirect,
      <a href="https://http.cat/301"><code>301</code></a>.<br>
      By choosing <code>temporary</code>, it’ll be served as a temporary redirect
      <a href="https://http.cat/302"><code>302</code></a>.
    </p>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :redirects] %>
<% end %>
