<%= render "admin/page_header", thing: @redirects %>

<table class="table table-striped table-sm">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>From</th>
      <th>To</th>
      <th>HTTP</th>
    </tr>
  </thead>

  <tbody>
    <% @redirects.each do |redirect| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, redirect], class: "btn btn-light btn-sm border-secondary" %>
        </td>
        <td><%= link_to redirect.source_path, [:admin, redirect] %></td>
        <td><%= link_to redirect.target_path, [:admin, redirect] %></td>
        <td>
          <%= redirect_http_status_code redirect %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @redirects, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
