<%# Stickers %>
<header>
  <h1><%= t 'steal_something_from_work_day.outreach_materials.stickers.title' %></h1>
</header>

<p class='my-4'>
  <%= t 'steal_something_from_work_day.outreach_materials.stickers.description' %>
</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <%= card_tag t('steal_something_from_work_day.outreach_materials.stickers.cards').first %>

    <div class="card my-4">
      <img src="https://cloudfront.crimethinc.com/assets/articles/2018/04/13/1.jpg" class="card-img-top">
    </div><!-- .card -->
  </div>

  <div class="col-lg-6 mb-5">
    <%= card_tag t('steal_something_from_work_day.outreach_materials.stickers.cards').last %>
  </div>
</div>


<%# Posters %>
<header>
  <h1><%= t 'steal_something_from_work_day.outreach_materials.posters.title' %></h1>
</header>

<% if false %>
<p class='my-4'>
  <%= t 'steal_something_from_work_day.outreach_materials.posters.description' %>
</p>
<% end %>

<div class="row">
  <% t('steal_something_from_work_day.outreach_materials.posters.cards').each do |poster| %>
    <div class="col-lg-6 mb-5">
      <%= card_tag poster %>
    </div>
  <% end %>
</div>





<% if false %>



<header>
  <h1>Trifold</h1>
</header>

<p class="my-5">
  Print out these trifolds to spread the word. Slip them into lockers, leave them in a tip jar paper-clipped to your tip, give them out at the metro.
</p>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Front</h5>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold-2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Trifold Back</h5>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/i-heart-work-place-theft/i-heart-work-place-theft-1.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">I ❤️ Workplace Theft Front</h5>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/i-heart-work-place-theft/i-heart-work-place-theft.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/i-heart-work-place-theft/i-heart-work-place-theft-2.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">I ❤️ Workplace Theft Back</h5>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/i-heart-work-place-theft/i-heart-work-place-theft.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Postcard</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-front.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Front</h5>
        <p class="card-text">

        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/postcards/postcard-back.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Postcard Back</h5>
        <p class="card-text">

        </p>
        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/pamphlets/trifold.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->


<header>
  <h1>Journal</h1>
</header>

<div class="row">
  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-reading.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          An on-screen reading version of <a href="/zines/heist">the journal in color</a>.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_screen_single_page_view.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->

  <div class="col-lg-6 mb-5">
    <div class="card">
      <img src="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist-printing.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Heist (color)</h5>
        <p class="card-text">
          A black-and-white PDF of <i>Heist</i> imposed for printing.
        </p>

        <a href="https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/images/journals/heist/heist_print_black_and_white.pdf" class="btn btn-primary">Download PDF</a>
      </div>
    </div><!-- .card -->
  </div><!-- .col -->
</div><!-- .row -->

<% end %>


<div class='lead text-danger my-5 py-5'>
  <%= render_markdown t('steal_something_from_work_day.outreach_materials.abolish_capitalism') %>
</div>
