<div class="tool" id="<%= tool.slug %>">

  <header>
    <%= render_themed "articles/titles", header: tool, linked: true %>
  </header>

  <div class="e-content row">
    <div class="tool-main">
      <div class="row">
        <div class="column column-one-quarter logo-first-column">
          <div class="tool-front">
            <%= link_to tool.path do %>
              <%= image_tag image_variant_by_width(tool.image_jpg, @preview_width),
                            class: "u-image",
                            alt:   tool.description %>
            <% end %>
          </div> <!-- tool-front -->
        </div> <!-- logo-first-column -->

        <div class="column column-three-quarter logo-second-column">
          <header>
            <%= render_themed "articles/titles", header: tool, linked: true %>
          </header>

          <div class="p-summary">
            <%= render_markdown tool.summary %>
          </div>

          <p>
            <b>Size</b>
            <%= render_themed "tools/dimensions", tool: tool %>
          </p>

          <div class="buttons">
            <% if tool.image_jpg.present? %>

              <% Logo.image_formats.each do |extension| %>
                <% if tool.send("image_#{extension}").attached? %>
                  <%= link_to "Download .#{extension.upcase}", url_for(tool.send("image_#{extension}")), class: "download button" %>
                <% end %>
              <% end %>

            <% end %>
          </div><!-- .buttons -->
        </div> <!-- logo-second-column -->
      </div> <!-- row -->

    </div><!-- .tool-main -->
  </div><!-- .e-content -->

</div><!-- .tool -->
