<div class="tool" id="<%= tool.slug %>">

  <header>
    <%= render_themed "articles/titles", header: tool, linked: true %>
  </header>

  <div class="e-content row">
    <div class="tool-main">
      <div class="row">
        <div class="column column-one-quarter logo-first-column">
          <div class="tool-front">
            <% if tool.image_jpg.present? %>
              <%= link_to tool.path do %>
                <%= image_tag url_for(image_variant_by_width(tool.image_jpg, 240)), class: "u-image" %>
              <% end %>
            <% else %>
              <%= link_to image_tag(tool.front_image, alt: tool.front_image_description, class: "u-image"), tool.path %>
            <% end %>
          </div> <!-- tool-front -->
        </div> <!-- logo-first-column -->

        <div class="column column-three-quarter logo-second-column">
          <header>
            <%= render_themed "articles/titles", header: tool, linked: true %>
          </header>
          <div class="p-summary">
            <%= render_markdown tool.summary %>
          </div>
          <p>
            <b>Size</b>
            <%= render_themed "tools/dimensions", tool: tool %>
          </p>
          <div class="buttons">
            <% if tool.image_jpg.present? %>

              <% Logo.image_formats_map.each do |extension, attr_name| %>
                <% if tool.send(attr_name).attached? %>
                  <%= link_to "Download .#{extension.upcase}", url_for(tool.send(attr_name)), class: "download button" %>
                <% end %>
              <% end %>

            <% else %>

              <%# TEMP transitional %>
              <% Logo.image_formats_map.keys.each do |extension| %>
                <% if tool.send("#{extension}_url_present?") %>
                  <%= link_to "Download .#{extension.upcase}", tool.image_url(extension), class: "download button" %>
                <% end %>
              <% end %>

            <% end %>

            <%# TODO decide if to support ZIP file, if so… autogenerate it? %>
            <%#= link_to "Download .ZIP", tool.image_url(:zip), class: "download button" %>
          </div><!-- .buttons -->
        </div> <!-- logo-second-column -->
      </div> <!-- row -->

    </div><!-- .tool-main -->
  </div><!-- .e-content -->

</div><!-- .tool -->
