<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="downloads">Downloads</label>

      <p class="form-text text-muted">
        Downloads must be uploaded to
        <code><%= s3_folder_path resource: resource %></code>
        on S3/Cloudfront.
      </p>

      <% EbookFormat.all.each do |ebook_format| %>
        <div class="form-check mb-3">
          <%= form.label class: "form-check-label" do %>
            <%= form.check_box "#{ebook_format.slug}_download_present",
                               id: "book_#{ebook_format.slug}_download_present",
                               class: "form-check-input" %>

            <%= ebook_format.name %>

            <span class="form-text text-muted font-weight-normal">
              <%= render_markdown ebook_format.description %>

              <code>
                <%= s3_file_path resource: resource, ebook_format: ebook_format %>
              </code>
            </span>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div> <!-- .row -->
