<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="downloads">Downloads</label>

      <p class="form-text text-muted">
        Downloads must be uploaded to
        <code>
          /assets/<%= resource.namespace %>/<%= slug = resource.new_record? ? "[slug]" : resource.slug %>/
        </code>
        on S3/Cloudfront.
      </p>

      <% @ebook_formats.each do |type, labels| %>
        <div class="form-check mb-3">
          <%= form.check_box "#{type}_download_present", id: "book_#{type}_download_present", class: "form-check-input" %>

          <%= form.label "#{type}_download_present", class: "form-check-label" do %>
            <b><%= labels.first %>:</b>

            <span class="form-text text-muted font-weight-normal">
              <%= labels.last.html_safe %><br>

              <code>
                /assets/<%= resource.namespace %>/<%= slug %>/<b><%= slug %>_<%= type %>.<%= extension_for_ebook type %></b>
              </code>
            </span>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div> <!-- .row -->
