<%= form_with(model: [:admin, resource]) do |form| %>
  <%= render "admin/form_errors", thing: resource %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: "form-control form-control-lg" %>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control form-control-lg", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, class: "form-control form-control-lg", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>
    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :slug %>
        <%= form.text_field :slug, class: "form-control form-control-lg" %>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :gallery_images_count %>
        <%= form.text_field :gallery_images_count, class: "form-control form-control-lg" %>
        <p class="form-text text-muted">
          The number of <code>.jpg</code> gallery images that are uploaded to the
          <code>[slug]/gallery</code> folder?
        </p>
      </div>
    </div>
  </div>

  <%= render "admin/books/categories_form", form: form %>

  <%= render "admin/books/downloads_form", form: form, resource: resource %>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="purchasing">
    <legend>Purchasing</legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <%= form.label :buy_info, "Buying Info" %>
          <%= form.text_area :buy_info, class: "form-control form-control-lg", rows: 8 %>
          <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :buy_url, "Buy URL" %>
          <%= form.url_field :buy_url, class: "form-control form-control-lg" %>
        </div>

        <div class="form-group">
          <%= form.label :price_in_cents, "Price (in USD cents)" %>
          <%= form.text_field :price_in_cents, class: "form-control form-control-lg" %>
        </div>
      </div>
    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="syndication">
    <legend>Syndication</legend>
    <div class="row">

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :summary %>
          <%= form.text_area :summary, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">
            Maximum 200 characters.
            Used for page description and previews in story cards on other sites.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :published_at %>
          <%= form.date_select :published_at,
                            {start_year: Time.now.utc.year, end_year: 1995, include_blank: true},
                            class: "form-control form-control-lg" %>
        </div>
      </div>

    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="table-of-contents">
        <legend>Table of Contents</legend>

        <div class="form-group">
          <%= form.label :table_of_contents %>
          <%= form.text_area :table_of_contents, class: "form-control form-control-lg", rows: 10 %>
          <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
        </div>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6">
      <fieldset id="specs">
        <legend>Specs</legend>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :width %>
              <%= form.text_field :width, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :height %>
              <%= form.text_field :height, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :depth %>
              <%= form.text_field :depth, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :weight %>
              <%= form.text_field :weight, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :pages %>
              <%= form.text_field :pages, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :words %>
              <%= form.text_field :words, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div> <!-- .row -->


        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :illustrations %>
              <%= form.text_field :illustrations, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :photographs %>
              <%= form.text_field :photographs, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :cover_style, "Cover Style" %>
              <%= form.text_field :cover_style, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :binding_style, "Binding Style" %>
              <%= form.text_field :binding_style, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= form.label :printing, "Printing" %>
              <%= form.text_field :printing, class: "form-control form-control-lg" %>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <%= form.label :ink, "Ink" %>
              <%= form.text_field :ink, class: "form-control form-control-lg" %>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-6">
            <%= form.label :has_index, "Has Index?" %><br>

            <div class="form-check">
              <span class="d-inline-block mr-3">
                <%= form.radio_button :has_index, true, id: :book_has_index_true, class: "form-check-input" %>

                <%= form.label :has_index_true, class: "form-check-label" do %>
                  <b>Yes</b>
                <% end %>
              </span>

              <span class="d-inline-block ml-3">
                <%= form.radio_button :has_index, false, id: :book_has_index_false, class: "form-check-input" %>

                <%= form.label :has_index_false, class: "form-check-label" do %>
                  <b>No</b>
                <% end %>
              </span>
            </div>
          </div>

          <div class="col-6">
            <% if @book.slug == "recipes-for-disaster" %>
              <div class="form-group">
                <%= form.label :recipes %>
                <%= form.text_field :recipes, class: "form-control form-control-lg" %>
              </div>
            <% end %>

            <% if @book.slug == "contradictionary" %>
              <div class="form-group">
                <%= form.label :definitions %>
                <%= form.text_field :definitions, class: "form-control form-control-lg" %>
              </div>
            <% end %>
          </div>

        </div> <!-- .row -->
      </fieldset> <!-- #specs -->
    </div>
  </div> <!-- .row -->

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>
<% end %>
