<%= form_with(model: [:admin, resource]) do |form| %>
  <%= render "admin/form_errors", thing: resource %>

  <% if resource.is_a? Issue %>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="form-group">
          <%= form.label :journal_id, class: "h4" %><br>
          <%= form.collection_select :journal_id,
                                     Journal.all,
                                     :id,
                                     :name,
                                     { include_blank: true },
                                     class: "custom-select custom-select-lg" %>

          <p class="form-text text-muted">
            If it’s not here, you can
            <%= link_to "create a new journal. →", [:new, :admin, :journal], target: "_blank" %>
          </p>
        </div>
      </div><!-- .col -->

      <div class="col-12 col-lg-4">
        <%= render "admin/label_and_field_form_group", form: form, attr: :issue %>
      </div><!-- .col -->
    </div>
  <% end %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
  <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :description, rows: 8 %>
      <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 8 %>
      <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :slug %>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :gallery_images_count %>
      <p class="form-text text-muted">
        The number of <code>.jpg</code> gallery images that are uploaded to the
        <code>[slug]/gallery</code> folder?
      </p>
    </div>
  </div>
  <%= render "admin/books/categories_form", form: form %>

  <%= render "admin/books/downloads_form", form: form, resource: resource %>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="purchasing">
    <legend>Purchasing</legend>

    <div class="row">
      <div class="col-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :buy_info, label_text: "Buying Info" %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>

      <div class="col-6">
        <%= render "admin/label_and_field_form_group", form: form, attr: :buy_url, label_text: "Buy URL" %>
        <%= render "admin/label_and_field_form_group", form: form, attr: :price_in_cents, label_text: "Price (in USD cents)" %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="syndication">
    <legend>Syndication</legend>
    <div class="row">

      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :summary %>
        <p class="form-text text-muted">
          Maximum 200 characters.
          Used for page description and previews in story cards on other sites.
        </p>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :published_at %>
          <%= form.date_select :published_at,
                               { start_year: Time.now.utc.year, end_year: 1995, include_blank: true },
                               class: "form-control form-control-lg" %>
        </div>
      </div>

    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="table-of-contents">
        <legend>Table of Contents</legend>

        <%= render "admin/label_and_area_form_group", form: form, attr: :table_of_contents, rows: 10 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </fieldset>
    </div>

    <div class="col-12 col-sm-6">
      <fieldset id="specs">
        <legend>Specs</legend>

        <% %i[width height depth weight pages words illustrations photographs cover_style binding_style printing ink ].in_groups_of(2).each do |specs| %>
          <div class="row">
            <% specs.each do |spec| %>
              <div class="col-6">
                <%= render "admin/label_and_field_form_group", form: form, attr: spec %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="row">
          <div class="col-6">
            <%= form.label :has_index, "Has Index?" %><br>

            <div class="form-check">
              <span class="d-inline-block mr-3">
                <%= form.radio_button :has_index, true, id: :book_has_index_true, class: "form-check-input" %>

                <%= form.label :has_index_true, class: "form-check-label" do %>
                  <b>Yes</b>
                <% end %>
              </span>

              <span class="d-inline-block ml-3">
                <%= form.radio_button :has_index, false, id: :book_has_index_false, class: "form-check-input" %>

                <%= form.label :has_index_false, class: "form-check-label" do %>
                  <b>No</b>
                <% end %>
              </span>
            </div>
          </div>

          <div class="col-6">
            <% if @book.slug == "recipes-for-disaster" %>
              <%= render "admin/label_and_field_form_group", form: form, attr: :recipes %>
            <% end %>

            <% if @book.slug == "contradictionary" %>
              <%= render "admin/label_and_field_form_group", form: form, attr: :definitions %>
            <% end %>
          </div>

        </div> <!-- .row -->
      </fieldset> <!-- #specs -->
    </div>
  </div> <!-- .row -->

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>
<% end %>
