<%= render "admin/page_header", thing: @books %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, book], class: "btn btn-primary btn-xs" %>
        </td>
        <td><%= link_to book.title, [:admin, book] %></td>
        <td><%= book.subtitle %></td>
        <td>
          <%= link_to "DELETE", [:admin, book], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%= paginate @books, views_prefix: "admin" %>
</div>
