<%= render "admin/page_header", thing: @books %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Read PDF</th>
      <th>Print PDF</th>
      <th>ePub</th>
      <th>Mobi</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, book], class: "btn btn-primary btn-sm" %>
        </td>
        <td>
          <b class="h3"><%= link_to book.title, [:admin, book] %></b>
          <br>
          <%= book.subtitle %>
        </td>

        <td> <%= "✔️" if book.read_download_present? %> </td>
        <td> <%= "✔️" if book.print_download_present? %> </td>
        <td> <%= "✔️" if book.epub_download_present? %> </td>
        <td> <%= "✔️" if book.mobi_download_present? %> </td>

        <td>
          <%= link_to "DELETE", [:admin, book], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
