<%= form_with(model: [:admin, @locale]) do |form| %>
  <%= render "admin/form_errors", thing: @locale %>

  <div class="row">
    <div class="col-12 col-md-2">
      <%= render "admin/label_and_field_form_group", form: form, attr: :abbreviation %>
    </div>

    <div class="col-12 col-md-2">
      <div class="form-group">
        <%= form.label :language_direction, "Direction" %>
        <%= form.select :language_direction,
                        Locale.language_directions.keys,
                        {},
                        class: "form-control form-control-lg text-uppercase" %>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <%= render "admin/label_and_field_form_group", form: form, attr: :name_in_english, label_text: "Name in English" %>
    </div>

    <div class="col-12 col-md-4">
      <%= render "admin/label_and_field_form_group", form: form, attr: :name %>
    </div>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :locales] %>
<% end %>
