<%= render "admin/page_header", thing: @locales %>

<table class="table table-striped table-sm mb-5">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Abbreviation</th>
      <th>Name in English</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Language Direction</th>
    </tr>
  </thead>

  <tbody>
    <% @locales.each do |locale| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, locale], class: "btn btn-light border-secondary btn-sm" %>
        </td>
        <td class="text-uppercase"><%= locale.abbreviation %></td>
        <td><%= locale.name_in_english %></td>
        <td><%= locale.name %></td>
        <td><%= locale.slug %></td>
        <td><%= locale.language_direction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @locales, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
