<h1>Pamphlets from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image "https://cloudfront.crimethinc.com/assets/books/work/extras/images/mythology-of-work-small.gif" %>

    <p>
      <a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/mythology-of-work-mobile.pdf">Screen PDF [5.2MB]</a><br>
      <a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/mythology-of-work-print.pdf">Print PDF [4.6MB]</a>
    </p>
  </div>

  <div class="column column-one-third">
    <p><b>Screen</b> versions are for reading on screens of any size and are optimized for small displays and tablets.</p>

    <p><b>Print</b> versions are black and white, ready for reproduction as half-size pamphlets, imposed on 8.5x11 pages.</p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/the-climate-is-changing-small.gif") %>

    <p>
      <a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/the-climate-is-changing-mobile.pdf">Screen PDF [1.2MB]</a><br>
      <a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/the-climate-is-changing-print.pdf">Print PDF [1.6MB]</a>
    </p>
  </div>
</div>

<h1>Posters from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/show-them-whos-boss-no-one-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/show-them-whos-boss-no-one.pdf">Download PDF [87k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/dont-let-them-crush-the-life-out-of-you-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/dont-let-them-crush-the-life-out-of-you.pdf">Download PDF [127k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/play-with-a-full-deck-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/play-with-a-full-deck.pdf">Download PDF [538k]</a></p>
  </div>
</div>

<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/your-leaders-cant-protect-you-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/your-leaders-cant-protect-you.pdf">Download PDF [318k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/your-leaders-wont-save-you-small.jpg") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/your-leaders-wont-save-you.pdf">Download PDF [1.8MB]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/wash-hands-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/wash-hands.pdf">Download PDF [48k]</a></p>
  </div>
</div>


<h1>Posters Born from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/capitalism-is-armed-robbery-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/capitalism-is-armed-robbery.pdf">Download PDF [46k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/capitalism-is-organized-crime-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/capitalism-is-organized-crime.pdf">Download PDF [46k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/capitalism-is-a-rip-off-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/capitalism-is-a-rip-off.pdf">Download PDF [32k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/my-body-keep-out-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/my-body-keep-out.pdf">Download PDF [234k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/file-under-death-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/file-under-death.pdf">Download PDF [40k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/how-to-remove-politicians-from-office-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/how-to-remove-politicians-from-office.pdf">Download PDF [42k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/a-face-you-can-trust-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/a-face-you-can-trust.pdf">Download PDF [126k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/work-poster-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/work-poster.pdf">Download PDF [33k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/together-we-are-stronger-than-them-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/together-we-are-stronger-than-them.pdf">Download PDF [190k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/lies-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/lies.pdf">Download PDF [28k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/police-are-puppets-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/police-are-puppets.pdf">Download PDF [48k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/when-they-fire-you-quit-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/when-they-fire-you-quit.pdf">Download PDF [72k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= thumbnail_link_to_large_image("https://cloudfront.crimethinc.com/assets/books/work/extras/images/dont-try-to-break-us-well-explode-small.gif") %>

    <p><a class="button" href="https://cloudfront.crimethinc.com/assets/books/work/extras/pdfs/dont-try-to-break-us-well-explode.pdf">Download PDF [28k]</a></p>
  </div>
</div>

