<article>
  <header>
    <%= render_themed "tools/nav" %>

    <h1><%= t("views.tools.#{@type}_heading_text") %></h1>
  </header>

  <div class="e-content intro">
    <%= render_markdown t("views.tools.#{@type}_intro_text") %>
  </div>

  <% @tools.each do |tool| %>
    <%= render_themed "tools/tool", tool: tool.preferred_localization %>

    <hr style="margin-bottom: 5rem">
  <% end %>
</article>

<div class="pagination-container">
  <ul class="pagination">
    <li class="page">
      <%= link_to_previous_page @tools, t("views.pagination.previous_page").html_safe %>
    </li>

    <li class="page">
      <%= link_to_next_page @tools, t("views.pagination.next_page").html_safe %>
    </li>
  </ul>
</div>
