<div class="h-feed">
  <header>
    <h1><%= t "library.title" %></h1>

    <%= image_tag 'https://cloudfront.crimethinc.com/assets/pages/library/header.jpg' %>
  </header>

  <div class="intro">
    <%= render_markdown t("library.intro") %>
  </div>

  <div id="theme">
    <header>
      <h2><b><%= t "library.sections.theme.title" %></b></h2>
    </header>

    <div class="intro">
      <p id="categroies">
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category.slug) %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="years">
    <header>
      <h2><b><%= t "library.sections.chronological.title" %></b></h2>
    </header>

    <div class="intro">
      <p>
        <% (1996..Time.current.year).to_a.reverse_each do |year| %>
          <%= link_to year, article_archives_path(year: year) %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="samples">
    <header>
      <h2><b><%= t "library.sections.sample.title" %></b></h2>
    </header>

    <% t("library.links").to_a.in_groups_of(2) do |group| %>
      <div class="row">

        <% group.each do |section, links| %>
          <div class="column column-half section h-entry">
            <h1 id="<%= section.to_s.downcase.sub(' ', '-') %>"><%= section %></h1>

            <div class="e-content">
              <%= image_tag_for_library_section links %>

              <ul>
                <% links.each do |link| %>
                  <li><%= link_to link[:name], link[:path] %></li>
                <% end %>
              </ul>
            </div> <!-- .e-content -->
          </div> <!-- .h-entry -->
        <% end %>

      </div> <!-- .row -->
    <% end %>
  </div>
</div>
