<% content_for(:head) do %>
  <%= rel_next_prev_link_tags @article_archive.articles %>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-lg-8'><!-- TEMP LEFT COLUMN -->
      <header class='titles pb-3 mb-4 border-bottom'>
        <h1>
          <%= tt :archives %>

          <span class='fw-normal'>
            :
            <time datetime='<%= [@article_archive.year, @article_archive.month, @article_archive.day].compact.join '-' %>'>
              <%= link_to_dates(year: @article_archive.year, month: @article_archive.month, day: @article_archive.day) %>
            </time>
          </span>
        </h1>
      </header>

      ARTICLES GO HERE Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div><!-- /TEMP LEFT COLUMN -->

    <div class='col-md-6 col-lg-4'><!-- /TEMP RIGHT COLUMN -->
      <header class='titles pb-3 mb-2 border-bottom fw-normal'>
        <h1 class='fw-normal'>See also…</h1>
        <h2 class='fw-normal'>Explore The Archives</h2>
      </header>

      <div id='categories' class='mb-5 pt-3'>
        <h2 class='h4 fw-bold'>
          <%= link_to 'Navigate by theme', '#categories' %>
        </h2>

        <ul class='list-inline underlined-links lh-lg'>
          <% @categories.each do |category| %>
            <% classes = 'pe-2 me-1 border-end' unless category == @categories.last %>
            <li class='list-inline-item me-0'>
              <%= link_to category.name, category.path, class: classes %>
            </li>
          <% end %>
        </ul>
      </div>

      <div id='years' class='mb-5 pt-3'>
        <h2 class='h4 fw-bold'>
        <%= link_to 'Navigate chronologically', '#years' %>
        </h2>

        <ul class='list-inline underlined-links lh-lg'>
          <% @years.each do |year| %>
            <% classes = 'pe-2 me-1 border-end' unless year == @years.last %>
            <li class='list-inline-item me-0'>
              <%= link_to year, [:article_archives, year: year], class: classes %>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!-- /TEMP RIGHT COLUMN -->
  </div><!-- .row -->
</div>

<% if false %>

<div class="h-feed">
  <% @article_archive.each do |year, months| %>
    <% months.sort.reverse_each do |month, articles| %>

      <% unless @article_archive.day.present? || @article_archive.month.present? %>
        <h1 class="year-month"><%= link_to_dates(year: year, month: month) %></h1>
      <% end %>

      <%= render_themed "articles/list", articles: articles %>

    <% end %>
  <% end %>
</div>

<%= paginate @article_archive %>

<div class="pagination-container">
  <ul class="pagination">
    <% if @article_archive.paginator.next? %>
      <li class="page">
        <%= link_to @article_archive.paginator.next_label, @article_archive.paginator.next_path %>
      </li>
    <% end %>

    <% if @article_archive.paginator.previous? %>
      <li class="page">
        <%= link_to @article_archive.paginator.previous_label, @article_archive.paginator.previous_path %>
      </li>
    <% end %>
  </ul>
</div>

<% end %>
