<li>
  <article class="h-entry">
    <div class="row">
      <div class="<%= "column" if result.searchable.image.present? %> column-one-third">
        <% if result.searchable.present? && result.searchable.image.present? %>
          <%= link_to image_tag(result.searchable.image, class: "u-photo header-image", alt: result.searchable.title), result.searchable.path %>
        <% end %>
      </div>

      <div class="<%= "column" if result.searchable.image.present? %> column-two-third">
        <header>
          <%= render "articles/titles", header: result.searchable, linked: true %>

          <p class="screen-reader-only">
            <time class="dt-published" datetime="<%= display_date result.searchable.published_at if result.searchable.published_at.present? %>">
              <b>Published</b>
              <%= display_date result.searchable.published_at %>
            </time>

          </p>
        </header>
      </div>
    </div>
  </article>
</li>
