<h1>Advanced Search</h1>

<%= form_with model: @advanced_search do |form| %>
  <fieldset>
    <%= form.label :term, "Search" %>
    <%= form.text_field :term, class: "simple-field" %>
  </fieldset>

  <fieldset>
    <%= form.label :title %>
    <%= form.text_field :title, class: "simple-field" %>
  </fieldset>

  <fieldset>
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: "simple-field" %>
  </fieldset>

  <fieldset>
    <%= form.label :content %>
    <%= form.text_field :content, class: "simple-field" %>
  </fieldset>

  <fieldset>
    <%= form.label :tag, "Tags" %>
    <%= form.text_field :tag, class: "simple-field" %>

    <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
  </fieldset>

  <fieldset>
    <%= form.label :category, "Categories" %>
    <%= form.text_field :category, class: "simple-field" %>

    <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
  </fieldset>

  <%= form.submit "Search", class: "button" %>
<% end %>
