<div class="title-container">
  <h1><%= t '.title_html' %></h1>
  <h4><%= t '.subtitle_html' %></h4>

  <div class="call-to-action">
    <%= link_to '#video-container', class: 'cte-video fancybox' do %>
      <%= tce_image_tag 'video-play-icon-300.png' %>

      <p><%= t '.video_cte' %></p>
    <% end %>

    <div class="cte-spacer"></div>

    <%= link_to t('.pdf_get_url'), class: 'cte-pdf' do %>
      <%= tce_image_tag t('.pdf_image') %>

      <p><%= t '.pdf_cte_html' %></p>
    <% end %>
  </div>
</div>

<div class="primary">
  <%= render 'to_change_everything/spread', section: 'intro' %>

  <% tce_sections.each do |section| %>
    <%= render 'to_change_everything/spread_with_image', section: section %>
  <% end %>

  <%= render 'to_change_everything/anarchy' %>
  <%= render 'to_change_everything/spread', section: 'outro' %>

  <div class="spread" id="takeflight">
    <h1><%= t '.take_flight_html' %></h1>
  </div>

  <div class="spread" id="next">
    <h1><%= link_to t('.next_text'), t('.next_path') %></h1>
  </div>
</div>
