<div class="cover">
  <div class="title">
    <h1><%=t('.title_html')%></h1>
    <h4><%=t('.subtitle_html')%></h4>
  </div>

  <div id="videopdf">
    <a class="fancybox" href="#video-container"><div id="video"><img src="https://cloudfront.crimethinc.com/tce/images/video-play-icon-300.png" /><p><%=t('.video_cte')%></p></div></a>
    <a href="<%=t('.pdf_get_url')%>"><div id="pdf"><div id="pdfleft"><img src="https://cloudfront.crimethinc.com/tce/images/<%=t('.pdf_image').html_safe%>" /></div><div id="pdfright"><p><%=t('.pdf_cte_html')%></p></div></div></a>
  </div>
</div>

<div class="primary">
  <div class="spread" id="intro">
    <div class="leftintro">
      <div class="lefttext">
        <%=t('.intro.left_text_html')%>
      </div>
    </div>

    <div class="rightintro">
      <h3><%=t('.intro.right_text_html')%></h3>
    </div>
  </div>

  <div class="spread" id="self">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/self-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/self-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/self-phone.jpg, https://cloudfront.crimethinc.com/tce/images/self-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/self-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/self-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/self-small.jpg, https://cloudfront.crimethinc.com/tce/images/self-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/self-large.jpg, https://cloudfront.crimethinc.com/tce/images/self-large@2x.jpg"
           alt="shadow of a person climbing over a barbed-wire fence"
           />
      <h2><%=t('.self.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.self.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="answering">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/answering-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/answering-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/answering-phone.jpg, https://cloudfront.crimethinc.com/tce/images/answering-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/answering-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/answering-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/answering-small.jpg, https://cloudfront.crimethinc.com/tce/images/answering-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/answering-large.jpg, https://cloudfront.crimethinc.com/tce/images/answering-large@2x.jpg"
           alt="1968 Olympics Black Power salute raised by the African-American athletes Tommie Smith and John Carlos during their medal ceremony at the 1968 Summer Olympics in the Olympic Stadium in Mexico City. As they turned to face their flags and hear the American national anthem, they each raised a black-gloved fist and kept them raised until the anthem had finished"
           />
      <h2><%=t('.answering.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.answering.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="power">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/power-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/power-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/power-phone.jpg, https://cloudfront.crimethinc.com/tce/images/power-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/power-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/power-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/power-small.jpg, https://cloudfront.crimethinc.com/tce/images/power-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/power-large.jpg"
           alt="a worker in a gold mine confronts soldier keeping guard and grabs his rifle by the barrel as a crowd of workers watch"
           />      
      <h2><%=t('.power.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.power.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="relationships">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/relationships-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/relationships-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/relationships-phone.jpg, https://cloudfront.crimethinc.com/tce/images/relationships-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/relationships-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/relationships-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/relationships-small.jpg, https://cloudfront.crimethinc.com/tce/images/relationships-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/relationships-large.jpg"
           alt="at night, lit by streetlights, young protestors in Turkey form a fire-brigade-line to transport cobblestones to the front lines of a conforntation with police"
           />
      <h2><%=t('.relationships.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.relationships.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="reconciling">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/reconciling-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/reconciling-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/reconciling-phone.jpg, https://cloudfront.crimethinc.com/tce/images/reconciling-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/reconciling-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/reconciling-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/reconciling-small.jpg, https://cloudfront.crimethinc.com/tce/images/reconciling-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/reconciling-large.jpg, https://cloudfront.crimethinc.com/tce/images/reconciling-large@2x.jpg"
           alt="kid hugging tree in forest, looking up into the canopy"
           />
      <h2><%=t('.reconciling.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.reconciling.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="liberation">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/liberation-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/liberation-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/liberation-phone.jpg, https://cloudfront.crimethinc.com/tce/images/liberation-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/liberation-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/liberation-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/liberation-small.jpg, https://cloudfront.crimethinc.com/tce/images/liberation-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/liberation-large.jpg"
           alt="two protestors, adorned with gas masks and balaclavas, dance the tango together in the street"
           />
      <h2><%=t('.liberation.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.liberation.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="revolt">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-phone.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-small.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-large.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.revolt.image_name').html_safe%>-large@2x.jpg"
           alt="A anonymous man stands in front of a column of tanks on June 5, 1989, the morning after the Chinese military had suppressed the Tiananmen Square protests of 1989 by force, who later became known as the Tank Man. The tanks manoeuvred to pass by the man, and he moved to continue to obstruct them, in something like a dance."
           />
      <h2><%=t('.revolt.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.revolt.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="control">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/control-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/control-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/control-phone.jpg, https://cloudfront.crimethinc.com/tce/images/control-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/control-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/control-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/control-small.jpg, https://cloudfront.crimethinc.com/tce/images/control-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/control-large.jpg"
           alt="a cop dressed in fancy riot gear leans out of his open patrol car door and uses a camcorder to record protestors who are not pictured"
           />
      <h2><%=t('.control.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.control.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="hierarchy">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/hierarchy-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/hierarchy-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/hierarchy-phone.jpg, https://cloudfront.crimethinc.com/tce/images/hierarchy-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/hierarchy-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/hierarchy-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/hierarchy-small.jpg, https://cloudfront.crimethinc.com/tce/images/hierarchy-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/hierarchy-large.jpg, https://cloudfront.crimethinc.com/tce/images/hierarchy-large@2x.jpg"
           alt="a mustachioed cop in riot gear wearing aviator sunglasses stands guard in fron of severl Ku Klux Klan members in full robes, one of whom carries a American flag"
           />
      <h2><%=t('.hierarchy.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.hierarchy.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="borders">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-phone.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-small.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-large.jpg, https://cloudfront.crimethinc.com/tce/images/<%=t('.borders.image_name').html_safe%>-large@2x.jpg"
           alt="a grouple of people sits upon a tall boundary fence they have climbed"
           />
      <h2><%=t('.borders.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.borders.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="representation">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/representation-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/representation-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/representation-phone.jpg, https://cloudfront.crimethinc.com/tce/images/representation-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/representation-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/representation-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/representation-small.jpg, https://cloudfront.crimethinc.com/tce/images/representation-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/representation-large.jpg"
           alt="a woman of asian ethnicity works as a mannequin factory stocking a shelves that are full of caucasian mannequin heads"
           />
      <h2><%=t('.representation.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.representation.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="leaders">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/leaders-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/leaders-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/leaders-phone.jpg, https://cloudfront.crimethinc.com/tce/images/leaders-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/leaders-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/leaders-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/leaders-small.jpg, https://cloudfront.crimethinc.com/tce/images/leaders-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/leaders-large.jpg"
           alt="a portly politician talks into a bouquet of press microphones that surround him"
           />
      <h2><%=t('.leaders.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.leaders.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="government">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/government-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/government-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/government-phone.jpg, https://cloudfront.crimethinc.com/tce/images/government-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/government-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/government-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/government-small.jpg, https://cloudfront.crimethinc.com/tce/images/government-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/government-large.jpg, https://cloudfront.crimethinc.com/tce/images/government-large@2x.jpg"
           alt="large conference table at which world leaders are seated, surrounded by press and their minions, a summitt meeting with greek columns of marble and a traditional fresco in the dome above"
           />
      <h2><%=t('.government.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.government.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="profit">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/profit-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/profit-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/profit-phone.jpg, https://cloudfront.crimethinc.com/tce/images/profit-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/profit-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/profit-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/profit-small.jpg, https://cloudfront.crimethinc.com/tce/images/profit-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/profit-large.jpg, https://cloudfront.crimethinc.com/tce/images/profit-large@2x.jpg"
           alt="a chauffeur holds open the door to a large Audi as a wealthy businessman exits a helicopter and proceeds across the helipad towards the car"
           />
      <h2><%=t('.profit.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.profit.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="property">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/property-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/property-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/property-phone.jpg, https://cloudfront.crimethinc.com/tce/images/property-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/property-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/property-tablet@2x.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/property-small.jpg, https://cloudfront.crimethinc.com/tce/images/property-small@2x.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/property-large.jpg, https://cloudfront.crimethinc.com/tce/images/property-large@2x.jpg"
           alt="an abandoned building, now occupied, with protest banners in the window, being used as community organizing location"
           />
      <h2><%=t('.property.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.property.right_text_html')%>
      </div>
    </div>
  </div>

  <div class="spread" id="lastcrime">
    <div class="left">
      <img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
           class="responsive-image"
           data-responsimg-phonesmall="https://cloudfront.crimethinc.com/tce/images/lastcrime-phonesmall.jpg, https://cloudfront.crimethinc.com/tce/images/lastcrime-phonesmall@2x.jpg"
           data-responsimg-phone="https://cloudfront.crimethinc.com/tce/images/lastcrime-phone.jpg, https://cloudfront.crimethinc.com/tce/images/lastcrime-phone@2x.jpg"
           data-responsimg-tablet="https://cloudfront.crimethinc.com/tce/images/lastcrime-tablet.jpg, https://cloudfront.crimethinc.com/tce/images/lastcrime-large.jpg"
           data-responsimg-small="https://cloudfront.crimethinc.com/tce/images/lastcrime-small.jpg, https://cloudfront.crimethinc.com/tce/images/lastcrime-large.jpg"
           data-responsimg-large="https://cloudfront.crimethinc.com/tce/images/lastcrime-large.jpg"
           alt="a protestor with his face concealed in the act of throwing a lit molotov cocktail during a protest, in front of a huge concrete wall"
           />
      <h2><%=t('.last_crime.left_text_html')%></h2>
    </div>

    <div class="right">
      <div class="righttext">
        <%=t('.last_crime.right_text_html')%>
      </div>
    </div>
  </div>

  <div id="anarchy">
    <div class="first">
      <%=t('.anarchy.first_html')%>
    </div>

    <div class="second">
      <%=t('.anarchy.second_html')%>
    </div>

    <div class="third">
      <%=t('.anarchy.third_html')%>
      <img src="https://cloudfront.crimethinc.com/tce/images/circle-a-logo-hands-white-large@2x.png" />
    </div>
  </div>

  <div class="spread" id="outro">
    <div class="leftintro">
      <div class="lefttext">
        <%=t('.outro.left_text_html')%>
      </div>
    </div>

    <div class="rightintro">
      <h3><%=t('.outro.right_text_html')%></h3>
    </div>
  </div>

  <div class="spread" id="takeflight">
    <h1><%=t('.take_flight')%></h1>
  </div>

  <div class="spread" id="next">
    <h1><%=t('.next_html')%></h1>
  </div>
</div>
