<div id="categorization" class="row pt-5">
  <div class="col-12 col-sm-6">
    <% unless @collection.present? %>

      <fieldset id="categories">
        <label class="h4">Categories</label>

        <div class="form-check">
          <% @categories.in_groups_of(2).each do |group| %>

            <div class="row">
              <% group.each do |category| %>
                <div class="col-6">
                  <% if category.present? %>

                    <%= form.label "category_ids_#{category.id}", class: "form-check-label" do %>
                      <%= category_check_box form: form, category: category %>

                      <b><%= category.name %></b>
                    <% end %>

                  <% end %>
                </div>
              <% end %>
            </div><!-- .row -->

          <% end %>
        </div><!-- .form-group -->
      </fieldset>

    <% end %>
  </div><!-- .col -->

  <div class="col-12 col-sm-6">
    <div class="form-group">
      <%= form.label :tags, "Tags", class: "h4" %>
      <%= text_field_tag :tags, @article.tags.map(&:name).join(", "), class: "form-control form-control-lg" %>
      <p class="form-text text-muted">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
    </div>

    <hr class="my-5">

    <% unless @collection.present? %>
      <div class="form-group">
        <%= form.label :short_path, "Short URL Path" %>
        <%= form.text_field :short_path, class: "form-control form-control-lg" %>
      </div>
    <% end %>

    <%= render 'admin/publication_status', form: form %>
  </div><!-- .col -->

  <%= render "admin/articles/back_to_top" %>
</div><!-- #categorization.row -->
