<%= form_for [:admin, @article] do |f| %>
  <%= render "admin/form_errors", thing: @article %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <fieldset id="meta">
    <legend>Meta</legend>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :slug, "URL Slug" %>
          <%= f.text_field :slug, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :categories %>
          <%= text_field_tag :categories, @article.categories.map{ |c| c.name }.join(", "), class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :tags %>
          <%= text_field_tag :tags, @article.tags.map{ |t| t.name }.join(", "), class: "form-control" %>
          <p class="help-block">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
        </div>
      </div>
    </div>

    <%= render "admin/datetime_group", f: f, article: @article %>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :status, "Publication Status" %>
          <%= f.text_field :status, class: "form-control" %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset id="page">
    <legend>Page</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.check_box :page %>
          <%= f.label :page, "Make This a Page?" %>
          <p class="help-block">
            A <i>Page</i> will not appear in the <i>Articles</i> feed.
            Its URL path is set by its <code>page_path</code>.
            It does not include <code>/YEAR/MONTH/DAY</code> in its URL.
            For example, you might create a Page called <i>About Us</i> with the slug of &ldquo;<i>about</i>&rdquo;. That Page&rsquo;s URL path would be <code>/about</code>.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :page_path, "URL Path for Pages" %>
          <%= f.text_field :page_path, class: "form-control" %>
          <p class="help-block">
            A <code>page_path</code> is similar to a slug but it can have <code>/</code>s in it.
            For example, <code>about/us</code>.
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <fieldset id="appearance">
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.label :image, "Hero Image" %>
        <%= f.text_field :image, class: "form-control input-lg" %>
        <p class="help-block">
          This is the large image that will be front and center on the article page,
          on the homepage and when syndicated to other sites. Minimum size: <code>1400x1000</code> pixels.
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :image_description, "Hero Image Description" %>
          <%= f.text_field :image_description, class: "form-control input-lg" %>
          <p class="help-block">
            This is used for the <code>&lt;img&gt;</code>&rsquo;s <code>alt</code> text.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <% if action_name == "edit" %>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <%= f.label :css, "Article Specific CSS" %>
            <%= f.text_area :css, class: "form-control", rows: 20 %>
            <p class="help-block">
              Prefix your CSS selectors with <code>#article-<%= @article.id %></code> to scope your styles to just this article.
              For example, <code>#article-<%= @article.id %> b { background: green }</code>.
            </p>
          </div>
        </div>
      <% end %>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <br class="hidden-xs">
          <%= f.check_box :pinned_to_top %>
          <%= f.label :pinned_to_top, "Pin to Top of Homepage?" %>
          <p class="help-block">
            This <i>Pinned Article</i> will remain at the top of the homepage until it&rsquo;s unpinned
            or until a newer article is pinned.
          </p>
        </div>

        <div class="form-group">
          <%= f.check_box :pinned_to_bottom %>
          <%= f.label :pinned_to_bottom, "Pin to Bottom of Homepage?" %>
          <p class="help-block">
            This <i>Pinned Article</i> will remain at the bottom of the homepage until it&rsquo;s unpinned
            or until a newer article is pinned.
          </p>
        </div>

        <div class="form-group">
          <%= f.check_box :hide_header %>
          <%= f.label :hide_header, "Hide the Site Header?" %>
          <p class="help-block">
            This will remove the site header/<wbr>nav/<wbr>search/<wbr>etc from this Article only.
          </p>
        </div>

        <div class="form-group">
          <%= f.check_box :hide_footer %>
          <%= f.label :hide_footer, "Hide the Site Footer?" %>
          <p class="help-block">
            This will remove the site footer from this Article only.
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

<% end %>
