<%= form_for [:admin, @article] do |f| %>
  <%= render "admin/form_errors", thing: @article %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.text_field :status, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= render "admin/datetime_group", f: f, article: @article %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :categories %>
        <%= text_field_tag :categories, @article.categories.map{ |c| c.name }.join(", "), class: "form-control" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :tags %>
        <%= text_field_tag :tags, @article.tags.map{ |t| t.name }.join(", "), class: "form-control" %>
        <p class="help-block">Comma separated. <em>E.g., police, tactics, etc</em></p>
      </div>
    </div>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= f.label :pinned %>
        <%= f.check_box :pinned %>
        <p class="help-block">A <i>Pinned Article</i> will remain at the top of the homepage until it&rsquo;s unpinned.</p>
      </div>
    </div>
  </div>

  <% if action_name == "edit" %>
    <div class="form-group">
      <%= f.label :css, "Article Specific CSS" %>
      <%= f.text_area :css, class: "form-control", rows: 10 %>
      <p class="help-block">Prefix your CSS selectors with <code>#article-<%= @article.id %></code> to scope your styles to just this article.</p>
    </div>
  <% end %>
<% end %>
