<nav class="mb-5">
  <p class="h6 text-muted">Jump to</p>
  <%= link_to "Date + Time",    "#datetime",       class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Categorization", "#categorization", class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Syndication",    "#syndication",    class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Appearance",     "#appearance",     class: "btn btn-outline-primary mb-2 mr-2" %>

  <%= link_to [:admin, :markdown], class: "btn btn-outline-primary mb-2 mr-2", target: "_blank" do %>
    <span class="badge badge-secondary">MD</span>
    Markdown Cheatsheet
  <% end %>
</nav>

<%= form_with(model: [:admin, @article], id: "article-form") do |form| %>
  <%= render "admin/form_errors", thing: @article %>

  <%# For nested Articles, a la live blogs %>
  <%= form.hidden_field :collection_id, value: @collection&.id %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
  <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

  <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 10 %>
  <p class="form-text text-muted">
    You can apply color to any item by putting a CSS directive on the immediate line after it.
    <code>{: .COLOR}</code>.<br>

    Allowed colors are:
    <code> {: .darkgreen} {: .darkred} {: .deeppink} {: .goldenrod} {: .olive} {: .slategray} {: .steelblue} </code>
  </p>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <div id="datetime" class="py-5">
    <% if @article.draft? %>
      <div class="row">
        <div class="col-12 col-lg-8">

          <div class="card">
            <h4 class="card-header bg-primary text-white"><b>To Future Publish…</b></h4>

            <div class="card-body">
              <p class="card-text">
                <%= render "admin/datetime_group", form: form, post: @article, type: :article %>
              </p>

              <div class="text-right">
                <%= button_tag "Save", class: "btn btn-primary btn-lg" %>
              </div>
            </div>
          </div>

        </div><!-- .col -->

        <div class="col-12 col-lg-4">

          <div class="card">
            <h4 class="card-header bg-warning"><b>To Publish Now…</b></h4>

            <div class="card-body">
              <p class="card-text">
                If you want to publish this article <b>right now</b>, you can with one click.
                If you click the <b>Publish NOW!</b> button, the <code>published_at</code>
                will be set to now and the <code>publication_status</code> will be set to
                <i>Published</i>. This article will immediately show up in
                the homepage feed.

                <noscript><p><b>Requires Javascript</b> to be turned on to work.</p></noscript>
              </p>

              <div class="text-right">
                <%= link_to "Publish NOW!", "#", id: "publish-now", class: "btn btn-warning btn-lg" %>
              </div>
            </div>
          </div>

        </div><!-- .col -->
      </div><!-- .row -->

    <% else %>
      <%= render "admin/datetime_group", form: form, post: @article, type: :article %>
    <% end %>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #datetime -->

  <%= render "admin/articles/categories_form", form: form %>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <div id="syndication" class="pt-5">
    <fieldset>
      <legend>Syndication</legend>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= form.label :tweet %>
            <%= form.text_area :tweet, class: "form-control form-control-lg", data: { 'max-length': '250', 'feedback-box': 'tweet-length' } %>
            <div id="tweet-length"></div>
            <p class="form-text text-muted">
              Maximum 250 characters to leave room for the <code>t.co</code> short URL that Twitter creates.
              Used for syndicated tweet for this Article.
            </p>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= form.label :summary %>
            <%= form.text_area :summary, class: "form-control form-control-lg", data: { 'max-length': '150', 'feedback-box': 'summary-length' } %>
            <div id="summary-length">0</div>
            <p class="form-text text-muted">
              Maximum 150 characters.
              Used for page description and previews in story cards on other sites.
            </p>
          </div>
        </div>
      </div>
    </fieldset>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #syndication -->

  <% unless @collection.present? %>
    <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
  <% end %>

  <div id="appearance" class="py-5">
    <fieldset>
      <legend>Appearance</legend>

      <%= render "admin/label_and_field_form_group", form: form, attr: :image %>
      <p class="form-text text-muted">
        This is the large image that will be front and center on the <i>Article</i> page,
        on the homepage and when syndicated to other sites. Preferred size:
        <code>2000px wide</code> by about <code>1000px tall or more</code>.
      </p>

      <%= render "admin/label_and_field_form_group", form: form, attr: :image_mobile %>
      <p class="form-text text-muted">
        This is a square image that is used on the mobile <i>Article</i> page,
        on the mobile homepage and when syndicated to Instagram.
        Minimum required size: <code>800x800</code> pixels.
      </p>

      <%= render "admin/label_and_area_form_group", form: form, attr: :image_description %>
      <p class="form-text text-muted">
        This is used for the <code>&lt;img&gt;</code>’s <code>alt</code> text.
      </p>

      <% unless @collection.present? %>
        <hr>

        <%= render "admin/label_and_area_form_group", form: form, attr: :css, label_text: "CSS", rows: 6 %>

        <p class="form-text text-muted">
          Prefix your CSS selectors with <b><code>main article</code></b> to scope your styles to just this <i>Article</i>.
          For example, <code>main article b { background: green }</code>.
        </p>
      <% end %>
    </fieldset>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #appearance -->

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
<% end %>
