<nav class="mb-5">
  <p class="h6 text-muted">Jump to</p>

  <%= link_to_article_form_sections %>

  <%= link_to [:admin, :markdown], class: "btn btn-outline-primary mb-2 mr-2", target: "_blank", rel: "noopener" do %>
    <span class="badge badge-secondary">MD</span>
    Markdown Cheatsheet ↗
  <% end %>
</nav>

<%= form_with model: [:admin, @article], id: "article-form", class: "row" do |form| %>
  <%# For nested Articles, a la live blogs %>
  <%= form.hidden_field :collection_id, value: @collection&.id %>

  <div class="col-12">
    <%= render "admin/form_errors", thing: @article %>
  </div>

  <section class="col-12 col-md-6">
    <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
    <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

    <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 10 %>
    <%= render "admin/articles/content_note", form: form %>

    <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

    <%= render "admin/articles/syndication_form", form: form %>
    <%= render "admin/articles/appearance_form", form: form %>

    <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
  </section>

  <aside class="col-12 col-md-6">
    <%= render "admin/articles/publication_status_form", form: form %>
    <%= render "admin/articles/published_at_form", form: form %>

    <%= render "admin/articles/categories_form", form: form %>
    <%= render "admin/articles/tags_form", form: form %>
    <%= render "admin/articles/short_url_form", form: form %>
    <%= render "admin/articles/localization_form", form: form %>

    <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
  </aside>
<% end %>
