<%= form_for [:admin, @article] do |f| %>
  <%= render "admin/form_errors", thing: @article %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", rows: 10 %>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <fieldset id="meta">
    <legend>Meta</legend>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :slug, "URL Slug" %>
          <%= f.text_field :slug, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :categories %>
          <%= text_field_tag :categories, @article.categories.map{ |c| c.name }.join(", "), class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :tags %>
          <%= text_field_tag :tags, @article.tags.map{ |t| t.name }.join(", "), class: "form-control" %>
          <p class="help-block">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
        </div>
      </div>
    </div>

    <%= render "admin/datetime_group", f: f, post: @article, type: :article %>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :status_id, "Publication Status" %>
          <%= f.select :status_id,
                       Status.options_for_select,
                       { selected: @article.status.try(:id) },
                       class: "form-control" %>

        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>

  <fieldset id="appearance">
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :image, "Hero Image" %>
          <%= f.text_field :image, class: "form-control input-lg" %>
          <p class="help-block">
            This is the large image that will be front and center on the <i>Article</i> page,
            on the homepage and when syndicated to other sites. Minimum size: <code>1400x1000</code> pixels.
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :image_description, "Hero Image Description" %>
          <%= f.text_field :image_description, class: "form-control input-lg" %>
          <p class="help-block">
            This is used for the <code>&lt;img&gt;</code>&rsquo;s <code>alt</code> text.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          <%= f.label :css, "Article Specific CSS" %>
          <%= f.text_area :css, class: "form-control", rows: 20 %>
          <p class="help-block">
            <% if @article.new_record? %>
            After you save this, you can add <b>Custom CSS</b> by editing the saved <i>Article</i>.
            <% else %>
            Prefix your CSS selectors with <b><code>#article-<%= @article.id %></code></b> to scope your styles to just this <i>Article</i>.
            For example, <code>#article-<%= @article.id %> b { background: green }</code>.
            <% end %>
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <%= f.label :header_background_color, "Header Background Color" %>
          <%= f.text_field :header_background_color, class: "form-control input-lg" %>
          <p class="help-block">
            This can be any valid CSS color value:
            <code>#f00</code>,
            <code>#efefef</code>,
            <code>rgba(0,255,255,.25)</code>,
            <code>pink</code>,
            etc.
          </p>
        </div>

        <div class="form-group">
          <%= f.label :header_text_color, "Header Text Color" %>
          <%= f.text_field :header_text_color, class: "form-control input-lg" %>
          <p class="help-block">
            This can be any valid CSS color value:
            <code>#f00</code>,
            <code>#efefef</code>,
            <code>rgba(0,255,255,.25)</code>,
            <code>pink</code>,
            etc.
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
<% end %>
