<nav class="mb-5">
  <p class="h6 text-muted">Jump to</p>
  <%= link_to "Date + Time",    "#datetime",       class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Categorization", "#categorization", class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Syndication",    "#syndication",    class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Appearance",     "#appearance",     class: "btn btn-outline-primary mb-2 mr-2" %>
  <%= link_to "Alternates",     "#alternates",     class: "btn btn-outline-primary mb-2 mr-2" %>
</nav>

<%= form_for [:admin, @article], html: { id: "article-form" } do |f| %>
  <%= render "admin/form_errors", thing: @article %>


  <%# hidden fields... %>
  <%= f.hidden_field :collection_id, value: @collection.id if @collection %>

  <div class="form-group sr-only">
    <%= f.radio_button :content_format, "html" %>
    <%= f.radio_button :content_format, "kramdown" %>

    <%= f.label :hide_layout, "Hide the Site Layout?" %>
  </div>
  <%# ...hidden fields %>




  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control form-control-lg", rows: 10 %>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>


  <div id="datetime" class="py-5">
    <% if @article.new_record? || (@article.status.present? && !@article.published?) %>
      <div class="row">
        <div class="col-12 col-lg-8">

          <div class="card">
            <h4 class="card-header bg-primary text-white"><b>To Future Publish…</b></h4>

            <div class="card-body">
              <p class="card-text">
                <%= render "admin/datetime_group", f: f, post: @article, type: :article %>
              </p>

              <div class="text-right">
                <%= button_tag "Save", class: "btn btn-primary btn-lg" %>
              </div>
            </div>
          </div>

        </div><!-- .col -->

        <div class="col-12 col-lg-4">

          <div class="card">
            <h4 class="card-header bg-warning"><b>To Publish Now…</b></h4>

            <div class="card-body">
              <p class="card-text">
                If you want to publish this article <b>right now</b>, you can with one click.
                If you click the <b>Publish NOW!</b> button, the <code>published_at</code>
                will be set to now and the <code>publication_status</code> will be set to
                <i>Published</i>. This article will immediately show up in
                the homepage feed.

                <noscript><p><b>Requires Javascript</b> to be turned on to work.</p></noscript>
              </p>

              <div class="text-right">
                <%= link_to "Publish NOW!", "#", id: "publish-now", class: "btn btn-warning btn-lg" %>
              </div>
            </div>
          </div>

        </div><!-- .col -->
      </div><!-- .row -->

    <% else %>
      <%= render "admin/datetime_group", f: f, post: @article, type: :article %>
    <% end %>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #datetime -->

  <div id="categorization" class="row pt-5">
    <div class="col-12 col-sm-6">
      <% unless @collection.present? %>
        <fieldset id="categories">
          <label class="h4">Categories</label>

          <div class="form-check">
            <% Category.all.in_groups_of(2).each do |group| %>

              <div class="row">
                <% group.each do |category| %>
                  <div class="col-6">
                    <% if category.present? %>

                      <%= f.label "category_ids_#{category.id}" do %>
                        <%= f.check_box :category_ids,
                                        {
                                          id: "article_category_ids_#{category.id}",
                                          name: "article[category_ids][]"
                                        },
                                        category.id,
                                        nil %>

                        <b><%= category.name %></b>
                      <% end %>

                    <% end %>
                  </div>
                <% end %>
              </div><!-- .row -->

            <% end %>
          </div><!-- .form-group -->
        </fieldset>
      <% end %>
    </div><!-- .col -->

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= f.label :tags, "Tags", class: "h4" %>
        <%= text_field_tag :tags, @article.tags.map{ |t| t.name }.join(", "), class: "form-control form-control-lg" %>
        <p class="help-block">Comma separated. For example, <em>dogs, cats, etc</em>.</p>
      </div>

      <hr class="my-5">

      <% unless @collection.present? %>
        <div class="form-group">
          <%= f.label :short_path, "Short URL Path" %>
          <%= f.text_field :short_path, class: "form-control form-control-lg" %>
        </div>
      <% end %>

      <div class="form-check">
        <%= f.label :status_id, "Publication Status" %><br>

        <span class="d-inline-block mr-3">
          <%= f.label :status_id_draft do %>
            <%= f.radio_button :status_id, @draft.id, id: :article_status_id_draft %>
            <b>Draft</b>
          <% end %>
        </span>

        <span class="d-inline-block">
          <%= f.label :status_id_published do %>
            <%= f.radio_button :status_id, @published.id, id: :article_status_id_published %>
            <b>Published</b>
          <% end %>
        </span>

      </div>
    </div><!-- .col -->

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #categorization.row -->


  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>


  <div id="syndication" class="pt-5">
    <fieldset>
      <legend>Syndication</legend>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= f.label :tweet %>
            <%= f.text_area :tweet, class: "form-control form-control-lg", data: { 'max-length': '115', 'feedback-box': 'tweet-length' } %>
            <div id="tweet-length"></div>
            <p class="form-text text-muted">
              Maximum 115 characters to leave room for the <code>t.co</code> short URL that Twitter creates.
              Used for syndicated tweet for this Article.
            </p>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= f.label :summary %>
            <%= f.text_area :summary, class: "form-control form-control-lg", data: { 'max-length': '200', 'feedback-box': 'summary-length' } %>
            <div id="summary-length"></div>
            <p class="form-text text-muted">
              Maximum 200 characters.
              Used for page description and previews in story cards on other sites.
            </p>
          </div>
        </div>
      </div>
    </fieldset>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #syndication -->

  <% unless @collection.present? %>
    <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
  <% end %>


  <div id="appearance" class="py-5">
    <fieldset>
    <legend>Appearance</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= f.label :image, "Header Image" %>
          <%= f.text_field :image, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">
            This is the large image that will be front and center on the <i>Article</i> page,
            on the homepage and when syndicated to other sites. Minimum size: <code>1400x1000</code> pixels.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= f.label :image_description, "Header Image Description" %>
          <%= f.text_field :image_description, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">
            This is used for the <code>&lt;img&gt;</code>&rsquo;s <code>alt</code> text.
          </p>
        </div>
      </div>
    </div>

    <% unless @collection.present? %>
      <hr>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-check">
            <%= f.label :header_shadow_text do %>
              <%= f.check_box :header_shadow_text %>
              Apply Shadow to Header Text?
            <% end %>

            <p class="form-text text-muted">
              If selected, the title and subtile in the header will have a drop-shadow.
              This is useful for images that are over light, or have some white spots
              that make the title (in its default style) difficult to read.
            </p>
          </div>

          <div class="form-group">
            <%= f.label :header_background_color, "Header Background Color" %>
            <%= f.text_field :header_background_color, class: "form-control form-control-lg" %>
            <p class="form-text text-muted">
              This can be any valid CSS color value:
              <code>#f00</code>,
              <code>#efefef</code>,
              <code>rgba(0,255,255,.25)</code>,
              <code>pink</code>,
              etc.
            </p>
          </div>

          <div class="form-group">
            <%= f.label :header_text_color, "Header Text Color" %>
            <%= f.text_field :header_text_color, class: "form-control form-control-lg" %>
            <p class="form-text text-muted">
              This can be any valid CSS color value:
              <code>#f00</code>,
              <code>#efefef</code>,
              <code>rgba(0,255,255,.25)</code>,
              <code>pink</code>,
              etc.
            </p>
          </div>

        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= f.label :css, "Article Specific CSS" %>
            <%= f.text_area :css, class: "form-control form-control-lg", rows: 10 %>
            <p class="form-text text-muted">
              <% if @article.new_record? %>
              After you save this, you can add <b>Custom CSS</b> by editing the saved <i>Article</i>.
              <% else %>
              Prefix your CSS selectors with <b><code>#article-<%= @article.slug %></code></b> to scope your styles to just this <i>Article</i>.
              For example, <code>#article-<%= @article.slug %> b { background: green }</code>.
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </fieldset>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #appearance -->


  <div id="alternates" class="py-5">
    <% unless @collection.present? %>
      <fieldset>
        <legend>Alternates</legend>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= f.label :download_url, "PDF Download URL" %>
              <%= f.url_field :download_url, class: "form-control form-control-lg" %>
              <p class="form-text text-muted">
                This is the URL of a downloadable / printable PDF of this Article.
              </p>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>

    <%= render "admin/articles/back_to_top" %>
  </div><!-- #alternates -->

  <%= render "admin/form_actions", cancel_url: [:admin, :articles] %>
<% end %>
