<div class="articles col-12 mb-5">
  <div class="articles-header row py-2 bg-dark text-white d-none d-md-flex">
    <div class="col-sm-2"><b>Status</b></div>
    <div class="col-sm-6"><b>Title / Subtitle</b></div>
    <div class="col-sm-3"><b>Published Date</b></div>
    <div class="col-sm-1 text-right"><b>Views</b></div>
  </div>


  <% articles.each do |article| %>
    <%# border on this article (2017-08-23) indicates when the view counter started. everything below it was published pre-counter. %>
    <div class="articles-body row mb-3 py-2 <%= 'bg-warning' if article.user.present? %>" style="<%= 'border-bottom: 10px solid #666;' if article.published_at.present? && article.published_at.strftime('%Y-%m-%d') == '2017-08-23' %>">
      <div class="col-md-2 mb-2">
        <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-light border-secondary btn-sm mr-2" %>
        <%= render "/admin/articles/publication_status_badge", article: article %>
        <%= render "/admin/articles/content_format_badge",     article: article %>
        <%= render "/admin/articles/children_articles_badge",  article: article %>

        <span class="d-md-none float-right <%= 'text-muted' if article.published_at.present? && article.published_at.strftime('%Y-%m-%d') < '2017-08-23' %>">
          <%= number_with_delimiter(article.views.count + article.page_views) %>
          Views
        </span>
      </div>

      <div class="col-md-6">
        <% if article.user.present? %>
          <p>
            <b><%= article.user.username %> started editing at <%= time_ago_in_words article.updated_at %> ago.</b>
          </p>
        <% end %>

        <b><%= link_to article.title, [:admin, article] %></b><br>

        <% if article.subtitle.present? %>
          <%= link_to article.subtitle, [:admin, article] %>
        <% end %>
      </div>

      <div class="col-md-3">
        <%= display_date article.published_at %>
        <br class="d-none d-md-flex">
        <span class="text-muted"><%= display_time article.published_at %></span>
      </div>

      <div class="d-none d-md-block col-md-1 text-right <%= 'text-muted' if article.published_at.present? && article.published_at.strftime('%Y-%m-%d') < '2017-08-23' %>">
        <%= number_with_delimiter(article.views.count + article.page_views) %>
      </div>
    </div>
  <% end %>

  <div class="articles-footer row">
    <p class="col text-right text-muted p2-3">View counts started on <code>2017-08-23</code></p>
  </div>
</div>
