<table class="table table-striped table-sm mb-5">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Status</th>
      <th>Title / Subtitle</th>
      <th>Published Date</th>
      <th class="text-right">Children</th>
      <th class="text-right">Views</th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-light border-secondary btn-sm" %>
        </td>

        <td>
          <%= render "/admin/articles/publication_status", article: article %>
          <%= render "/admin/articles/content_format",     article: article %>
        </td>

        <td>
          <b><%= link_to article.title, [:admin, article] %></b><br>

          <% if article.subtitle.present? %>
            <%= link_to article.subtitle, [:admin, article] %>
          <% end %>
        </td>

        <td>
          <%= display_date article.published_at %><br>
          <%= display_time article.published_at %>
        </td>

        <td class="text-right">
          <% if article.collection_root? %>
            <%= link_to(article.collection_posts.count, admin_article_path(article, anchor: "collection")) %>
          <% end %>
        </td>

        <td class="text-right">
          <%= number_with_delimiter article.views.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
