<%# This is used in admin/articles#show for collection posts (i.e., live blogs) %>
<div class="articles col-12 mb-5">
  <div class="articles-header row py-2 bg-dark text-white d-none d-md-flex">
    <div class="col-sm-1"></div>
    <div class="col-sm-8"><b>Title / Subtitle</b></div>
    <div class="col-sm-3"><b>Published</b></div>
  </div>

  <% articles.each do |article| %>
    <div class="articles-body row mb-3 py-2 <%= admin_articles_table_row_classes article %>">
      <div class="col-md-1 mb-2">
        <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-outline-primary btn-sm me-2" %>
      </div>

      <div class="col-md-8">
        <b><%= link_to article.title, [:admin, article] %></b><br>

        <% if article.subtitle.present? %>
          <%= link_to article.subtitle, [:admin, article] %>
        <% end %>
      </div>

      <div class="col-md-3">
        <%= display_date article.published_at %>
        <br class="d-none d-md-flex">
        <span class="text-muted"><%= display_time article.published_at %></span>
      </div>
    </div>
  <% end %>
</div>
