<h2 class="mb-3">
  <%= link_to "NEW", [:new, :admin, :article], class: 'btn btn-outline-primary mb-2' %>

  <span class='fw-light'><%= link_to_unless_current "Articles", [:admin, :articles] %></span>
  <span class="text-muted">:</span>
  <b><%= link_to_unless_current "Draft", [:draft, :admin, :articles] %></b>

  <span class="float-end">
    <%= link_to_unless_current "Published ➡️", [:admin, :articles], class: 'btn btn-outline-primary mb-2' %>
  </span>
</h2>

<div class="articles col-12 mb-5">
  <div class="articles-header row py-2 bg-dark text-white d-none d-md-flex">
    <div class="col-sm-1"></div>
    <div class="col-sm-6"><b>Title / Subtitle</b></div>
    <div class="col-sm-5"><b>Translation Info</b></div>
  </div>

  <% @articles.each do |article| %>
    <div class="articles-body row mb-3 py-0 <%= admin_articles_table_row_classes article %>">
      <div class="col-md-1 d-md-none my-3">
        <%= link_to "Edit", [:edit, :admin, article], class: "btn btn-outline-primary" %>
      </div>

      <div class="col-md-1 d-none d-md-block">
        <br>
        <div class="d-grid gap-2">
        <%= link_to "Edit", [:edit, :admin, article], class: "btn btn-outline-primary" %>
        </div>
      </div>

      <div class="col-md-6 pb-3">
        <br class="d-none d-md-block">
        <b><%= link_to article.title, [:admin, article] %></b>

        <% if article.subtitle.present? %>
          <br>
          <%= link_to article.subtitle, [:admin, article] %>
        <% end %>
        <br>

        <%= render "/admin/articles/content_format_badge",     article: article %>
        <%= render "/admin/articles/children_articles_badge",  article: article %>
        <%= render "/admin/articles/publication_status_badge", resource: article %>

        <% if article.locale.present? %>
          <%= link_to article.locale.upcase, [:admin, :locales], class: "badge bg-secondary" %>
        <% end %>
      </div>

      <div class="col-md-5">
        <% if article.english? %>
          <br>
          <%= render 'admin/translate_this', resource: article %>
        <% else %>
          <% if article.canonical_id.present? %>
            <% if article.canonical_record.locale.present? %>
              <%= link_to article.canonical_record.locale.upcase, [:admin, :locales], class: "badge bg-secondary" %>
            <% end %>
            <span class="text-muted">English Article</span>
            <br>

            <b><%= link_to article.canonical_record.title, [:admin, article.canonical_record] %></b>

            <% if article.canonical_record.subtitle.present? %>
              <br>
              <%= link_to article.canonical_record.subtitle, [:admin, article.canonical_record] %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div><!-- .articles -->

<%= render 'view_counter_note' %>

<%= paginate @articles, views_prefix: 'admin', theme: 'twitter-bootstrap-4' %>
