<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Content</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Slug</th>
      <th>Code</th>
      <th>Status</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.subtitle %></td>
        <td><%= article.content %></td>
        <td><%= article.year %></td>
        <td><%= article.month %></td>
        <td><%= article.day %></td>
        <td><%= article.slug %></td>
        <td><%= article.code %></td>
        <td><%= article.status %></td>
        <td><%= article.published_at %></td>
        <td><%= link_to 'Show', [:admin, article] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, article] %></td>
        <td><%= link_to 'Destroy', [:admin, article], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', [:new, :admin, :article] %>
