<%= render "admin/page_header", thing: @articles %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Slug</th>
      <th>Draft Code</th>
      <th>Status</th>
      <th>Published Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-primary btn-xs" %>
        </td>
        <td><%= link_to article.title,      [:admin, article] %></td>
        <td>
          <% if article.subtitle.present? %>
            <%= link_to article.subtitle,   [:admin, article] %>
          <% end %>
        </td>
        <td><%= link_to article.slug,       [:admin, article] %></td>
        <td><%= link_to article.draft_code, [:admin, article] %></td>
        <td><%= article.status.name.capitalize %></td>
        <td>
          <%= link_to article.dated? ? display_date(article.published_at) : "Unpublished", [:admin, article] %>
        </td>
        <td>
          <%= link_to "DELETE", [:admin, article], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%#= paginate @articles, views_prefix: "admin" %>
</div>
