<h2 class="mb-3">
  <%= link_to "NEW", [:new, :admin, :article], class: 'btn btn-outline-primary mb-2' %>

  <span class='font-weight-light'><%= link_to_unless_current "Articles", [:admin, :articles] %></span>
  <span class="text-muted">:</span>
  <b>Published</b>

  <span class="float-right">
    <%= link_to_unless_current "Draft ➡️", [:draft, :admin, :articles], class: 'btn btn-outline-primary mb-2' %>
  </span>
</h2>

<div class="articles col-12 mb-5">
  <div class="articles-header row py-2 bg-dark text-white d-none d-md-flex">
    <div class="col-sm-1"></div>
    <div class="col-sm-7"><b>Title / Subtitle</b></div>
    <div class="col-sm-3"><b>Published</b></div>
    <div class="col-sm-1 text-right"><b>Views</b></div>
  </div>

  <% @articles.each do |article| %>
    <div class="articles-body row mb-3x py-2 <%= admin_articles_table_row_classes article %>">
      <div class="col-md-1 mb-2x">
        <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-light border-secondary btn-sm mr-2" %>
        <span class="d-md-none float-right <%= class_for_article_precounter_views article %>">
          <%= number_with_delimiter article.page_views %>
          Views

          <b><%= number_with_delimiter article.aggregate_translation_page_views %> Total</b>
        </span>
      </div>

      <div class="col-md-7">
        <div class="h5 mb-0">
          <b><%= link_to article.title, [:admin, article] %></b><br>

          <% if article.subtitle.present? %>
            <%= link_to article.subtitle, [:admin, article] %>
          <% end %>

          <%= render "/admin/articles/content_format_badge",    article: article %>
          <%= render "/admin/articles/children_articles_badge", article: article %>
        </div>

        <% if article.english? %>
          <br>
          <%= render 'admin/translate_this', article: article %>
        <% end %>

      </div>

      <div class="col-md-3">
        <%= display_date article.published_at %>
        <span class="text-muted"><%= display_time article.published_at %></span>

        <%= render "/admin/articles/publication_status_badge", resource: article if article.draft? %>
      </div>

      <div class="d-none d-md-block col-md-1 text-right <%= 'text-muted' if article.published_at.present? && article.published_at.strftime('%Y-%m-%d') < '2017-08-23' %>">
        <%= number_with_delimiter(article.page_views) %>

        <b>Total <%= number_with_delimiter article.aggregate_translation_page_views %></b>
      </div>
    </div>

    <div class="row py-3">
      <% localizations_for(article).each do |article| %>
        <div class="col-md-1 mb-2x">
          <%= link_to "EDIT", [:edit, :admin, article], class: "btn btn-light border-secondary btn-sm mr-2" %>
          <span class="d-md-none float-right <%= class_for_article_precounter_views article %>">
            <%= number_with_delimiter article.page_views %>
            Views
          </span>
        </div>

        <div class="col-10 mb-4">
          <%= link_to article.locale.upcase, [:admin, :locales], class: "badge badge-secondary" %>
          <%= render "/admin/articles/publication_status_badge", resource: article %>
          <br>

          <b><%= link_to article.title, [:admin, article] %></b><br>

          <% if article.subtitle.present? %>
            <%= link_to article.subtitle, [:admin, article] %>
          <% end %>
        </div>

        <div class="d-none d-md-block col-md-1 text-right">
          <%= number_with_delimiter(article.page_views) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="articles-footer row">
    <p class="col text-right text-muted p2-3">View counts started on <code>2017-08-23</code></p>
  </div>
</div>

<%= paginate @articles, views_prefix: 'admin', theme: 'twitter-bootstrap-4' %>
