<h2 class="mb-3">
  <%= link_to "NEW", [:new, :admin, :article], class: 'btn btn-outline-primary mb-2' %>

  <span class='fw-light'><%= link_to_unless_current "Articles", [:admin, :articles] %></span>
  <span class="text-muted">:</span>
  <b>Published</b>

  <span class="float-end">
    <%= link_to_unless_current "Draft â¡ï¸", [:draft, :admin, :articles], class: 'btn btn-outline-primary mb-2' %>
  </span>
</h2>

<div class="articles">
  <% @articles.each do |article| %>
    <%= render "article", article: article %>

    <div class="row py-3 localizations">
      <div class="col d-none d-md-block col-md-2">
      </div>

      <div class="col mb-5">
        <% localizations_for(article).each do |localization| %>
          <%= render "article", article: localization %>
        <% end %>
      </div>
    </div>
  <% end %>
</div><!-- .articles -->

<div class="articles-footer text-right mt-5">
  <p class="text-muted border-top pt-1">View counts started on <code>2017-08-23</code></p>
</div>

<%= paginate @articles, views_prefix: 'admin', theme: 'twitter-bootstrap-4' %>
