<%= render "admin/page_header", thing: @article %>

<header>
  <h1>
    <%= link_to @article.path, class: "p-name" do %>
      <span class="h1 title"><%= @article.title %></span><br>
      <span class="h2 subtitle"><%= @article.subtitle %></span>
    <% end %>
  </h1>

  <p><b>URL:</b> <b><%= link_to @article.path, @article.path %></b></p>

  <% if @article.english? %>
    <%= render 'admin/translate_this', resource: @article %>
  <% else %>
    <% if @article.canonical_id.present? %>
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="card mb-3">
            <div class="card-header">
              <% if @article.canonical_record.locale.present? %>
                <%= link_to @article.canonical_record.locale.upcase, [:admin, :locales], class: "badge bg-secondary text-white" %>
              <% end %>

              English Article

              <span class="float-end">
                <%= number_with_delimiter @article.canonical_record.page_views %> Views
                <b><%= number_with_delimiter @article.aggregate_translation_page_views %> Total</b>
              </span>
            </div>

            <div class="card-body text-dark">
              <h6 class="card-title">
                <b><%= link_to @article.canonical_record.title, [:admin, @article.canonical_record] %></b>

                <% if @article.canonical_record.subtitle.present? %>
                <br>
                <%= link_to @article.canonical_record.subtitle, [:admin, @article.canonical_record] %>
                <% end %>
              </h6>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</header>

<article class="row">
  <div class="col-12 col-md-8">
    <div class="mb-5 pb-5 border-bottom">
      <% if @article.header.attached? %>
        <%= image_tag article.header.variant(:large), class: 'w-100' %>
      <% else %>
        <%= image_tag @article.image, class: "rounded mb-3" %>
      <% end %>

      <% if @article.image_description.present? %>
        <%= render_markdown @article.image_description %>
      <% end %>
    </div>

    <div class="e-content">
      <% if @article.content_in_html? %>
        <pre class='bg-light p-3'><code><%= @article.content.gsub("\t", "  ") %></code></pre>
      <% else %>
        <%= render_content @article %>
      <% end %>
    </div>

    <% unless @article.content_in_html? %>
      <% if @article.in_collection? %>
        <hr class="my-5">

        <h3 class="mt-3">
          Part of the <%= link_to @collection.title, [:admin, @collection] %> Collection
        </h3>
      <% end %>

      <% if @article.collection_root? %>
        <div id="collection" class="pt-5 mt-5">
          <h3 class="mb-3">
            Nested Articles
            <%= link_to "NEW Nested Article", new_collection_post_admin_article_path(@article), class: "btn btn-outline-primary btn-sm" %>
          </h3>

          <%= render "table", articles: @article.collection_posts %>
        </div>
      <% end %>
    <% end %>
  </div>

  <aside class="col-12 col-md-4">
    <p>
      <% if @article.published? %>
        <%= link_to "Edit Article", [:edit, :admin, @article], class: "btn btn-outline-primary btn-lg" %>
        <hr>
      <% else %>
        <%= link_to "Preview Draft", @article.path, class: "btn btn-lg btn-success" %>
      <% end %>
    </p>

    <p>
      <b><%= render_themed "articles/published_on_time_tag", article: @article %></b>
      <br>
      <%= render "/admin/articles/publication_status_badge", resource: @article %>

      <% if @article.content_in_html? %>
        <b class="badge bg-warning">HTML</b>
      <% end %>

      <% if @article.locale.present? %>
        <%= link_to @article.locale.upcase, [:admin, :locales], class: "badge bg-dark text-white" %>
      <% end %>
    </p>

    <p>
      Page views:<br>
      <b><%= number_with_delimiter @article.page_views %></b>
    </p>

    <p>
      Categories:<br>
      <% if @article.categories.present? %>
        <% @article.categories.each do |category| %>
          <%= link_to category.name, category_path(category.slug), class: "badge bg-primary text-white" %>
        <% end %>
      <% end %>
    </p>

    <p>
      Tags:<br>
      <% if @article.tags.present? %>
        <% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.slug), class: "badge bg-info text-white" %>
        <% end %>
      <% end %>
    </p>

    <hr>

    <p>
      <% if @article.in_collection? %>
        Part of the <%= link_to @collection.title, [:admin, @collection] %> Collection
      <% else %>
        For live blog articles:<br>
        <%= link_to "NEW Nested Article", new_collection_post_admin_article_path(@article), class: "btn btn-primary btn-sm" %>
      <% end %>
    </p>
  </aside>
</article>
