<%= render "admin/page_header", thing: @article %>

<br>

<article>
  <header>
    <p>
      <%= render "/admin/articles/publication_status_badge", article: @article %>

      <% if @article.content_format == "html" %>
      &nbsp;
      <b class="label label-warning">HTML</b>
      <% end %>

      &nbsp;
      <%= render "articles/published_on_time_tag", article: @article %>
    </p>

    <h1>
      <%= link_to @article.path, class: "p-name" do %>
        <span class="h1 title"><%= @article.title %></span><br>
        <span class="h2 subtitle"><%= @article.subtitle %></span>
      <% end %>
    </h1>

    <p>
      <% if @article.categories.present? %>
        <% @article.categories.each do |category| %>
          <%= link_to category.name, category_path(category.slug), class: "label label-primary" %>
        <% end %>
      <% end %>

      <% if @article.tags.present? %>
        <% @article.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.slug), class: "label label-info" %>
        <% end %>
      <% end %>
    </p>
  </header>

  <div>
    <p><b>URL:</b> <b><%= link_to @article.path, @article.path %></b></p>

    <% unless @article.in_collection? %>
      <br>
      <%= link_to "NEW Nested Article", new_collection_post_admin_article_path(@article), class: "btn btn-danger btn-lg" %>
      <br><br><br>
    <% end %>

    <% unless @article.published? %>
      <p>
        <%= link_to "Preview Draft", @article.path, class: "btn btn-success" %>
      </p>
    <% end %>

    <% if @article.download_url.present? %>
      <p><b>Download URL:</b> <b><%= link_to @article.download_url, @article.download_url %></b></p>
    <% end %>

    <% if @article.contributions.present? %>
      <p>
        <b>Contributions:</b>
        <% @article.contributions.each do |contribution| %>
          <span class="badge badge-default">
            <%= link_to contribution.role.name.titleize, [:admin, contribution.role] %>
            <span>by</span>
            <%= link_to contribution.contributor.name, [:admin, contribution.contributor] %>
          </span>
        <% end %>
      </p>
    <% end %>
  </div>

  <% if @article.image.present? %>
    <%= image_tag @article.image %>
  <% end %>

  <% if @article.image_description.present? %>
    <p><%= @article.image_description %></p>
  <% end %>

  <hr>

  <div class="e-content">
    <% if @article.content_format == "html" %>
      <pre><%= @article.content %></pre>
    <% else %>
      <%= render_content @article %>
    <% end %>
  </div>

  <hr>

  <h3 style="margin-top: 1rem">
    <% if @article.in_collection? %>
      Part of the <%= link_to @collection.title, [:admin, @collection] %> Collection
    <% else %>
      <%= link_to "NEW Nested Article", new_collection_post_admin_article_path(@article), class: "btn btn-primary btn-lg" %>
    <% end %>
  </h3>

  <% if @article.collection_root? %>
    <div id="collection" style="margin-top: 6rem">
      <h3>
        Nested Articles
        <%= link_to "NEW Nested Article", new_collection_post_admin_article_path(@article), class: "btn btn-primary btn-sm" %>
      </h3>

      <%= render "table", articles: @article.collection_posts %>
    </div>
  <% end %>

  <hr>

</article>
