<%= render "admin/page_header", thing: @article %>

<article>
  <header>
    <h1>
      <%= link_to @article.path, class: "p-name" do %>
        <span class="h1 title"><%= @article.title %></span><br>
        <span class="h2 subtitle"><%= @article.subtitle %></span>
      <% end %>
    </h1>
  </header>

  <hr>
  <p>URL: <b><%= link_to @article.path, @article.path %></b></p>
  <p>Short URL: <b><%= link_to @article.short_path, @article.short_path %></b></p>
  <p>Download URL: <b><%= link_to_if @article.download_url.present?, @article.download_url, @article.download_url %></b></p>
  <p>Publication Status: <b><%= @article.status.name.upcase %></b></p>
  <p><%= render "/articles/published_on", article: @article %></p>
  <p>Hero Image: <%= link_to_if @article.image.present?, @article.image, @article.image %></p>
  <p>Hero Image Description: <%= @article.image_description %></p>

  <% if @article.contributions.present? %>
    <p>
      <b>Contributions:</b>
      <ul>
        <% @article.contributions.each do |contribution| %>
          <li>
            <%= link_to contribution.role.name.titleize, [:admin, contribution.role] %>
            <span>by</span>
            <%= link_to contribution.contributor.name, [:admin, contribution.contributor] %>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @article.categories.present? %>
    <p>
      <b>Categories:</b>
      <ul>
        <% @article.categories.each do |category| %>
          <li><%= link_to category.name, category.slug %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @article.tags.present? %>
    <p>
      <b>Tags:</b>
      <ul>
        <% @article.tags.each do |tag| %>
          <li><%= link_to tag.name, tag.slug %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <hr>

  <p><b>Content Format:</b> <%= @article.content_format %></p>
  <div class="e-content">
    <%= simple_format @article.content %>
  </div>

  <hr>
  <footer>
    <%= render "/articles/published_on", article: @article %>
  </footer>
</article>
