<%= article_tag article do %>
  <div class="meta">
    <%= render "articles/titles", header: article, linked: false %>
  </div>

  <% if article.image.present? %>
    <figure>
      <%= image_tag article.image, class: "u-photo", alt: "" %>

      <% if article.image_description.present? %>
        <figcaption><%= article.image_description %></figcaption>
      <% end %>
    </figure>
  <% end %>

  <%= render_content article %>

  <footer>
    <%#= render "articles/published_on", article: article %>

    <%#= render "articles/categories",   article: article %>
    <%#= render "articles/tags",         article: article %>

    <%# TODO temp hack %>
    <p>
      <%= time_tag article.published_at, class: "dt-published" do %>
        <%= article.published_at.advance(hours: -5).strftime("%l:%M") %>
        EST
      <% end %>
    </p>
  </footer>
<% end %>
