<%= render "articles/css", article: @article %>

<article id="article-<%= @article.id %>" class="h-entry <%= 'article-with-no-header-image' if @article.image.blank? %>" role="article">
  <header>
    <% if @article.image.present? %>
      <%= image_tag @article.image, class: "u-photo", alt: "" %>
    <% end %>

    <div class="meta">
      <%= render "articles/titles", header: @article, linked: false %>
    </div>

    <%= render "articles/theme",      article: @article %>
    <%= render "articles/categories", article: @article %>
  </header>

  <div class="e-content">
    <%= @article.content_rendered %>
  </div>

  <footer>
    <%= render "articles/published_on", article: @article %>
    <%= render "articles/categories",   article: @article %>
    <%= render "articles/tags",         article: @article %>
  </footer>
</article>
