<%= render "articles/css", article: @article %>

<%= article_tag @article do %>
  <header>
    <%= render "articles/image", article: @article, linked: false %>

    <div class="meta">
      <%= render "articles/titles", header: @article, linked: false %>
    </div>

    <%= render "articles/theme",      article: @article %>
    <%= render "articles/categories", article: @article %>
  </header>

  <div class="e-content">
    <%= render_content @article %>
    <%= render partial: "collection_post", collection: @collection_posts, as: :article if @article.collection_root? %>
  </div>

  <footer>
    <%= render "articles/published_on", article: @article, linked: true %>
    <%= render "articles/contributions", article: @article %>
    <%= render "articles/categories",   article: @article %>
    <%= render "articles/tags",         article: @article %>

    <% if @article.download_url.present? %>
      <div id="download-pdf">
        <%= link_to "Download PDF", @article.download_url, class: "button" %>
      </div>
    <% end %>
  </footer>
<% end %>
