<article>
  <h1>
    <%= link_to @article.path, class: "p-name" do %>
      <span class="title"><%= @article.title %></span><br>
      <span class="subtitle"><%= @article.subtitle %></span>
    <% end %>
  </h1>

  <div>
    <%= simple_format @article.content %>
  </div>

  <footer>
    <time>
      <%= link_to @article.path do %>
        Published on <%= @article.published_at.strftime("%Y-%m-%d") %>
      <% end %>
    </time>
  </footer>
</article>
