<% cache [@article, lite_mode?], expires_in: (Rails.env.development? ? 1.second : 1.day) do %>
  <% if @article.draft? %>
    <div class="draft-preview-message">
      PREVIEWING DRAFT.
      <%= link_to "Continue editing article", [:edit, :admin, @article] %> or
      <%= link_to "view article in Admin",    [:admin, @article] %>.
    </div>
  <% end %>

  <%= article_tag @article do %>
    <header>
      <%= render "articles/image_media", article: @article, linked: false %>

      <div class="meta">
        <%= render "articles/titles", header: @article, linked: false %>

        <%= render "articles/categories", article: @article %>

        <%= render "articles/localizations", article: @article %>
      </div>

      <%= render "articles/image_lite", article: @article, linked: false %>
    </header>

    <div class="e-content">
      <%= render_content @article %>

      <%= render partial: "collection_post", collection: @collection_posts, as: :article if @article.collection_root? %>
    </div>

    <footer>
      <%= render "articles/share_on_social_networks", article: @article %>
      <%= render "articles/published_on",             article: @article, linked: true %>
      <%= render "articles/categories",               article: @article %>
      <%= render "articles/tags",                     article: @article %>

      <div>
        <ul class="pagination">
          <% if @previous_article.present? %>
            <li class="page">
              <%= link_to t("views.pagination.previous_article", title: @previous_article.title).html_safe, @previous_article.path %>
            </li>
          <% end %>

          <% if @next_article.present? %>
            <li class="page">
              <%= link_to t("views.pagination.next_article", title: @next_article.title).html_safe, @next_article.path %>
            </li>
          <% end %>
        </ul>
      </div>
    </footer>

    <%= render "articles/related", article: @article %>
  <% end %>

<% end %>
