<div class="alert alert-danger deprecated">
  <h1>DEPRECATED</h1>
  <div class="row">
    <% %w[image download].each do |type| %>
      <% file      = type == "image" ? "Image" : "PDF" %>
      <% extension = type == "image" ? "[filetype]" : "pdf" %>

      <div class="col-12 col-sm-6">
        <div class="mb-3">
          <label for="downloads"><%= type.capitalize.pluralize %></label>

          <p class="form-text text-muted">
            <%= file %>s must be uploaded to S3/Cloudfront in:<br>
            <code>/assets/<%= resource.namespace %>/<%= resource.new_record? ? "[slug]" : resource.slug %>/</code>

            <br><%= file %>s must be named:
            <% if resource.new_record? %>
              <br><code>[slug]_front_color.<%= extension %></code>
              <br><code>[slug]_back_color.<%= extension %></code>
              <br><code>[slug]_front_black_and_white.<%= extension %></code>
              <br><code>[slug]_back_black_and_white.<%= extension %></code>
            <% else %>
              <br><code><%= resource.slug %>_front_color.<%= extension %></code>
              <br><code><%= resource.slug %>_back_color.<%= extension %></code>
              <br><code><%= resource.slug %>_front_black_and_white.<%= extension %></code>
              <br><code><%= resource.slug %>_back_black_and_white.<%= extension %></code>
            <% end %>
          </p>

          <div class="mb-3">
            <% %w[front back].each do |side| %>
              <% %w[color black_and_white].each do |color| %>

                <div class="form-check">
                  <%= form.checkbox "#{side}_#{color}_#{type}_present", id: "poster_#{side}_#{color}_#{type}_present", class: "form-check-input" %>

                  <%= form.label "#{side}_#{color}_#{type}_present", class: "form-check-label" do %>
                    <b><%= side.capitalize %> <%= color.titleize %></b>
                    <span class="form-text text-muted fw-normal">
                      Is there a <%= file %> of the <%= side %> in <%= color.titleize.downcase %> of the poster uploaded?
                    </span>
                  <% end %>
                </div>

              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div> <!-- .row -->

  <div class="row">
    <% %w[front back].each do |side| %>
      <div class="col-12 col-sm-6">
        <div class="mb-3">
          <label for="downloads">Preview <%= side.capitalize %> Images Format</label>

          <% %w[jpg gif png].each do |filetype| %>
            <div class="form-check">
              <%= form.label "#{side}_image_format_#{filetype}", class: "form-check-label" do %>
                <%= form.radio_button "#{side}_image_format", filetype, id: "poster_#{side}_image_format_#{filetype}", class: "form-check-input" %>
                <b><%= filetype.upcase %></b>
                <span class="text-muted fw-normal">Are the <%= side %> side images <%= filetype.upcase %>s?</span>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div> <!-- .row -->
</div><!-- .deprecated -->
