<%= form_with(model: [:admin, resource]) do |form| %>
  <%= render "admin/form_errors", thing: resource %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
  <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :description, rows: 8 %>
      <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 8 %>
      <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :slug %>
    </div>

    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12 col-sm-6">
          <%= render "admin/label_and_field_form_group", form: form, attr: :width %>
        </div>
        <div class="col-12 col-sm-6">
          <%= render "admin/label_and_field_form_group", form: form, attr: :height %>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <% %w[image download].each do |type| %>
      <% file      = type == "image" ? "Image" : "PDF" %>
      <% extension = type == "image" ? "[filetype]" : "pdf" %>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="downloads"><%= type.capitalize.pluralize %></label>

          <p class="form-text text-muted">
            <%= file %>s must be uploaded to S3/Cloudfront in:<br>
            <code>/assets/<%= resource.namespace %>/<%= resource.new_record? ? "[slug]" : resource.slug %>/</code>

            <br><%= file %>s must be named:
            <% if resource.new_record? %>
              <br><code>[slug]_front_color.<%= extension %></code>
              <br><code>[slug]_back_color.<%= extension %></code>
              <br><code>[slug]_front_black_and_white.<%= extension %></code>
              <br><code>[slug]_back_black_and_white.<%= extension %></code>
            <% else %>
              <br><code><%= resource.slug %>_front_color.<%= extension %></code>
              <br><code><%= resource.slug %>_back_color.<%= extension %></code>
              <br><code><%= resource.slug %>_front_black_and_white.<%= extension %></code>
              <br><code><%= resource.slug %>_back_black_and_white.<%= extension %></code>
            <% end %>
          </p>

          <div class="form-group">
            <% %w[front back].each do |side| %>
              <% %w[color black_and_white].each do |color| %>

                <div class="form-check">
                  <%= form.check_box "#{side}_#{color}_#{type}_present", id: "poster_#{side}_#{color}_#{type}_present", class: "form-check-input" %>

                  <%= form.label "#{side}_#{color}_#{type}_present", class: "form-check-label" do %>
                    <b><%= side.capitalize %> <%= color.titleize %></b>
                    <span class="form-text text-muted font-weight-normal">
                      Is there a <%= file %> of the <%= side %> in <%= color.titleize.downcase %> of the poster uploaded?
                    </span>
                  <% end %>
                </div>

              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div> <!-- .row -->

  <div class="row">
    <% %w[front back].each do |side| %>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="downloads">Preview <%= side.capitalize %> Images Format</label>

          <% %w[jpg gif png].each do |filetype| %>
            <div class="form-check">
              <%= form.label "#{side}_image_format_#{filetype}", class: "form-check-label" do %>
                <%= form.radio_button "#{side}_image_format", filetype, id: "poster_#{side}_image_format_#{filetype}", class: "form-check-input" %>
                <b><%= filetype.upcase %></b>
                <span class="text-muted font-weight-normal">Are the <%= side %> side images <%= filetype.upcase %>s?</span>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div> <!-- .row -->

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="purchasing">
    <legend>Purchasing</legend>

    <div class="row">
      <div class="col-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :buy_info, label_text: "Buying Info", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>

      <div class="col-6">
        <%= render "admin/label_and_field_form_group", form: form, attr: :buy_url, label_text: "Buy URL" %>
        <%= render "admin/label_and_field_form_group", form: form, attr: :price_in_cents, label_text: "Price (in USD cents)" %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>

  <fieldset id="syndication">
    <legend>Syndication</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :summary %>
        <p class="form-text text-muted">
          Maximum 200 characters.
          Used for page description and previews in story cards on other sites.
        </p>
      </div>

      <div class="col-12 col-sm-6">
        <%= render "admin/posters/categories_form", form: form %>

        <div class="form-group">
          <%= form.label :published_at %>
          <%= form.date_select :published_at,
                               { start_year: Time.now.utc.year, end_year: 1995, include_blank: true },
                               class: "form-control" %>
        </div>
      </div>

    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, resource.namespace] %>
<% end %>
