<%= form_with(model: [:admin, resource], local: true) do |form| %>
  <%= render "admin/form_errors", thing: resource %>

  <%= form.hidden_field :sticker, value: @publication_type == "sticker" ? 1 : 0 %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :poster_title, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :poster_subtitle, class: "form-control form-control-lg" %>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, class: "form-control", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>
    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= form.label :slug %>
        <%= form.text_field :slug, id: :poster_slug, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= form.label :width %>
            <%= form.text_field :width, id: :poster_width, class: "form-control" %>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <%= form.label :height %>
            <%= form.text_field :height, id: :poster_height, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label for="downloads">Downloads</label>

        <div class="checkbox">
          <%= form.label :front_download_present do %>
            <%= form.check_box :front_download_present, id: :poster_front_download_present, class: "form-check-input" %>
            <b>Front Side</b>
            Is there a PDF of the front of the poster uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :back_download_present do %>
            <%= form.check_box :back_download_present, id: :poster_back_download_present, class: "form-check-input" %>
            <b>Back Side</b>
            Is there a PDF of the back of the poster uploaded?
          <% end %>
        </div>

        <p class="form-text text-muted">
          PDFs must be uploaded to
          <code>/assets/<%= @publication_type.pluralize %>/<%= resource.new_record? ? "[slug]" : resource.slug %>/</code>
          on S3/Cloudfront.<br>

          PDFs must be named:
          <% if resource.new_record? %>
            <code>[slug]_front.pdf</code>,
            <code>[slug]_back.pdf</code>,
          <% else %>
            <code><%= resource.slug %>_front.pdf</code>,
            <code><%= resource.slug %>_back.pdf</code>
          <% end %>
        </p>

      </div>
    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label for="images">Images</label>

        <div class="checkbox">
          <%= form.label :front_image_present do %>
            <%= form.check_box :front_image_present, id: :poster_front_image_present %>
            <b>Front:</b>
            Is there an image of the front side uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :back_image_present do %>
            <%= form.check_box :back_image_present, id: :poster_back_image_present %>
            <b>Back:</b>
            Is there an image of the back side uploaded?
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label for="downloads">Preview Front Image Format</label>

        <div class="checkbox">
          <%= form.label :front_image_format_jpg, class: "form-check-label" do %>
            <%= form.radio_button :front_image_format, :jpg, id: :poster_front_image_format_jpg, class: "form-check-input" %>
            <b>JPG</b>
            Is there a JPG of the front side uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :front_image_format_gif, class: "form-check-label" do %>
            <%= form.radio_button :front_image_format, :gif, id: :poster_front_image_format_gif, class: "form-check-input" %>
            <b>GIF</b>
            Is there a GIF of the front of the poster uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :front_image_format_png, class: "form-check-label" do %>
            <%= form.radio_button :front_image_format, :png, id: :poster_front_image_format_png, class: "form-check-input" %>
            <b>PNG</b>
            Is there a PNG of the front of the poster uploaded?
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <label for="downloads">Preview Back Image Format</label>

        <div class="checkbox">
          <%= form.label :back_image_format_jpg do %>
            <%= form.radio_button :back_image_format, :jpg, id: :poster_back_image_format_jpg, class: "form-check-input" %>
            <b>JPG</b>
            Is there a JPG of the back side uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :back_image_format_gif do %>
            <%= form.radio_button :back_image_format, :gif, id: :poster_back_image_format_gif, class: "form-check-input" %>
            <b>GIF</b>
            Is there a GIF of the back of the poster uploaded?
          <% end %>
        </div>

        <div class="checkbox">
          <%= form.label :back_image_format_png do %>
            <%= form.radio_button :back_image_format, :png, id: :poster_back_image_format_png, class: "form-check-input" %>
            <b>PNG</b>
            Is there a PNG of the back of the poster uploaded?
          <% end %>
        </div>
      </div>
    </div>

  </div> <!-- .row -->

  <%= render "admin/form_actions", cancel_url: [:admin, @publication_type.pluralize] %>

  <fieldset id="purchasing">
    <legend>Purchasing</legend>
    <div class="row">
      <div class="col-6">
        <%= form.label :buy_info, "Buying Info" %>
        <%= form.text_area :buy_info, class: "form-control", rows: 8 %>
        <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
      </div>

      <div class="col-6">
        <div class="form-group">
          <%= form.label :buy_url, "Buy URL" %>
          <%= form.url_field :buy_url, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :price_in_cents, "Price (in USD cents)" %>
          <%= form.text_field :price_in_cents, class: "form-control" %>
        </div>
      </div>
    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, @publication_type.pluralize] %>


  <fieldset id="syndication">
    <legend>Syndication</legend>
    <div class="row">

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :summary %>
          <%= form.text_area :summary, class: "form-control" %>
          <p class="form-text text-muted">
            Maximum 200 characters.
            Used for page description and previews in story cards on other sites.
          </p>
        </div>
      </div>


      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :published_at %>
          <%= form.date_select :published_at,
                            { start_year: Time.now.year, end_year: 1995, include_blank: true },
                            class: "form-control" %>
        </div>
      </div>

    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, @publication_type.pluralize] %>
<% end %>
