<%= render "admin/page_header", thing: @posters %>

<table class="table table-striped table-sm mb-5 table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Title / Subtitle</th>
      <th>Published Date</th>
      <th class="text-center">Front Color Download</th>
      <th class="text-center">Back Color Download</th>
      <th class="text-center">Front B/W Download</th>
      <th class="text-center">Back B/W Download</th>
    </tr>
  </thead>

  <tbody>
    <% @posters.each do |poster| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, poster], class: "btn btn-light border-secondary btn-sm" %>
        </td>

        <td>
          <b><%= link_to poster.title, [:admin, poster] %></b><br>
          <%= poster.subtitle %>
        </td>

        <td>
          <%= display_date poster.published_at %><br>
          <%= display_time poster.published_at %>
        </td>

        <td class="text-center align-middle"> <%= "✔️" if poster.front_color_download_present? %> </td>
        <td class="text-center align-middle"> <%= "✔️" if poster.back_color_download_present? %> </td>
        <td class="text-center align-middle"> <%= "✔️" if poster.front_black_and_white_download_present? %> </td>
        <td class="text-center align-middle"> <%= "✔️" if poster.back_black_and_white_download_present? %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posters, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
