<%= render "admin/page_header", thing: @poster %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @poster], class: "p-name" do %>
      <span class="h1 title"><%= @poster.title %></span><br>
      <span class="h2 subtitle"><%= @poster.subtitle %></span>
      <% end %>
    </h1>
  </header>

  <div>
    <p>
      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_color_image_present?") %>
          <span class="badge badge-success">✔ <%= side.capitalize %> Color Image</span>
        <% end %>
      <% end %>

      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_black_and_white_image_present?") %>
          <span class="badge badge-secondary">✔ <%= side.capitalize %> B/W Image</span>
        <% end %>
      <% end %>

      <br>

      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_color_download_present?") %>
          <span class="badge badge-success">✔ <%= side.capitalize %> Color Download</span>
        <% end %>
      <% end %>

      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_black_and_white_download_present?") %>
          <span class="badge badge-secondary">✔ <%= side.capitalize %> B/W Download</span>
        <% end %>
      <% end %>



<!--
      <% if @poster.front_image_present? %>
        <span class="badge badge-success">✔ Front Image</span>
      <% end %>

      <% if @poster.back_image_present? %>
        <span class="badge badge-danger">✔ Back Image</span>
      <% end %>

      <% if @poster.front_download_present? %>
        <span class="badge badge-primary">✔ Front Download</span>
      <% end %>

      <% if @poster.back_download_present? %>
        <span class="badge badge-primary">✔ Back Download</span>
      <% end %>
 -->
    </p>

    <p><b>URL:</b> <b><%= link_to @poster.path, @poster.path %></b></p>

    <div class="row">
      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_color_image_present?") %>
          <div class="col-sm-3">
            <%= image_tag @poster.send("#{side}_color_image") %>
          </div>
        <% end %>
      <% end %>

      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_black_and_white_image_present?") %>
          <div class="col-sm-3">
            <%= image_tag @poster.send("#{side}_black_and_white_image") %>
          </div>
        <% end %>
      <% end %>
    </div>

    <hr>

    <p>
      <strong>Size:</strong>
      <% if @poster.depth.present? %>
        <%= @poster.depth %>
        on
      <% end %>

      <%= @poster.width %>
      x
      <%= @poster.height %>
    </p>


      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_color_image_present?") %>
          <p><b><%= side.capitalize %> PDF Download URL:</b> <b><%= link_to @poster.download_url(side), @poster.download_url(side) %></b></p>
        <% end %>
      <% end %>

      <% %w(front back).each do |side| %>
        <% if @poster.send("#{side}_black_and_white_image_present?") %>
          <p><b><%= side.capitalize %> PDF Download URL:</b> <b><%= link_to @poster.download_url(side), @poster.download_url(side) %></b></p>
        <% end %>
      <% end %>

    <p>
      <strong>Description:</strong>
      <%= @poster.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @poster.summary %>
    </p>

    <% if @poster.buy_url.present? %>
      <h2>Purchasing</h2>

      <% if @poster.price_in_cents.present? %>
        <p>
          <strong>Price in Cents:</strong>
          <%= number_to_currency @poster.price_in_cents / 100 %>
        </p>
      <% end %>

      <p>
        <strong>Buy info:</strong>
        <%= @poster.buy_info %>
      </p>

      <p>
        <strong>Buy URL:</strong>
        <%= link_to @poster.buy_url, @poster.buy_url %>
      </p>
    <% end %>

    <h2>Content</h2>

    <%= render_markdown @poster.content %>
  </div>
</article>
