<%= render "admin/page_header", thing: @poster %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @poster], class: "p-name" do %>
        <span class="h1 title"><%= @poster.title %></span><br>
        <span class="h2 subtitle"><%= @poster.subtitle %></span>
      <% end %>
    </h1>
  </header>

  <hr>
  <p>
    <strong>Title:</strong>
    <%= @poster.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= @poster.subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @poster.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @poster.content %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @poster.slug %>
  </p>

  <p>
    <strong>Download url:</strong>
    <%= @poster.download_url %>
  </p>

  <p>
    <strong>Price in cents:</strong>
    <%= @poster.price_in_cents %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= @poster.summary %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @poster.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= @poster.width %>
  </p>
</article>



<p>
  <strong>Buy info:</strong>
  <%= @poster.buy_info %>
</p>

<p>
  <strong>Buy url:</strong>
  <%= @poster.buy_url %>
</p>

<p>
  <strong>Front image present:</strong>
  <%= @poster.front_image_present %>
</p>

<p>
  <strong>Back image present:</strong>
  <%= @poster.back_image_present %>
</p>

<p>
  <strong>Read download present:</strong>
  <%= @poster.read_download_present %>
</p>

<p>
  <strong>Print download present:</strong>
  <%= @poster.print_download_present %>
</p>

<p>
  <strong>Lite download present:</strong>
  <%= @poster.lite_download_present %>
</p>
