<%= render "admin/page_header", thing: @poster %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @poster], class: "p-name" do %>
      <span class="h1 title"><%= @poster.title %></span><br>
      <span class="h2 subtitle"><%= @poster.subtitle %></span>
      <% end %>
    </h1>

    <%= render "/admin/articles/publication_status_badge", resource: @poster %>
  </header>

  <div>
    <p>

      <% %w[image download].each do |type| %>
        <% %w[front back].each do |side| %>
          <% %w[color black_and_white].each do |color| %>

            <% if @poster.send("#{side}_#{color}_#{type}_present?") %>
              <span class="badge badge-<%= color == 'color' ? 'success' : 'secondary' %>">
                ✔ <%= side.capitalize %> <%= color.titleize %> <%= type.capitalize %>
              </span>
            <% end %>

          <% end %>
        <% end %>
        <br>
      <% end %>

    </p>

    <p><b>URL:</b> <%= link_to @poster.path, @poster.path %></p>

    <div class="row">
      <% %w[front back].each do |side| %>
        <% %w[color black_and_white].each do |color| %>
          <% if @poster.send("#{side}_#{color}_image_present?") %>
            <div class="col-sm-3">
              <%= image_tag @poster.send("#{side}_#{color}_image") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <hr>

    <p>
      <strong>Size:</strong>
      <% if @poster.depth.present? %>
        <%= @poster.depth %>
        on
      <% end %>

      <%= @poster.width %>
      x
      <%= @poster.height %>
    </p>


      <% %w[front back].each do |side| %>
        <% %w[color black_and_white].each do |color| %>
          <% if @poster.send("#{side}_#{color}_image_present?") %>
            <p>
              <b>
                <%= side.capitalize %>
                <%= color.titleize %>
                PDF Download URL:
              </b>
              <br>

              <%= link_to @poster.download_url(side: side, color: color), @poster.download_url(side: side, color: color) %>
            </p>
          <% end %>
        <% end %>
      <% end %>

    <p>
      <strong>Description:</strong>
      <%= @poster.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @poster.summary %>
    </p>

    <% if @poster.buy_url.present? %>
      <h2>Purchasing</h2>

      <% if @poster.price_in_cents.present? %>
        <p>
          <strong>Price in Cents:</strong>
          <%= number_to_currency @poster.price_in_cents / 100 %>
        </p>
      <% end %>

      <p>
        <strong>Buy info:</strong>
        <%= @poster.buy_info %>
      </p>

      <p>
        <strong>Buy URL:</strong>
        <%= link_to @poster.buy_url, @poster.buy_url %>
      </p>
    <% end %>

    <h2>Content</h2>

    <%= render_markdown @poster.content %>
  </div>
</article>
