<h1 class="fw-light">Admin Dashboard</h1>

<div class="mt-4">
  <h2 class="fs-6 text-muted">Jump to</h2>
  <%= link_to "ðŸ“ New Article â†’",        [:new, :admin, :article],    class: "btn btn-lg btn-outline-primary mb-2" %>
  <%= link_to "âš ï¸ Draft Articles â†’",     [:draft, :admin, :articles], class: "btn btn-lg btn-outline-primary mb-2" %>
  <%= link_to "âœ… Published Articles â†’", [:admin, :articles],         class: "btn btn-lg btn-outline-primary mb-2" %>
</div>

<div class="mt-4">
  <h2 class="fs-6 text-muted fw-normal">Feed Content</h2>

  <%= link_to "ðŸ“„ Articles",   [:admin, :articles],   class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ“¦ Categories", [:admin, :categories], class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ“œ Pages",      [:admin, :pages],      class: "btn btn-outline-primary mb-2" %>
</div>

<div class="mt-4">
  <h2 class="fs-6 text-muted fw-normal">Media</h2>

  <%= link_to "ðŸŽ§ Podcasts + Episodes", [:admin, :podcasts], class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸŽ¬ Videos",              [:admin, :videos],   class: "btn btn-outline-primary mb-2" %>
</div>

<div class="mt-4">
  <h2 class="fs-6 text-muted fw-normal">Tools</h2>

  <%= link_to "ðŸ“š Books",             [:admin, :books],    class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ–¨ Zines",             [:admin, :zines],    class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ“‰ Posters",           [:admin, :posters],  class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸŒ  Stickers",          [:admin, :stickers], class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ”« Logos",             [:admin, :logos],    class: "btn btn-outline-primary mb-2" %>
  <%= link_to "ðŸ“° Journals + Issues", [:admin, :journals], class: "btn btn-outline-primary mb-2" %>
</div>

<div class="mt-4">
  <h2 class="fs-6 text-muted fw-normal">Contradictionary</h2>

  <%= link_to "ðŸ“• Definitions", [:admin, :definitions], class: "btn btn-outline-primary mb-2" %>
</div>

<div class="mt-4">
  <h2 class="fs-6 text-muted fw-normal">Localization</h2>

  <%= link_to "ðŸŒ Locales", [:admin, :locales], class: "btn btn-outline-primary mb-2" %>
</div>
