<div class="form-group">
  <%= f.label :published_at, "Publication Date &amp; Time".html_safe %>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= select_year post.published_at || Time.now.utc,
            { prompt: false, start_year: Time.now.year + 1, end_year: 1900 },
            name:  "#{type}[published_at(1i)]",
            id:    "#{type}_published_at_1i",
            class: "form-control form-control-lg datetime-select" %>
    </div>

    <div class="col-12 col-sm-4">
      <%= select_month post.published_at || Time.now.utc,
            { prompt: false, add_month_numbers: true },
            name:  "#{type}[published_at(2i)]",
            id:    "#{type}_published_at_2i",
            class: "form-control form-control-lg datetime-select" %>
    </div>

    <div class="col-12 col-sm-4">
      <%= select_day post.published_at || Time.now.utc,
            { prompt: false },
            name:  "#{type}[published_at(3i)]",
            id:    "#{type}_published_at_3i",
            class: "form-control form-control-lg datetime-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= select_hour post.published_at || Time.now.utc,
            { prompt: false },
            name:  "#{type}[published_at(4i)]",
            id:    "#{type}_published_at_4i",
            class: "form-control form-control-lg datetime-select" %>
    </div>

    <div class="col-6">
      <%= select_minute post.published_at || Time.now.utc,
            { prompt: false },
            name:  "#{type}[published_at(5i)]",
            id:    "#{type}_published_at_5i",
            class: "form-control form-control-lg datetime-select" %>
    </div>
  </div>

  <p class="help-block">
    Timezones are in UTC (or GMT or Zulu).<br>
    EST is offset by -05:00.<br>
    PST is offset by -08:00 (-07:00 during daylignt) if you want to publish at 10:00 am PST you have to set it at 18:00 (17:00 pm during daylight).
  </p>
</div>
