<% if signed_in? %>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-5">
    <button type="button" class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="#navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Admin Dashboard", admin_path, class: "navbar-brand" %>


    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
              Content <span class="caret"></span>
          <% end %>

          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to "Articles", [:admin, :articles] %></li>
            <li class="dropdown-item"><%= link_to "Categories", [:admin, :categories] %></li>
            <li class="dropdown-item"><%= link_to "Pages", [:admin, :pages] %></li>
            <li role="separator" class="dropdown-divider"></li>
            <li class="dropdown-header">Media:</li>
            <li class="dropdown-item"><%= link_to "Podcasts", [:admin, :podcasts] %></li>
            <li class="dropdown-item"><%= link_to "Podcast Episodes", [:admin, :episodes] %></li>
            <li class="dropdown-item"><%= link_to "Videos", [:admin, :videos] %></li>
            <li role="separator" class="dropdown-divider"></li>
            <li class="dropdown-header">Tools:</li>
            <li class="dropdown-item"><%= link_to "Books", [:admin, :books] %></li>
            <li class="dropdown-item"><%= link_to "Zines", [:admin, :zines] %></li>
            <li class="dropdown-item"><%= link_to "Posters", [:admin, :posters] %></li>
            <li class="dropdown-item"><%= link_to "Stickers", [:admin, :stickers] %></li>
            <li class="dropdown-item"><%= link_to "Logos", [:admin, :logos] %></li>
          </ul>
        </li>

        <li class="nav-item"><%= link_to "Articles", [:admin, :articles], class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Pages", [:admin, :pages], class: "nav-link" %></li>

        <!--
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
            Contributors <span class="caret"></span>
          <% end %>

          <ul class="dropdown-menu">
            <li><%= link_to "Contributors", [:admin, :contributors] %></li>
            <li><%= link_to "Roles", [:admin, :roles] %></li>
          </ul>
        </li>
        -->

        <li class="dropdown nav-item">
          <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
              Site Settings <span class="caret"></span>
          <% end %>

          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to "Users", [:admin, :users] %></li>
            <li role="separator" class="dropdown-divider"></li>
            <li class="dropdown-item"><%= link_to "Links", [:admin, :links] %></li>
            <li class="dropdown-item"><%= link_to "Redirects", [:admin, :redirects] %></li>
            <li class="dropdown-item"><%= link_to "Settings", [:admin, :settings] %></li>
            <li class="dropdown-item"><%= link_to "Themes", [:admin, :themes] %></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-end">
        <li class="dropdown nav-item">
          <%= link_to "#", class: "nav-link dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"} do %>
              You <span class="caret"></span>
          <% end %>

          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to "Profile", profile_path %></li>
            <li class="dropdown-item"><%= link_to "Settings", settings_path %></li>
            <li role="separator" class="dropdown-divider"></li>
            <li class="dropdown-item"><%= link_to "Sign out", signout_path %></li>
          </ul>
        </li>

        <li class="nav-item"><%= link_to "View Site", root_path, target: "_blank", class: "nav-link" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
<% end %>
