<% if signed_in? %>
  <nav class="navbar navbar-expand-md border border-secondary border-top-0 border-start-0 border-end-0 mb-5">
    <div class="container-fluid">
      <%= link_to "ðŸ–¤ ADMIN", [:admin, :dashboard], class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
          <%= nav_to "ðŸ“ New Article",  [:new, :admin, :article] %>
          <%= nav_to "ðŸ“„ Articles",     [:admin, :articles] %>
          <%= nav_to "â†ªï¸ Redirects",    [:admin, :redirects] %>
          <%= nav_to "â¤´ï¸ New Redirect", [:new, :admin, :redirect] %>
        </ul>

        <div class="d-flex">
          <ul class="navbar-nav">
            <%= nav_to "ðŸ–¥ View Site", [:root], target: "_blank" %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>
