<h1>
  <small><%= link_to 'Admin', [:admin] %></small><br>
  <%= link_to thing_type(thing).pluralize, [:admin, thing_type(thing).pluralize.downcase] %>

  <% if listing? %>
    <%= link_to 'NEW', [:new, :admin, thing_type(thing).downcase], class: 'btn btn-primary btn-xs' %>
  <% elsif showing? %>
    <%= link_to 'EDIT', [:edit, :admin, thing], class: 'btn btn-primary btn-xs' %>
  <% end %>

  <% if editing? %>
    <h2>
      Editing
      <%= link_to thing_type(thing), [:admin, thing] %>
    </h2>
  <% end %>

  <% if creating? %>
    <h2>
      New
      <%= thing_type(thing) %>
    </h2>
  <% end %>
</h1>
