<div id="datetime" class="py-5">
  <%# TODO: refactor this to just: if resource.draft? %>
  <% if resource.new_record? || (resource.publication_status.present? && !resource.published?) %>
    <div class="row">
      <div class="col-12 col-lg-8">

        <div class="card">
          <h4 class="card-header bg-primary text-white"><b>To Future Publish…</b></h4>

          <div class="card-body">
            <p class="card-text">
              <%= render "admin/datetime_group", f: f, post: resource, type: :article %>
            </p>

            <div class="text-right">
              <%= button_tag "Save", class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>

      </div><!-- .col -->

      <div class="col-12 col-lg-4">

        <div class="card">
          <h4 class="card-header bg-warning"><b>To Publish Now…</b></h4>

          <div class="card-body">
            <p class="card-text">
              If you want to publish this <%= resource.class.downcase %> <b>right now</b>, you can with one click.
              If you click the <b>Publish NOW!</b> button, the <code>published_at</code>
              will be set to now and the <code>publication_status</code> will be set to
              <i>Published</i>. This <%= resource.class.downcase %> will immediately show up in
              the homepage feed.

              <noscript><p><b>Requires Javascript</b> to be turned on to work.</p></noscript>
            </p>

            <div class="text-right">
              <%= link_to "Publish NOW!", "#", id: "publish-now", class: "btn btn-warning btn-lg" %>
            </div>
          </div>
        </div>

      </div><!-- .col -->
    </div><!-- .row -->

  <% else %>
    <%= render "admin/datetime_group", f: f, post: resource, type: :article %>
  <% end %>

  <%= render "admin/articles/back_to_top" %>
</div><!-- #datetime -->

