<article>
  <header>
    <h1><%= t "views.languages.heading" %></h1>
  </header>

  <div class="e-content">
    <div class="intro">
      <p><%= render_markdown t("views.languages.description") %></p>
    </div>

    <table id="locales">
      <% @locales.each do |locale| %>
        <%
          unicode_link = link_to locale.name, [:language, locale: locale.name.downcase.gsub(' ', '-')]
          slug_link    = link_to locale.slug, [:language, locale: locale.slug.to_sym]
          english_link = link_to locale.name_in_english, [:language, locale: locale.name_in_english.downcase.to_sym]
        %>

        <tr>
          <td class="articles-count">
            <%= number_with_delimiter locale.articles_count %>
          </td>

          <td>
            <b><%= unicode_link %></b> (<%= slug_link %>)
          </td>

          <td>
            <%= english_link %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>
</article>
