<article>
  <header>
    <h1><%= t "views.languages.heading" %></h1>
  </header>

  <div class="e-content">
    <div class="intro">
      <p><%= render_markdown t("views.languages.description") %></p>
    </div>

    <div class="row">
      <div class="column-half" style="padding: 0 3em 3em 0">
        <ul id="locales">
          <% @locales.each do |locale| %>
            <%
              unicode_link = link_to locale.name,            [:language, locale: locale.name.downcase.gsub(' ', '-')]
              slug_link    = link_to locale.slug,            [:language, locale: locale.slug.to_sym]
              english_link = link_to locale.name_in_english, [:language, locale: locale.name_in_english.downcase.gsub(' ', '-')]
            %>

            <li>
              <h2>
                <%= english_link %>
                <small style="font-size: .5em"><%= number_with_delimiter locale.articles_count %></small>
              </h2>
              <b><%= unicode_link %></b> (<%= slug_link %>)
            </li>
          <% end %>
        </ul>
      </div>

      <div class="column-half">
        <h2 style="padding-top: .25em">
          <%= t "footer.nav.tools.to_change_everything" %>
        </h2>

        <ul style="padding-left: 3em">
          <% tce_language_links.each do |name, path| %>
            <li><%= link_to name.html_safe.strip_tags.html_safe, path %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</article>
