<% content_for(:head) do %>
  <%= rel_next_prev_link_tags(@articles) %>
<% end %>

<header>
  <h1><%=@locale.name%></h1>
  <% unless @locale.abbreviation == "en" %>
  <h2>(<%= @locale.name_in_english %>)</h>
  <% end %>
</header>

<div class="h-feed">
  <%= render_themed "articles/list", articles: @articles %>
</div>

<%= paginate @articles %>
