<% if featured_books.present? %>
  <!-- Featured books -->
  <section class='row'>
    <p class='mb-2 pt-5' id='books'><%= tt :featured_books %></p>

    <% featured_books.each do |book| %>
      <article class='col-12 col-lg-6'>

        <div class='row'>
          <div class='col-3'>
            <%= link_to image_tag(book.image), book.path %>
          </div><!-- /.col-3 -->

          <div class='col-9'>
            <%= link_to book.path, class: 'mb-2' do %>
              <h2 class='fw-bold'><%= book.title %></h2>

              <% if book.subtitle.present? %>
                <h3 class='fw-light'><%= book.subtitle %></h3>
              <% end %>
            <% end %>

            <%= render_markdown book.summary %>

            <p class='fw-bold text-end'><%= link_to "#{tt :learn_more} →", book.path %></p>
          </div><!-- /.col-9 -->
        </div><!-- /.row -->
      </article><!-- /.col-6 -->
    <% end %>
  </section><!-- /.row -->
<% end %>
