<%# TEMP: <hr>s are just for visual separation during dev while there's no CSS. Remove at anytime. %>

<header>
  <nav>
    <ul>
      <li><%= link_to tt('site_name'),       [:root] %></li>
      <li><%= link_to tt('header.books'),    [:books] %></li>
      <li><%= link_to tt('header.library'),  [:library] %></li>
      <li><%= link_to tt('header.tools'),    [:tools] %></li>
      <li><%= link_to tt('header.podcasts'), [:podcasts] %></li>
      <li><%= link_to tt('header.store'),    [:store] %></li>
      <li><%= link_to tt('header.about'),    [:about] %></li>
    </ul>

    <hr>
    <%= link_to tt('header.support'), [:support] %>
    <hr>

    <ul>
      <li><%= link_to tt('header.languages'), '#languages' %></li>
      <li><%= link_to tt('header.search'),    '#search' %></li>
      <li><%= link_to tt('header.share'),     '#share' %></li>
    </ul>
  </nav>

  <hr>
  <div>
    <%= render_markdown tt 'header.cards.share.description' %>

    <h2><%= @page_share.title %></h2>
    <h3><%= @page_share.subtitle %></h3>

    <ul>
      <li><%= link_to tt('header.cards.share.twitter'),  @page_share.share_url_for(:twitter) %></li>
      <li><%= link_to tt('header.cards.share.facebook'), @page_share.share_url_for(:facebook) %></li>
      <li><%= link_to tt('header.cards.share.tumblr'),   @page_share.share_url_for(:tumblr) %></li>
      <li><%= link_to tt('header.cards.share.email'),    @page_share.share_url_for(:email) %></li>
    </ul>
  </div>
  <hr>
</header>
