<%# TEMP: <hr>s are just for visual separation during dev while there's no CSS. Remove at anytime. %>

<header>
  <nav>
    <ul>
      <li><%= link_to tt('site_name'),       [:root] %></li>
      <li><%= link_to tt('header.books'),    [:books] %></li>
      <li><%= link_to tt('header.library'),  [:library] %></li>
      <li><%= link_to tt('header.tools'),    [:tools] %></li>
      <li><%= link_to tt('header.podcasts'), [:podcasts] %></li>
      <li><%= link_to tt('header.store'),    [:store] %></li>
      <li><%= link_to tt('header.about'),    anchor: 'about' %></li>
    </ul>

    <hr>
    <%= link_to tt('header.support'), [:support] %>
    <hr>

    <ul>
      <li><%= link_to tt('header.languages'), anchor: 'languages' %></li>
      <li><%= link_to tt('header.search'),    anchor: 'search' %></li>
      <li><%= link_to tt('header.share'),     anchor: 'share' %></li>
    </ul>
  </nav>

  <hr>
  <div id='languages'>
    <p><%= tt 'header.languages' %></p>

    <ol>
      <% Locales.supported.each do |locale| %>
        <%= link_to t(:name, locale: locale),
                    url_for_current_path_with_subdomain(subdomain: locale) %>
      <% end %>
    </ol>
  </div>
</header>

<hr>
<div id='share'>
  <p><%= tt('site_name') %></p>

  <%= tt 'header.cards.about.first_time_description' %>
  <%= link_to tt('header.cards.about.first_time_link'), '/start' %>

  <%= render_markdown tt 'header.cards.about.search_description' %>

  <p>[____search field____]</p>

  <%= render_markdown tt 'header.cards.about.description' %>
  <p><%= tt 'header.cards.about.more_link' %></p>
</div>
<hr>

<div id='search'>
  <%# TODO %>
  <p>[____search field____]</p>
  Search card here
</div>
<hr>

<div id='share'>
  <%= render_markdown tt 'header.cards.share.description' %>

  <h2><%= @page_share.title %></h2>
  <h3><%= @page_share.subtitle %></h3>

  <ul>
    <li><%= link_to tt('header.cards.share.twitter'),  @page_share.share_url_for(:twitter),  target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.facebook'), @page_share.share_url_for(:facebook), target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.tumblr'),   @page_share.share_url_for(:tumblr),   target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.email'),    @page_share.share_url_for(:email),    target: '_blank' %></li>
  </ul>
</div>
<hr>
