<p id="notice"><%= notice %></p>

<p>
  <strong>Abbreviation:</strong>
  <%= @locale.abbreviation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @locale.name %>
</p>

<%= link_to 'Edit', edit_locale_path(@locale) %> |
<%= link_to 'Back', locales_path %>
