<%= render "admin/page_header", thing: @links %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>URL</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, link], class: "btn btn-primary btn-xs" %>
        </td>
        <td><%= link_to link.name, [:admin, link] %></td>
        <td><%= link_to link.url,  [:admin, link] %></td>
        <td>
          <%= link_to "DELETE", [:admin, link], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%= paginate @links, views_prefix: "admin" %>
</div>
