<%= render "admin/page_header", thing: @link %>

<article>
  <header>
    <h1 class="p-name">
      <span class="h1"><%= @link.name %></span><br>
      <%= link_to @link.url, @link.url, class: "h2" %>
    </h1>
  </header>

  <hr>
  <% if @link.user.present? %>
    <p>
      User:
      <b><%= @link.user.username %></b>
      <b>(<%= @link.user.name %>)</b>
    </p>
  <% end %>

  <div class="e-content">
    <p>
      Displayed link:
      <b><%= link_to @link.name, @link.url %></b>
    </p>
  </div>
</article>
