<div id="book">
  <h1>Book</h1><br>
  <div class="product-photo">
    <%= link_to(image_tag("http://thecloud.crimethinc.com/assets/books/work/photo.jpg",  alt: "Work book cover"), "http://thecloud.crimethinc.com/assets/books/work/photo.jpg")  %>
  </div>

  <div id="buy-now">
    <%= render "books/buy_button", price: 1000, url: "http://store.crimethinc.com/x/AddToCart?Item=litkit&Dest=books" %>
  </div>

  <div class="buy-info">
    <p>
      From colonialism to the stock market, from the financial crisis to the upheavals taking place
      right now, our newest book offers an overview of how capitalism functions in the 21st century and
      how we can get beyond it. 378 Pages, <a href="/books/work">more info here</a>.
    </p>
  </div>
</div>


<div id="poster">
  <h1>Deluxe Poster</h1><br>
  <div class="product-photo">
    <%= link_to(image_tag("http://thecloud.crimethinc.com/assets/books/work/images/work-poster-small.jpg",  alt: "Work deluxe poster"), "http://thecloud.crimethinc.com/assets/books/work/images/work-poster-large.jpg")  %>
  </div>

  <div id="buy-now">
    <%= render "books/buy_button", price: 800, url: "http://store.crimethinc.com/x/AddToCart?Item=litkit&Dest=books" %>
  </div>

  <div class="buy-info">
    <p>
      We&rsquo;ve created a new version of the classic illustration of the
      <a href="http://thecloud.crimethinc.com/assets/books/work/images/iww-poster-large.jpg">pyramid of the capitalist system</a>
      published in 1911, more detailed and updated to account for all the transformations of the past
      one hundred years. Fully 2'x3' in size. <a href="/tools/deluxe.html">More info here</a>.
    </p>
  </div>
</div>


<div id="bulk">
  <h1>Bulk Poster : 25 kit</h1><br>
  <div class="product-photo">
    <%= link_to(image_tag("http://thecloud.crimethinc.com/assets/books/work/images/work-bulk-poster-small.jpg",  alt: "Work bulk poster"), "http://thecloud.crimethinc.com/assets/books/work/images/work-bulk-poster-large.jpg")  %>
  </div>

  <div id="buy-now">
    <%= render "books/buy_button", price: 300, url: "http://store.crimethinc.com/x/AddToCart?Item=litkit&Dest=books" %>
  </div>

  <div class="buy-info">
    <p>
      A 22"x14" full-color, stand-alone poster as well as a companion to our <a href="/books/work">Work</a> book, the back contains a concise essay dissecting capitalism as we live it. This bulk version is made for easy distribution and decoration of public spaces. <a href="/tools/posters.html" title="CWC Tools : Posters">More info here</a>.
    </p>
  </div>
</div>

