<h1>Pamphlets from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/Mythology-of-Work.gif") %>

    <p>
      <a class="button" href="http://cloudfront.crimethinc.com/work_extras/Mythology-of-Work-mobile.pdf">Screen PDF [5.2MB]</a><br>
      <a class="button" href="http://cloudfront.crimethinc.com/work_extras/Mythology-of-Work-print.pdf">Print PDF [4.6MB]</a>
    </p>
  </div>

  <div class="column column-one-third">
    <p><b>Screen</b> versions are for reading on screens of any size and are optimized for small displays and tablets.</p>

    <p><b>Print</b> versions are black and white, ready for reproduction as half-size pamphlets, imposed on 8.5x11 pages.</p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/The-Climate-is-Changing.gif") %>

    <p>
      <a class="button" href="http://cloudfront.crimethinc.com/work_extras/The-Climate-is-Changing-mobile.pdf">Screen PDF [1.2MB]</a><br>
      <a class="button" href="http://cloudfront.crimethinc.com/work_extras/The-Climate-is-Changing-print.pdf">Print PDF [1.6MB]</a>
    </p>
  </div>
</div>

<h1>Posters from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/show-them-whos-boss-no-one.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/show-them-whos-boss-no-one.pdf">Download PDF [87k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/dont-let-them-crush-the-life-out-of-you.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/dont-let-them-crush-the-life-out-of-you.pdf">Download PDF [127k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/play-with-a-full-deck.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/play-with-a-full-deck.pdf">Download PDF [538k]</a></p>
  </div>
</div>

<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/your-leaders-cant-protect-you.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/your-leaders-cant-protect-you.pdf">Download PDF [318k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/your-leaders-wont-save-you.jpg") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/your-leaders-wont-save-you.pdf">Download PDF [1.8MB]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/wash-hands.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/wash-hands.pdf">Download PDF [48k]</a></p>
  </div>
</div>


<h1>Posters Born from the Book</h1>

<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/capitalism-is-armed-robbery.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/capitalism-is-armed-robbery.pdf">Download PDF [46k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/capitalism-is-organized-crime.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/capitalism-is-organized-crime.pdf">Download PDF [46k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/capitalism-is-a-rip-off.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/capitalism-is-a-rip-off.pdf">Download PDF [32k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/my-body-keep-out.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/my-body-keep-out.pdf">Download PDF [234k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/file_under_death.gif") %>

    <p><a class="button" href="Download PDF [40k]">Download PDF [40k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/how-to-remove-politicians-from-office.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/how-to-remove-politicians-from-office.pdf">Download PDF [42k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/a-face-you-can-trust.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/a-face-you-can-trust.pdf">Download PDF [126k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/work_poster.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/work_poster.pdf">Download PDF [33k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/together-we-are-stronger-than-them.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/together-we-are-stronger-than-them.pdf">Download PDF [190k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/lies.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/lies.pdf">Download PDF [28k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/police-are-puppets.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/police-are-puppets.pdf">Download PDF [48k]</a></p>
  </div>

  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/when-they-fire-you-quit.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/when-they-fire-you-quit.pdf">Download PDF [72k]</a></p>
  </div>
</div>


<div class="row">
  <div class="column column-one-third">
    <%= image_tag("http://cloudfront.crimethinc.com/work_extras/dont-try-to-break-us-well-explode.gif") %>

    <p><a class="button" href="http://cloudfront.crimethinc.com/work_extras/dont-try-to-break-us-well-explode.pdf">Download PDF [28k]</a></p>
  </div>
</div>

