<%= render "shared/license" %>
<title><%= page_title %></title>
<%= render "shared/meta_tags" %>
<%= render "shared/backward_compatibility_meta_tags" %>
<%= render "shared/link_tags" %>
<%= render "shared/fav_and_touch_icons" %>
<%= render "shared/backward_ie_compatibility" %>
<%= render "shared/stylesheets" %>
<%= render "shared/javascripts" %>
