<header class="site-header" id="header">
  <% if lite_mode? %>
    <p><%= link_to(t("header.site_mode"), url_for_current_path_with_subdomain) %></p>
  <% end %>

   <span class="header-logo"><%= link_to t("site_name"), [:root] %></span>

   <nav>
     <ul class="primary-navigation">
       <li class="nav-link"><%= link_to t("header.books"),   "/books" %></li>
       <li class="nav-link"><%= link_to t("header.library"), "/library" %></li>
       <li class="nav-link"><%= link_to t("header.tools"),   "/tools" %></li>
       <li class="nav-link"><%= link_to t("header.audio"),   "/podcast" %></li>
       <li class="nav-link"><%= link_to t("header.store"),   "/store" %></li>
       <li class="nav-link"><%= link_to t("header.search"),  "/search" %></li>
       <li class="nav-link"><%= link_to t("header.about"),   "/about" %></li>
     </ul>
   </nav>

   <%= link_to t("header.support"), [:support], class: "button" %>

   <p class="language-switcher">
     <%= t 'header.languages' %>:

     <% Locales.supported.each do |locale| %>
       <%= link_to t(:name, locale: locale),
                   url_for_current_path_with_subdomain(subdomain: locale) %>
     <% end %>
   </p>
 </header>
