<article class="h-entry" id="episode-<%= @episode.id %>">
  <header>
    <%= render "articles/titles", header: @episode, linked: action_name == "transcript" %>
  </header>

  <div class="row">
    <div class="column column-one-third podcast-meta">
      <% if @episode.image.present? %>
        <%= image_tag @episode.image, class: "u-photo" %>
      <% end %>

      <%= render "articles/titles", header: @episode.podcast, linked: true %>

      <%= render "podcast/subscribe_buttons", podcast: @episode.podcast %>
    </div> <!-- .column -->

    <div class="column column-two-third">
      <div class="e-content">

        <h3 class="listen">
          <% unless lite_mode? %>
            <%= t("podcast.listen") %>
            <% if @episode.duration.present? %>
              <small>
                —
                <%= @episode.duration %>
                <abbr title="minutes">min</abbr>
              </small>
            <% end %>
          <% end %>
        </h3>
        <%= render "podcast/player", episode: @episode unless lite_mode? %>

        <div class="episode-info">
          <div class="buttons">
            <% if @episode.audio_mp3_url.present? %>
              <%= link_to @episode.audio_mp3_url, class: "button" do %>
                <%= t("podcast.download") %> MP3
                <% if @episode.audio_mp3_file_size.present? %>
                  <small>
                    <%= @episode.audio_mp3_file_size %>
                    <abbr title="megabytes">MB</abbr>
                  </small>
                <% end %>
              <% end %>
            <% end %>

            <% if @episode.audio_ogg_url.present? %>
              <%= link_to @episode.audio_ogg_url, class: "button" do %>
                <%= t("podcast.download") %> OGG
                <% if @episode.audio_ogg_file_size.present? %>
                  <small>
                    <%= @episode.audio_ogg_file_size %>
                    <abbr title="megabytes">MB</abbr>
                  </small>
                <% end %>
              <% end %>
            <% end %>

            <% unless action_name == "transcript" %>
              <p>
                <%= link_to t("podcast.full_episode_transcript"),
                            episode_transcript_url(slug: @episode.podcast.slug, episode_number: @episode.episode_number) %>
              </p>
            <% end %>
          </div>

          <% if action_name == "transcript" %>
            <% if @episode.transcript.present? %>
              <h3><%= t("podcast.transcript") %></h3>
              <div class="transcript">
                <%= raw @episode.transcript %>
              </div>
            <% end %>
          <% else %>
            <% if @episode.content.present? %>
              <h3><%= t("podcast.summary") %></h3>
              <div class="summary">
                <%= raw @episode.content.
                  gsub("-------SHOW NOTES------", "<h3>#{t('podcast.show_notes')}</h3>").
                  gsub("<p> </p>", "").html_safe %>
              </div>
            <% end %>

            <% if @episode.show_notes.present? %>
              <h3><%= t("podcast.notes_and_links") %></h3>
              <div class="notes">
                <%= raw @episode.show_notes %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div> <!-- .h-feed -->
    </div> <!-- .column -->
  </div> <!-- .row -->

</article>
