<div class='container'>
  <%= render_themed 'home/sections/article',  article: @latest_article %>
  <%= render_themed 'home/sections/podcasts', latest_episode: @latest_episode, recent_episodes: @recent_episodes %>

  <%= render_themed 'home/sections/articles',
                    articles:                @articles,
                    just_published_articles: @just_published_articles,
                    recent_articles:         @recent_articles %>

  <%= render_themed 'home/sections/books', featured_books: @featured_books %>
  <%= render_themed 'home/sections/ex_workers_collection', ex_workers_collection: @ex_workers_collection %>



  <% if false %>

  <!-- Selected tools -->
  <% if @selected_tools.present? %>
    <section>
      <div class='row'>
        <div class='col col-6'>
          <h1><%= link_to 'Selected Tools', [:tools] %></h1>
        </div>

        <div class='col col-6'>
          <%= link_to 'More Tools →', [:tools] %>
        </div>
      </div>

      <div class='row'>
        <% @selected_tools.each do |tool| %>
          <div class='col col-3'>
            <%= link_to image_tag(tool.image), tool.path %>

            <p>
              <%= link_to tool.class, [tool.class.to_s.downcase.pluralize] %>
            </p>

            <%= link_to tool.path do %>
              <h2><%= tool.title %></h2>

              <% if tool.subtitle.present? %>
                <h3><%= tool.subtitle %></h3>
              <% end %>
            <% end %>
          </div><!-- /.col.col-3 -->
        <% end %>
      </div><!-- /.row -->
    </section>
  <% end %>
  <!-- /Selected tools -->

  <% end %>
</div><!-- /.container -->
