<!-- TEMP: for development only -->
<style>
  .row {
    margin: 50px 0;
  }
</style>
<!-- /TEMP: for development only -->

<div class="container">

  <!-- Latest article -->
  <section>
    <h1>Latest article</h1>

    <article class="row">
      <div class='column column-50'>
        <%= render_markdown "[[#{@top_article.image} #{@top_article.image_description}]]" %>
      </div>

      <div class="column column-50">
        <%= link_to @top_article.path do %>
          <h2><%= @top_article.title %></h2>
          <h3><%= @top_article.subtitle %></h3>
        <% end %>
        <div>
          <%= render_markdown @top_article.lede %>
        </div>

        <p><%= link_to 'KEEP READING →', @top_article.path %></p>
      </div>
    </article>
  </section>
  <!-- /Latest article -->

  <!-- Latest and recent podcast episodes -->
  <section class="row">
    <div class="column column-50">
      <h1>Latest podcast episode</h1>

      <div class="row">
        <div class="column column-25">
          <%= link_to image_tag(@latest_podcast_episode.image), @latest_podcast_episode.path %>
        </div><!-- /.column.column-25 -->

        <div class="column column-75">
          <p>
            <%= @latest_podcast_episode.podcast.title %>
            #<%= @latest_podcast_episode.episode_number %>
            —
            <%= display_date @latest_podcast_episode.published_at %>
          </p>

          <h2><%= @latest_podcast_episode.title %></h2>
          <h3><%= @latest_podcast_episode.subtitle %></h3>

          <%= link_to "Listen to episode →", @latest_podcast_episode.path %>
        </div><!-- /.column.column-75 -->
      </div><!-- /.row -->
    </div><!-- /.column.column-50 -->

    <div class="column column-50">
      <h1>Recent podcast episodes</h1>

      <div class="row">
        <% @recent_podcast_episodes.each do |podcast_episode| %>
          <div class="column column-25">
            <%= link_to image_tag(podcast_episode.image), podcast_episode.path %>
          </div><!-- /.column.column-25 -->
        <% end %>
      </div>

      <%= link_to "More podcast episodes →", [:podcasts] %>
    </div>
  </section>
  <!-- /Latest and recent podcast episodes -->

  <section class="row">
    <!-- Recent articles -->
    <div class="column column-50">
      <h1>Recent articles</h1>

      <ol>
        <% @recent_articles.each do |article| %>
          <li>
            <%= image_tag article.image, style: 'max-width: 200px' %>

            <p>
              <% article.categories.each do |category| %>
                <%= link_to category.name, category.path %>
              <% end %>
            </p>

            <%= link_to article.path do %>
              <b><%= article.title %></b><br>
              <%= article.subtitle %>
            <% end %>
          </li>
        <% end %>
      </ol>

      <p><%= link_to_next_page @articles, 'More articles →' %></p>
    </div>
    <!-- /Recent articles -->

    <!-- Previous articles -->
    <div class="column column-50">
      <p>Previous articles</p>

      <ol>
        <% @previous_articles.each do |article| %>
          <li>
            <%= link_to article.path do %>
              <b><%= article.title %></b><br>
              <%= article.subtitle %>
            <% end %>
          </li>
        <% end %>
      </ol>

      <p><%= link_to_next_page @articles, 'More articles →' %></p>
    </div>
    <!-- /Previous articles -->
  </section>

</div><!-- /.container -->
