<div class="container">

<!-- Latest article -->
<section>
  <p>Latest article</p>

  <article class="row">
    <div class='column column-50'>
      <%= render_markdown "[[#{@top_article.image} #{@top_article.image_description}]]" %>
    </div>

    <div class="column column-50">
      <%= link_to @top_article.path do %>
        <h2><%= @top_article.title %></h2>
        <h3><%= @top_article.subtitle %></h3>
      <% end %>
      <div>
        <%= render_markdown @top_article.lede %>
      </div>

      <p><%= link_to 'KEEP READING →', @top_article.path %></p>
    </div>
  </article>
</section>
<!-- /Latest article -->

<!-- Latest and recent podcast episodes -->
<section class="row">
  <div class="column column-50">
    <p>Latest podcast episode</p>
    <%= @latest_podcast_episode.inspect %>
  </div>

  <div class="column column-50">
    <p>Recent podcast episodes</p>
    <%= @recent_podcast_episode.inspect %>
  </div>
</section>
<!-- /Latest and recent podcast episodes -->

<section class="row">
  <!-- Recent articles -->
  <div class="column column-50">
    <p>Recent articles</p>

    <ol>
      <% @recent_articles.each do |article| %>
        <li>
          <%= image_tag article.image, style: 'max-width: 200px' %>

          <p>
            <% article.categories.each do |category| %>
              <%= link_to category.name, category.path %>
            <% end %>
          </p>

          <%= link_to article.path do %>
            <b><%= article.title %></b><br>
            <%= article.subtitle %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <p><%= link_to_next_page @articles, 'More articles →' %></p>
  </div>
  <!-- /Recent articles -->

  <!-- Previous articles -->
  <div class="column column-50">
    <p>Previous articles</p>

    <ol>
      <% @previous_articles.each do |article| %>
        <li>
          <%= link_to article.path do %>
            <b><%= article.title %></b><br>
            <%= article.subtitle %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <p><%= link_to_next_page @articles, 'More articles →' %></p>
  </div>
  <!-- /Previous articles -->
</section>

</div><!-- /.container -->
