<!-- Latest article -->
<section>
  <p>Latest article</p>

  <article>
    <div class='TEMP' style='max-width: 500px'>
    <%= render_markdown "[[#{@top_article.image} #{@top_article.image_description}]]" %>
    </div>

    <%= link_to @top_article.path do %>
      <h2><%= @top_article.title %></h2>
      <h3><%= @top_article.subtitle %></h3>
    <% end %>

    <div>
      <%= render_markdown @top_article.lede %>
    </div>

    <p><%= link_to 'KEEP READING →', @top_article.path %></p>
  </article>
</section>
<!-- /Latest article -->

<!-- Recent articles -->
<section>
  <p>Recent articles</p>

  <ol>
    <% @recent_articles.each do |article| %>
      <li>
        <%= image_tag article.image, style: 'max-width: 200px' %>

        <p>
          <% article.categories.each do |category| %>
            <%= link_to category.name, category.path %>
          <% end %>
        </p>

        <%= link_to article.path do %>
          <b><%= article.title %></b><br>
          <%= article.subtitle %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <p><%= link_to_next_page @articles, 'More articles →' %></p>
</section>
<!-- /Recent articles -->

<!-- Previous articles -->
<section>
  <p>Previous articles</p>

  <ol>
    <% @previous_articles.each do |article| %>
      <li>
        <%= link_to article.path do %>
          <b><%= article.title %></b><br>
          <%= article.subtitle %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <p><%= link_to_next_page @articles, 'More articles →' %></p>
</section>
<!-- /Previous articles -->
