<!-- TEMP: for development only -->
<style> .row { margin: 50px 0; } </style>
<!-- /TEMP: for development only -->

<div class="container">

  <!-- Latest article -->
  <section>
    <h1><%= link_to "Latest article", @latest_article.path %></h1>

    <article class="row">
      <div class='column column-50'>
        <%= render_markdown "[[#{@latest_article.image} #{@latest_article.image_description}]]" %>
      </div><!-- /.column.column-50 -->

      <div class="column column-50">
        <%= link_to @latest_article.path do %>
          <h2><%= @latest_article.title %></h2>
          <h3><%= @latest_article.subtitle %></h3>
        <% end %>
        <div>
          <%= render_markdown @latest_article.lede %>
        </div><!-- /.column.column-50 -->

        <p><%= link_to 'KEEP READING →', @latest_article.path %></p>
      </div><!-- /.row -->
    </article>
  </section>
  <!-- /Latest article -->

  <!-- Latest and recent podcast episodes -->
  <section class="row">
    <div class="column column-50">
      <h1><%= link_to "Latest podcast episode", @latest_podcast_episode.path %></h1>

      <div class="row">
        <div class="column column-25">
          <%= link_to image_tag(@latest_podcast_episode.image), @latest_podcast_episode.path %>
        </div><!-- /.column.column-25 -->

        <div class="column column-75">
          <p>
            <%= @latest_podcast_episode.podcast.title %>
            #<%= @latest_podcast_episode.episode_number %>
            —
            <%= display_date @latest_podcast_episode.published_at %>
          </p>

          <%= link_to @latest_podcast_episode.path do %>
            <h2><%= @latest_podcast_episode.title %></h2>
            <h3><%= @latest_podcast_episode.subtitle %></h3>
          <% end %>

          <%= link_to "Listen to episode →", @latest_podcast_episode.path %>
        </div><!-- /.column.column-75 -->
      </div><!-- /.row -->
    </div><!-- /.column.column-50 -->

    <div class="column column-50">
      <h1><%= link_to "Recent podcast episodes", [:podcasts] %></h1>

      <div class="row">
        <% @recent_podcast_episodes.each do |podcast_episode| %>
          <div class="column column-25">
            <%= link_to image_tag(podcast_episode.image), podcast_episode.path %>
          </div><!-- /.column.column-25 -->
        <% end %>
      </div><!-- /.row -->

      <%= link_to "More podcast episodes →", [:podcasts] %>
    </div><!-- /.column.column-50 -->
  </section>
  <!-- /Latest and recent podcast episodes -->

  <!-- Recent and previous articles -->
  <section class="row">
    <!-- Recent articles -->
    <div class="column column-50">
      <h1><%= link_to_next_page @articles, 'Recent articles' %></h1>

      <ol>
        <% @recent_articles.each do |article| %>
          <li>
            <div class="row">
              <div class="column column-33">
                <%= image_tag article.image, style: 'max-width: 200px' %>
              </div><!-- /.column.column-33 -->

              <div class="column column-66">
                <p>
                  <% article.categories.each do |category| %>
                    <%= link_to category.name, category.path %>
                  <% end %>
                </p>

                <%= link_to article.path do %>
                  <b><%= article.title %></b><br>
                  <%= article.subtitle %>
                <% end %>
              </div><!-- /.column.column-66 -->
            </div><!-- /.row -->
          </li>
        <% end %>
      </ol>

      <p><%= link_to_next_page @articles, 'More articles →' %></p>
    </div><!-- /.column.column-50 -->
    <!-- /Recent articles -->

    <!-- Previous articles -->
    <div class="column column-50">
      <h1><%= link_to_next_page @articles, 'Previous articles' %></h1>

      <ol>
        <% @previous_articles.each do |article| %>
          <li>
            <%= link_to article.path do %>
              <b><%= article.title %></b><br>
              <%= article.subtitle %>
            <% end %>
          </li>
        <% end %>
      </ol>

      <p><%= link_to_next_page @articles, 'More articles →' %></p>
    </div><!-- /.column.column-50 -->
    <!-- /Previous articles -->
  </section>
  <!-- /Recent and previous articles -->

  <!-- Latest books -->
  <section>
    <h1><%= link_to 'Latest books', [:books] %></h1>

    <div class="row">
      <% @latest_books.each do |book| %>
        <div class='column column-50'>

          <div class='row'>
            <div class='column column-25'>
              <%= link_to image_tag(book.image), book.path %>
            </div><!-- /.column.column-25 -->

            <div class='column column-75'>
              <%= link_to book.path do %>
                <h2><%= book.title %></h2>
                <h3><%= book.subtitle %></h3>
              <% end %>

              <%= render_markdown book.summary %>

              <%= link_to "Learn more →", book.path %>
            </div><!-- /.column.column-75 -->
          </div><!-- /.row -->

        </div><!-- /.column.column-50 -->
      <% end %>

    </div><!-- /.row -->
  </section>
  <!-- /Latest books -->



</div><!-- /.container -->
