<% content_for(:head) do %>
  <%= rel_next_prev_link_tags(@articles) %>
<% end %>

<div class="h-feed">
  <span class="screen-reader-only">
    <span class="p-name"><%= t("site_name") %></span>
    <span>by</span>
    <span class="p-author"><%= t("site_author") %></span>
  </span>

  <% if @top_article.present? %>
    <%= render "archives/card_css", article: @top_article %>
    <%= render "archives/card",     article: @top_article %>
  <% end %>

  <% @articles.in_groups_of(2).each do |row| %>
    <div class="row">
      <% row.each do |article| %>
        <% unless article.blank? %>
          <%= render "archives/card_css", article: article %>
          <%= render "archives/card",     article: article %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="pagination-container">
  <ul class="pagination">
    <li class="page">
      <%= link_to_previous_page @articles, t("views.pagination.previous_page").html_safe %>
    </li>

    <li class="page">
      <%= link_to_next_page @articles, t("views.pagination.next_page").html_safe %>
    </li>
  </ul>
</div>
