<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= stylesheet_link_tag Theme.name, media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&display=swap", media: "all" %>
    <%= render_themed "shared/translation_missing_css" %>
  </head>

  <body>
    <%= render_themed "shared/header" %>

    <main>
      <%= yield %>
    </main>

    <%= render_themed "shared/javascripts" %>
  </body>
<% end %>
