<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,

             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= stylesheet_link_tag Current.theme, media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&display=swap", media: "all" %>
    <%= render_themed "shared/translation_missing_css" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
 </head>

  <body>
    <%= render_themed "shared/admin_header" %>
    <%= render "shared/development_mode_banner" %>

    <%= render_themed "shared/header" %>

    <h1>CrimethInc. Ex-Workers’ Collective</h1>

    <main>
      <%= yield %>
    </main>

    <%= render_themed "shared/footer" %>
  </body>
<% end %>
