<header id="header" class="container">
  <nav>
    <ul>
      <li><%= link_to tt('site_name'),       [:root] %></li>
      <li><%= link_to tt('header.books'),    [:books] %></li>
      <li><%= link_to tt('header.library'),  [:library] %></li>
      <li><%= link_to tt('header.tools'),    [:tools] %></li>
      <li><%= link_to tt('header.podcasts'), [:podcasts] %></li>
      <li><%= link_to tt('header.store'),    [:store] %></li>
      <li><%= link_to tt('header.about'),    anchor: 'about' %></li>
    </ul>

    <%= link_to tt('header.support'), [:support] %>

    <ul>
      <li><%= link_to tt('header.languages'), anchor: 'languages' %></li>
      <li><%= link_to tt('header.search'),    anchor: 'search' %></li>
      <li><%= link_to tt('header.share'),     anchor: 'share' %></li>
    </ul>
  </nav>

  <div id='languages' style='display: none;'>
    <ol>
      <% Locale.live.each do |locale| %>
        <%= tag.li class: locale_nav_item_classes_for(locale) do %>
          <%= link_to locale.name,
                      url_for_current_path_with_subdomain(subdomain: locale.abbreviation) %>
        <% end %>
      <% end %>
    </ol>
  </div>
</header>

<div id='about' style='display: none;'>
  <p><%= tt('site_name') %></p>

  <%= tt 'header.cards.about.first_time_description' %>
  <%= link_to tt('header.cards.about.first_time_link'), '/start' %>

  <%= render_markdown tt 'header.cards.about.search_description' %>

  <%= render 'layouts/2020/site_search' %>

  <%= render_markdown tt 'header.cards.about.description' %>
  <p><%= tt 'header.cards.about.more_link' %></p>
</div>

<div id='search' style='display: none;'>
  <%= tt 'header.cards.search.description' %>

  <%= render 'layouts/2020/site_search' %>

  <h2><%= tt 'header.cards.search.category_heading' %></h2>

  <p>
    <% Category.all.each do |category| %>
      <%= link_to category.name, [:category, slug: category.slug] %>
    <% end %>
  </p>

  <h2><%= tt 'header.cards.search.chronological_heading' %></h2>

  <p>
    <% (1996..Time.current.year).to_a.reverse_each do |year| %>
      <%= link_to year, [:article_archives, year: year] %>
    <% end %>
  </p>
</div>

<div id='share' style='display: none;'>
  <%= render_markdown tt 'header.cards.share.description' %>

  <h2><%= @page_share.title %></h2>
  <h3><%= @page_share.subtitle %></h3>

  <ul>
    <li><%= link_to tt('header.cards.share.twitter'),  @page_share.share_url_for(:twitter),  target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.facebook'), @page_share.share_url_for(:facebook), target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.tumblr'),   @page_share.share_url_for(:tumblr),   target: '_blank' %></li>
    <li><%= link_to tt('header.cards.share.email'),    @page_share.share_url_for(:email),    target: '_blank' %></li>
  </ul>
</div>
