<header id='top' class='my-5 container'>
  <nav>
    <div class='row'>
      <div class='col-lg-10'>
        <ul class='list-inline'>
          <li class='list-inline-item'><%= link_to tt('site_name'),       :root     %></li>
          <li class='list-inline-item'><%= link_to tt('header.books'),    :books    %></li>
          <li class='list-inline-item'><%= link_to tt('header.library'),  :library  %></li>
          <li class='list-inline-item'><%= link_to tt('header.tools'),    :tools    %></li>
          <li class='list-inline-item'><%= link_to tt('header.podcasts'), :podcasts %></li>
          <li class='list-inline-item'><%= link_to tt('header.store'),    :store    %></li>
          <li class='list-inline-item'><%= link_to tt('header.about'),    { anchor: :about } %></li>
        </ul>
      </div>

      <div class='col-lg-2'>
        <%= link_to tt('header.support'), :support, class: 'btn btn-success' %>

        <ul class='list-inline'>
          <li class='list-inline-item'><%= link_to tt('header.languages'), { anchor: :languages } %></li>
          <li class='list-inline-item'><%= link_to tt('header.search'),    { anchor: :search }    %></li>
          <li class='list-inline-item'><%= link_to tt('header.share'),     { anchor: :share }     %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class='container'>
  <%= render 'layouts/2020/header/languages' %>
  <%= render 'layouts/2020/header/search' %>
  <%= render 'layouts/2020/header/about' %>
  <%= render 'layouts/2020/header/share' %>
</div>
