<% unless page.blank? %>
  <style id="style-for-page-<%= page.id %>">
    <%= page.css %>
  </style>

  <section class="pinned-page pinned-page-<%= position %>" role="region">
    <article class="h-x-page">
      <%= render "articles/titles", header: page, linked: false %>

      <div class="pinned-page-content">
        <% if page.image.present? %>
          <%= image_tag page.image, alt: page.image_description, class: "u-photo" %>
        <% end %>

        <div class="e-content">
          <%= page.content_rendered %>
        </div>
      </div>
    </article>
  </section>
<% end %>
