<% unless page.blank? %>
  <style id="style-for-page-<%= page.id %>">
    <%= page.css %>
  </style>

  <section class="pinned-page pinned-page-<%= position %>" role="region">
    <article class="h-entry" role="article">
      <header class="p-name">
        <h1 class="dm-title"><%= page.title %></h1>
        <h2 class="dm-subtitle"><%= page.subtitle %></h2>
      </header>

      <div class="pinned-page-content">
        <% if page.image.present? %>
          <%= image_tag page.image, alt: page.image_description, class: "u-photo" %>
        <% end %>

        <div class="e-content">
          <%= br_to_p(page.content) %>
        </div>
      </div>
    </article>
  </section>
<% end %>
