<%= form_tag [:donations], id: "js-stripe-form" do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <!-- These get populated by the token callback below -->
  <%= hidden_field_tag 'js-stripe-email' %>
  <%= hidden_field_tag 'js-stripe-token' %>

  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <%= label_tag :amount %>
    <%= select_tag :amount, options_for_select(@amounts, selected: "20") %>

    <%= radio_button_tag :monthly, true, checked: true %>
    <%= label_tag :monthly_true, "Charge me monthly" %>

    <%= radio_button_tag :monthly, false %>
    <%= label_tag :monthly_false, "Charge me once" %>
  </article>

  <button id="js-stripe-button">DONATE</button>

  <script>
    var handler = StripeCheckout.configure({
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: function(token) {
        document.getElementById("js-stripe-token").value = token.id;
        document.getElementById("js-stripe-email").value = token.email;
        document.getElementById("js-stripe-form").submit();
      }
    });

    document.getElementById('js-stripe-button').addEventListener('click', function(e) {
      var amount = document.getElementById('amount').value;

      if (document.getElementById('monthly_true').checked === true){
        description = "Recurring Monthly Donation: $" + amount;
      } else {
        description = "One-Time Donation: $" + amount;
      }

      // Open Checkout with further options:
      handler.open({
        description: description,
        amount: parseInt(amount) * 100
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
  </script>
<% end %>
