<header>
  <h1><%= t 'views.donations.support.heading' %></h1>
</header>

<% if flash[:error].present? %>
  <div id='error_explanation'>
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<div class="row">
  <div class='column column-one-third'>
    <%= form_tag [:support], id: 'js-stripe-form' do %>
      <script src='https://checkout.stripe.com/checkout.js'></script>

      <!-- These get populated by the token callback below -->
      <%= hidden_field_tag 'js-stripe-email' %>
      <%= hidden_field_tag 'js-stripe-token' %>

      <div class='row buttons'>
        <div class='column column-half'>
          <%= radio_button_tag :monthly, true, checked: true %>
          <%= label_tag :monthly_true, t('views.donations.support.radio_label_monthly') %>
        </div>

        <div class='column column-half'>
          <%= radio_button_tag :monthly, false %>
          <%= label_tag :monthly_false, t('views.donations.support.radio_label_one_time') %>
        </div>
      </div>

      <!-- Check the mapping hash below to make sense of this -->
      <%= range_field_tag 'amount_slider', 29, in: 1..67, step: 1 %>

      <%= label_tag :amount, t('views.donations.support.amount_label') %>
      <span class="dollar-sign">$</span>
      <%= number_field_tag :amount, '50', min: 1, max: 1000, step: 1, tabindex: '-1' %>

      <div class='actions'>
        <button id='js-stripe-button' class='button'>
          <%= t 'views.donations.support.button_text' %>
        </button>
      </div>
    <% end %>
  </div>

  <div class='column column-two-third'>
    <%= render_markdown t 'views.donations.support.description' %>
  </div>
</div>

<script>
  var handler = StripeCheckout.configure({
    key:    '<%= Rails.configuration.stripe[:publishable_key] %>',
    image:  '<%= asset_url 'icons/icon-1200x1200.png' %>',
    locale: 'auto',
    token:  function(token) {
      document.getElementById('js-stripe-token').value = token.id;
      document.getElementById('js-stripe-email').value = token.email;
      document.getElementById('js-stripe-form').submit();
    }
  });

  document.getElementById('amount_slider').addEventListener('input', function(e) {
    var mapping = {
       "1":    1,
       "2":    2,
       "3":    3,
       "4":    4,
       "5":    5,
       "6":    6,
       "7":    7,
       "8":    8,
       "9":    9,
      "10":   10,
      "11":   11,
      "12":   12,
      "13":   13,
      "14":   14,
      "15":   15,
      "16":   16,
      "17":   17,
      "18":   18,
      "19":   19,
      "20":   20,
      "21":   21,
      "22":   22,
      "23":   23,
      "24":   24,
      "25":   25,
      "26":   30,
      "27":   35,
      "28":   40,
      "29":   45,
      "30":   50,
      "31":   55,
      "32":   60,
      "33":   65,
      "34":   70,
      "35":   75,
      "36":   80,
      "37":   85,
      "38":   90,
      "39":   95,
      "40":  100,
      "41":  105,
      "42":  110,
      "43":  115,
      "44":  120,
      "45":  125,
      "46":  130,
      "47":  135,
      "48":  140,
      "49":  145,
      "50":  150,
      "51":  200,
      "52":  250,
      "53":  300,
      "54":  350,
      "55":  400,
      "56":  450,
      "57":  500,
      "58":  550,
      "59":  600,
      "60":  650,
      "61":  700,
      "62":  750,
      "63":  800,
      "64":  850,
      "65":  900,
      "66":  950,
      "67": 1000
    }
    document.getElementById('amount').value = mapping[this.value];
  });

  document.getElementById('js-stripe-button').addEventListener('click', function(e) {
    var amount = document.getElementById('amount').value

    if (document.getElementById('monthly_true').checked === true){
      var description = '<%= t 'views.donations.support.description_monthly' %>: $' + amount;
    } else {
      var description = '<%= t 'views.donations.support.description_one_time' %>: $' + amount;
    }

    // Open Checkout with further options:
    handler.open({
      description: description,
      amount: parseInt(amount) * 100
    });

    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>
