<%= render_themed "support/notifications" %>

<header>
  <h1><%= t 'views.support.new.heading' %></h1>
</header>

<div class='row'>
  <div class='column column-one-third'>
    <%= form_with url: :support_create, id: :js_stripe_form do |form| %>
      <div class='row buttons'>
        <div class='column column-half'>
          <%= form.radio_button :monthly, true, checked: true %>
          <%= form.label        :monthly_true, t('views.support.new.radio_label_monthly') %>
        </div>

        <div class='column column-half'>
          <%= form.radio_button :monthly, false %>
          <%= form.label        :monthly_false, t('views.support.new.radio_label_one_time') %>
        </div>
      </div>

      <!-- Check the mapping hash in support.js to make sense of this -->
      <%= form.range_field :amount_slider, value: 29, in: 1..85, step: 1 %>

      <%= form.label :amount, t('views.support.new.amount_label') %>

      <div id="dollar-sign-amount-wrapper">
        <%= form.number_field :amount, value: 45, min: 1, max: 10000, step: 1, tabindex: '-1' %>
      </div>

      <div class='actions'>
        <%= form.submit t('views.support.new.button_text'), class: 'button' %>
      </div>
    <% end %>
  </div>

  <div class='column column-two-third'>
    <%= render_markdown t 'views.support.new.description' %>

    <div class="support-request">
      <p><strong><%= t 'views.support.new.support_request.header' %></strong></p>
      <p><%= t 'views.support.new.support_request.description' %></p>

      <%= form_with url: [:support, :request] do |form| %>
        <%= form.label :email, t('views.support.new.support_request.email_label'), class: "visually-hidden sr-only" %>
        <%= form.email_field :email, placeholder: t('views.support.new.support_request.email_placeholder') %>

        <%= form.submit t 'views.support.new.support_request.button_text' %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_import_module_tag :support %>
<% end %>
