<div class="book" id="<%= book.slug %>">
  <header>
    <%= render "articles/titles", header: book, linked: true %>
  </header>

  <div class="e-content row">
    <div class="book-cover column column-one-quarter">
      <%= link_to image_tag(book.image, alt: book.image_description, class: "u-image"), book.path %>

      <div><%= render "books/buy_button", book: book %></div>
    </div>

    <div class="book-main column column-three-quarter">
      <header>
        <%= render "articles/titles", header: book, linked: true %>
      </header>

      <div class="p-summary">
        <%= render_markdown(book.summary) %>
      </div>
    </div>
  </div>
</div>
