<article>
  <div class="tool-header-image">
    <%= render_markdown '[[https://cloudfront.crimethinc.com/assets/books/spines/book-spines-lg.jpg All of the CrimethInc. books’ spines]]' %>
  </div>

  <header>
    <h1><%= t("views.tools.books_heading_text") %></h1>
  </header>

  <div class="e-content intro">
    <%= render_markdown t("views.tools.books_intro_text") %>
  </div>

  <div class="tool-series tool-series-books">
    <% @bullet_books.each do |book| %>
      <%= render "books/book", book: book %>
    <% end %>
  </div> <!-- .tool-series-books -->

  <div class="row" id="extra">
    <div class="column column-half" id="into-libraries">
      <h1 class="p-name"><%= link_to t("views.books.crimethinc_into_libraries_heading"), "/books/into-libraries" %></h1>

      <div class="e-content">
        <%= render_markdown t("views.books.crimethinc_into_libraries_intro") %>
      </div>
    </div>

    <div class  = "column column-half" id="lit-kit">
      <h1 class = "p-name"><%= link_to t("views.books.literature_distro_kit_heading"), "/books/lit-kit" %></h1>

      <div class="e-content">
        <%= render_markdown t("views.books.literature_distro_kit_intro") %>
      </div>
    </div>
  </div>

</article>
