<div class="h-entry book">
  <div class="row">
    <div class="column column-one-third section meta">
      <div class="book-cover">
        <%= image_tag @book.front_image, alt: @book.front_image_description, class: "u-image" %>
      </div> <!-- .book-cover -->

      <% if @book.back_image_present? %>
        <div class="book-cover">
          <%= image_tag @book.back_image,  alt: @book.back_image_description,  class: "u-image" %>
        </div> <!-- .book-cover -->
      <% end %>

      <% if @book.price_in_cents.present? %>
        <div id="buy-now">
          <%= render "books/buy_button", price: @book.price_in_cents, url: @book.buy_url %>
        </div>
      <% end %>

      <% if @book.download_url.present? %>
        <div id="download">
          <%= render "books/download_button", url: @book.download_url %>
        </div>
      <% end %>

      <div class="buy-info">
        <%= render_markdown @book.buy_info %>
      </div>

      <div class="book-specs">
        <ol>
          <li>
            <b>Size</b>
            <span>
              <%= @book.width %>
              x
              <%= @book.height %>
              <% if @book.depth.present? %>
                x
                <%= @book.depth %>
              <% end %>
            </span>
          </li>

          <% %w(weight pages words illustrations photographs printing ink definitions recipes cover_style binding_style).each do |spec| %>
            <% if @book.send(spec).present? %>
              <li>
                <b><%= spec.titleize %></b>
                <span><%= render_markdown(@book.send(spec)).gsub("<p>", "").gsub("</p>", "").html_safe %></span>
              </li>
            <% end %>
          <% end %>

          <% if @book.has_index? %>
            <li>
              <b>Index</b>
              <span>Yes</span>
            </li>
          <% end %>
        </ol>
      </div> <!-- .book-specs -->

      <%= render "books/table_of_contents", book: @book %>
    </div>

    <div class="column column-two-third section book-main">
      <header>
        <% if @type.present? %>
          <%= render "tools/nav" %>
        <% else %>
          <nav class="crumbtrail"><%= link_to "Books", [:books] %></nav>
        <% end %>


        <%= render "articles/titles", header: @book, linked: true %>
      </header>

      <div class="e-content">
        <div class="book-description">
          <%= render_markdown @book.description %>
        </div>

        <% if @book.content.present? %>
          <div class="book-content">
            <%= render_markdown @book.content %>
          </div>
        <% end %>

        <%= render "books/table_of_contents", book: @book %>
      </div>
    </div>

  </div>
</div>
