<div class="h-entry tool">
  <div class="row">
    <div class="column column-one-third section meta">
      <div class="tool-front">
        <%= render_markdown "[[ #{@tool.front_image} #{@tool.front_image_description} ]]" %>
      </div>

      <% if @tool.back_image_present? %>
        <div class="tool-back">
          <%= render_markdown "[[ #{@tool.back_image} #{@tool.back_image_description} ]]" %>
        </div>
      <% end %>

      <% if @tool.price_in_cents.present? %>
        <div id="buy-now">
          <%= button_to_buy_now price: @tool.price_in_cents, url: @tool.buy_url %>
        </div>
      <% end %>

      <div id="download">
        <% if @tool.downloads_available? %>
          <p><%= t "downloads.heading" %>:</p>

          <% I18n.t('downloads.formats').each do |type, label| %>
            <% if @tool.send("#{type}_download_present?") %>
              <div>
                <%= link_to label, @tool.download_url(type), class: "download button" %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @tool.ask_for_donation? %>
          <div>
            <%= link_to t("views.tools.pdf_donate_button_text"),
                          "https://store.crimethinc.com/x/donate.html",
                          class: "download button" %>
          </div>

          <%= render_markdown t("views.tools.pdf_donate_button_label") %>
        <% end %>
      </div>

      <% if @tool.buy_info.present? %>
        <div class="buy-info">
          <%= render_markdown @tool.buy_info %>
        </div>
      <% end %>

      <div class="tool-specs">
        <ol>
          <% if @tool.width.present? %>
            <li>
              <b>Size</b>
              <span>
                <%= @tool.width %>
                x
                <%= @tool.height %>
                <% if @tool.depth.present? %>
                  x
                  <%= @tool.depth %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% %w[weight pages words illustrations photographs printing ink definitions recipes cover_style binding_style].each do |spec| %>
            <% if @tool.send(spec).present? %>
              <li>
                <b><%= spec.titleize %></b>
                <span><%= render_markdown(@tool.send(spec)).delete("<p>").delete("</p>").html_safe %></span>
              </li>
            <% end %>
          <% end %>

          <% if @tool.has_index? %>
            <li>
              <b>Index</b>
              <span>Yes</span>
            </li>
          <% end %>
        </ol>
      </div> <!-- .tool-specs -->

      <%= render "books/table_of_contents", book: @tool %>
    </div>

    <div class="column column-two-third section tool-main">
      <header>
        <%= render "tools/nav" %>

        <%= render "articles/titles", header: @tool, linked: true %>

        <% if @tool.published_at.present? %>
          <time datetime="<%= @tool.published_at.iso8601 %>"><%= @tool.published_at.year %></time>
        <% end %>
      </header>

      <div class="e-content">
        <div class="book-description">
          <%= render_markdown @tool.description %>
        </div>

        <div class="tool-content">
          <% @tool.gallery_images.each do |photo_index| %>
            <% image_url = @tool.image(side: :gallery, count: photo_index) %>
            <% alt_text  = "Gallery image ##{photo_index} of #{@tool.name}" %>

            <%= render_markdown "[[ #{image_url} #{alt_text} #{image_url} ]]" %>
          <% end %>

          <hr />

          <% if @tool.content.present? %>
            <%= render_markdown @tool.content %>
          <% end %>
        </div>

        <%= render "books/table_of_contents", book: @tool %>
      </div>
    </div>

  </div>
</div>
