<div class='container content'>

  <header class='d-flex align-items-baseline mb-3'>
    <h1 class='mb-0 me-2 d-inline'><%= tt :languages %></h1>

    <%= link_to tt(:rss_feeds), :feeds %>
  </header>

  <div class='row'>
    <div class='col-lg-6 mb-5 lead'>
      <%= render_markdown t 'views.languages.description' %>
    </div>

    <div class='col-6 col-lg-3'>
      <ul class='list-unstyled'>
        <% @locales.each do |locale| %>
          <li class='mb-3'>
            <b class='h2'><%= link_to_locale_english_name locale %></b>
            <small><%= number_with_delimiter locale.articles_count %></small>

            <p>
              <%= link_to_locale_name locale %>
              (<%= link_to_locale_slug locale %>)
              <small class='fs-6'><%= link_to tt(:rss), [:feed, lang: locale.abbreviation] %></small>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

    <div class='col-6 col-lg-3'>
      <h2 class='mb-0'><%= tt :to_change_everything %></h2>

      <ul class='list-unstyled fs-5'>
        <% tce_language_links.each do |name, path| %>
          <li class='mb-1'><%= link_to name.html_safe.strip_tags.html_safe, path %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- .row -->
</div><!-- .container -->
