<% collection.each do |article| %>
  <%= article_tag article do %>
    <div class="meta">
      <%= render_themed "articles/titles", header: article, linked: false %>
    </div>

    <%= figure_image_with_caption_tag article %>

    <%= render_content article %>

    <footer>
      <%#= render_themed "articles/published_on", article: article %>

      <%#= render_themed "articles/categories",   article: article %>
      <%#= render_themed "articles/tags",         article: article %>

      <%# TODO temp hack %>
      <p>
        <%= link_to "#{@article.path}##{article.slug}" do %>
          <%= time_tag article.published_at, class: "dt-published" do %>
            <%= article.published_at.advance(hours: -5).strftime("%l:%M") %>
            EST
          <% end %>
        <% end %>
      </p>
    </footer>
  <% end %>
<% end %>
