<%# locals: (articles:, title:, subtitle:, feed_url:, json_feed_url:, path_to_feed_partial: nil, path_to_pagination_partial: nil) %>

<% content_for :head do %>
  <%= rel_next_prev_link_tags articles %>
<% end %>

<% content_for :auto_discovery do %>
  <%= auto_discovery_link_tag :atom, feed_url, title: page_title %>
  <%= auto_discovery_link_tag nil,   json_feed_url, { type: "application/json", title: page_title } %>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-lg-8'>
      <header class='titles pb-3 mb-4 border-bottom'>
        <h1><%= title %></h1>
        <h2 class='fw-light'><%= subtitle %></h2>
      </header>

      <div class='h-feed'>
        <% if path_to_feed_partial.present? %>
          <%= render_themed path_to_feed_partial %>
        <% else %>
          <% articles.each do |article| %>
            <%= render_themed 'articles/article', article: article %>
          <% end %>
        <% end %>
      </div>

      <%= paginate articles, theme: 'twitter-bootstrap-4' %>

      <% if path_to_pagination_partial.present? %>
        <%= render_themed path_to_pagination_partial %>
      <% end %>
    </div>

    <div class='col-md-6 col-lg-4'>
      <header class='titles pb-3 mb-2 border-bottom fw-normal'>
        <h1 class='fw-normal'>See also…</h1>
        <h2 class='fw-normal'>Explore The Archives</h2>
      </header>

      <div id='categories' class='mb-5 pt-3'>
        <h2 class='h4 fw-bold'><%= link_to tt(:categories_heading), '#categories' %></h2>
        <%= render_themed 'categories/list', categories: @categories %>
      </div>

      <div id='years' class='mb-5 pt-3'>
        <h2 class='h4 fw-bold'><%= link_to tt(:chronological_heading), '#years' %></h2>
        <%= render_themed 'years/list', years: @years %>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .container -->
