<%# TODO delete this view %>
<header>
  <h1>
    <%= link_to "Archives", [:library] %> :
    <time>
      <%= link_to_dates(year: @articles_year, month: @articles_month, day: @articles_day) %>
    </time>
  </h1>
</header>

<% if @articles.nil? %>
  <h2>No archives for this time period.</h2>
<% else %>
  <ol class="h-feed">
    <% @articles.each do |article| %>
      <li>
        <article class="h-entry">
          <header>
            <%= render_themed "articles/titles", header: article, linked: true %>
          </header>

          <footer>
            <%= render_themed "articles/published_on", article: article %>
            <%= render_themed "articles/categories",   article: article %>
            <%= render_themed "articles/tags",         article: article %>
          </footer>
        </article>
      </li>
    <% end %>
  </ol>
<% end %>
