<% if @article.draft? %>
  <div class="draft-preview-message">
    <%= t('ui.previewing_draft') %>
    <%= link_to t('ui.continue_editing', model: 'article'), [:edit, :admin, @article] %> or
    <%= link_to t('ui.view_in_admin', model: 'article'), [:admin, @article] %>.
  </div>
<% end %>

<% if live_blog_article? && @article.updated_at.after?(1.week.ago) %>
  <% content_for :javascript do %>
    <%= javascript_import_module_tag :live_blog %>
  <% end %>

  <%= render_themed "articles/live_blog", article_slug: @article.slug %>
<% end %>

<% cache [@article, lite_mode?], expires_in: (Rails.env.development? ? 1.second : 1.day) do %>
  <%= article_tag @article do %>
    <header>
      <%= render_themed "articles/image_media", article: @article, linked: false %>

      <div class="meta">
        <%= render_themed "articles/titles",        header:  @article, linked: false %>
        <%= render_themed "articles/published_on",  article: @article, linked: true %>
        <%= render_themed "articles/categories",    article: @article %>
        <%= render_themed "articles/localizations", article: @article %>
      </div>

      <%= render_themed "articles/image_lite", article: @article, linked: false %>
    </header>

    <div class="e-content">
      <%= render_content @article %>

      <%= render_themed "articles/collection_post", collection: @collection_posts if @article.collection_root? %>
    </div>

    <footer>
      <%= render_themed "articles/share_on_social_networks", article: @article %>
      <%= render_themed "articles/categories",               article: @article %>
      <%= render_themed "articles/tags",                     article: @article %>

      <div>
        <ul class="pagination">
          <% if @previous_article.present? %>
            <li class="page">
              <%= link_to t("views.pagination.previous_article", title: @previous_article.title).html_safe, @previous_article.path %>
            </li>
          <% end %>

          <% if @next_article.present? %>
            <li class="page">
              <%= link_to t("views.pagination.next_article", title: @next_article.title).html_safe, @next_article.path %>
            </li>
          <% end %>
        </ul>
      </div>
    </footer>

    <%= render_themed "articles/related", article: @article %>
  <% end %>

<% end %>
