<div class="footer-section footer-section-about">
  <div class="footer-section-container">

    <div class="about-us">
      <h1 class="about-us-heading"><%= t("footer.about.heading") %></h1>
      <div class="about-us-description">
        <%= br_to_p(t("footer.about.description")) %>
      </div>
      <p class="about-us-link"><%= link_to t("footer.about.more_link"), "/about" %></p>
    </div>

    <div class="first-time">
      <p class="first-time-description"><%= t("footer.about.first_time_text") %></p>
      <p class="first-time-link"><%= link_to t("footer.about.first_time_link"), "/start" %></p>
    </div>

  </div>
</div>
