<nav class="footer-section footer-section-nav">
  <div class="footer-section-container">

    <h1><%= t "footer.nav.heading" %></h1>

    <dl>
      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.articles.label"),   %i[library] %>
        <b><%= link_to t("footer.nav.articles.feed"), %i[feed]    %></b>
      </dt>
      <dd>
        <% %i[arts adventure analysis current_events history how_to news technology].each do |category| %>
          <%= link_to t("footer.nav.articles.#{category}"), [:category, slug: category.to_s.gsub('_', '-')] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.tools.label"), %i[tools] %>
      </dt>
      <dd>
        <% %i[zines journals posters stickers videos music logos to_change_everything steal_something_from_work_day].each do |tool| %>
          <%= link_to t("footer.nav.tools.#{tool}"), [tool] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-books"><%= link_to t("footer.nav.books.label"), %i[books] %></dt>
      <dd>
        <% %i[from_democracy_to_freedom contradictionary work expect_resistance recipes_for_disaster days_of_war_nights_of_love no_wall_they_can_build off_the_map].each do |book| %>
          <%= link_to t("footer.nav.books.#{book}"), [:book, slug: book.to_s.gsub('_', '-')] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-podcast">
        <%= link_to t("footer.nav.podcast.label"),   %i[podcasts] %>
        <b><%= link_to t("footer.nav.podcast.feed"), %i[podcast_feed] %></b>
      </dt>
      <dd>
        <% {
          the_ex_worker:          'the-ex-worker',
          no_wall_they_can_build: 'no-wall-they-can-build',
          the_hotwire:            'the-hotwire',
        }.each do |podcast, path|  %>
          <%= link_to t("footer.nav.podcast.#{podcast}"), "/podcasts/#{path}" %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-store"><%= link_to t("footer.nav.store.label"), "/store" %></dt>
      <dd>
        <%= link_to t("footer.nav.store.description"), "/store" %>
      </dd>

      <dt class="nav-label nav-label-languages" id="languages"><%= link_to t("header.languages"), "#languages" %></dt>
      <dd>
        <% Locales.supported.each do |locale| %>
          <%= link_to t(:name, locale: locale),
                      url_for_current_path_with_subdomain(subdomain: locale) %>
        <% end %>
      </dd>
    </dl>
  </div>
</nav>
