<nav role="navigation" class="footer-section footer-section-nav">
  <div class="footer-section-container">

    <h1>Site Map</h1>

    <dl>
      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.articles.label"), "/archives" %>
        <b><%= link_to t("footer.nav.articles.feed"), feed_path  %></b>
      </dt>

    	<dd>
      <!--
        <%= link_to t("footer.nav.articles.geography"),  "/geography"  %>,
      -->

        <%= link_to t("footer.nav.articles.arts"),       "/arts"       %>,
        <%= link_to t("footer.nav.articles.adventure"),      category_path(:adventure)      %>,
        <%= link_to t("footer.nav.articles.analysis"),       category_path(:analysis)       %>,
        <%= link_to t("footer.nav.articles.current_events"), category_path(:current_events) %>,
        <%= link_to t("footer.nav.articles.history"),        category_path(:history)        %>,
        <%= link_to t("footer.nav.articles.news"),       "/news"       %>,
        <%= link_to t("footer.nav.articles.technology"),     category_path(:technology)     %>
      </dd>

      <dt class="nav-label nav-label-books"><%= link_to t("footer.nav.books.label"), "/books" %></dt>
      <dd>
        <%= link_to t("footer.nav.books.work"),                       "/books/work" %>,
        <%= link_to t("footer.nav.books.contradictionary"),           "/books/contradictionary" %>,
        <%= link_to t("footer.nav.books.expect_resistance"),          "/books/expect-resistance" %>,
        <%= link_to t("footer.nav.books.recipes_for_disaster"),       "/books/recipes-for-disaster" %>,
        <%= link_to t("footer.nav.books.days_of_war_nights_of_love"), "/books/days-of-war-nights-of-love" %>,
        <%= link_to t("footer.nav.books.off_the_map"),                "/books/off-the-map" %>
      </dd>

      <dt class="nav-label nav-label-podcast">
        <%= link_to t("footer.nav.podcast.label"), "/podcast" %>
        <b><%= link_to t("footer.nav.podcast.feed"), podcast_feed_path  %></b>
      </dt>
      <dd>
        <%= link_to t("footer.nav.podcast.the_ex_worker"), "/podcast" %>
      </dd>

      <!--
      <dt class="nav-label nav-label-tools"><%= link_to t("footer.nav.tools.label"), "/tools" %></dt>
      <dd>
        <%= link_to t("footer.nav.tools.downloads"), "/tools/downloads" %>,
        <%= link_to t("footer.nav.tools.posters"),   "/tools/posters" %>,
        <%= link_to t("footer.nav.tools.guides"),    "/tools/guides" %>,
        <%= link_to t("footer.nav.tools.stickers"),  "/tools/stickers" %>,
        <%= link_to t("footer.nav.tools.videos"),    "/tools/video" %>
      </dd>
      -->

      <dt class="nav-label nav-label-journal"><%= link_to t("footer.nav.journal.label"), "/rolling-thunder" %></dt>

      <dd>
        <%= link_to t("footer.nav.journal.rolling_thunder"), "/rolling-thunder" %>
      </dd>

      <dt class="nav-label nav-label-store"><%= link_to t("footer.nav.store.label"), "/store" %></dt>
    </dl>

    <%= render "shared/site_search" %>
  </div>
</nav>
