<nav class="footer-section footer-section-nav">
  <div class="footer-section-container">

    <h1>Site Map</h1>

    <dl>
      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.articles.label"),   [:library] %>
        <b><%= link_to t("footer.nav.articles.feed"), [:feed]    %></b>
      </dt>
      <dd>
        <% [:arts, :adventure, :analysis, :current_events, :history, :how_to, :news, :technology].each do |category| %>
          <%= link_to t("footer.nav.articles.#{category}"), [:category, slug: category.to_s.gsub('_', '-')] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-articles">
        <%= link_to t("footer.nav.tools.label"), [:tools] %>
      </dt>
      <dd>
        <% [:zines, :journals, :posters, :stickers, :videos, :logos].each do |tool| %>
          <%= link_to t("footer.nav.tools.#{tool}"), [tool] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-books"><%= link_to t("footer.nav.books.label"), [:books] %></dt>
      <dd>
        <% [:from_democracy_to_freedom, :contradictionary, :work, :expect_resistance, :recipes_for_disaster, :days_of_war_nights_of_love, :no_wall_they_can_build, :off_the_map].each do |book| %>
          <%= link_to t("footer.nav.books.#{book}"), [:book, slug: book.to_s.gsub('_', '-')] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-podcast">
        <%= link_to t("footer.nav.podcast.label"),   [:podcast] %>
        <b><%= link_to t("footer.nav.podcast.feed"), [:podcast_feed] %></b>
      </dt>
      <dd>
        <% [:the_ex_worker, :the_hotwire].each do |podcast|  %>
          <%= link_to t("footer.nav.podcast.#{podcast}"), [:podcast] %>
        <% end %>
      </dd>

      <dt class="nav-label nav-label-journal"><%= link_to t("footer.nav.journal.label"), "/rolling-thunder" %></dt>
      <dd>
        <%= link_to t("footer.nav.journal.rolling_thunder"), "/rolling-thunder" %>
      </dd>

      <dt class="nav-label nav-label-store"><%= link_to t("footer.nav.store.label"), "/store" %></dt>
      <dd>
        <%= link_to t("footer.nav.store.description"), "/store" %>
      </dd>
    </dl>
  </div>
</nav>
