<div class="newsletter-signup">
  <h1><%= t("footer.contact.newsletter.heading") %></h1>
  <p><%= t("footer.contact.newsletter.description") %></p>

  <%= form_tag "/newsletter/signup", class: "newsletter-signup-form", role: "search" do %>
    <%= label_tag       "newsletter-email",                   t("footer.contact.newsletter.signup_form_placeholder"), class: "screen-reader-only" %>
    <%= email_field_tag "newsletter-email", nil, placeholder: t("footer.contact.newsletter.signup_form_placeholder"), class: "simple-field" %>
  <% end %>
</div>
