<div id="subscribe" class="newsletter-signup">
  <div id="mc_embed_signup"><!-- Begin MailChimp Signup Form -->

    <h1 class="newsletter-signup-label"><%= t("footer.contact.newsletter.heading") %></h1>
    <div class="newsletter-signup-description"><%= render_markdown t("footer.contact.newsletter.description") %></div>

    <%= form_with url: "//crimethinc.us2.list-manage.com/subscribe/post?u=cb48383602b7373f496e9ba33&amp;id=344714b249", id: "mc-embedded-subscribe-form", class: "newsletter-signup-form validate", name: "mc-embedded-subscribe-form", target: "_blank", rel: "noopener", novalidate: true do |form| %>
        <div class="mc-field-group">
          <%= form.label       "mce-EMAIL",                                         t("footer.contact.newsletter.signup_form_placeholder"), class: "screen-reader-only" %>
          <%= form.email_field :email, name: "EMAIL", id: "mce-EMAIL", placeholder: t("footer.contact.newsletter.signup_form_placeholder"), class: "simple-field" %>
        </div>

        <div class="mc-field-group">
          <%= form.label "mce-MMERGE3", t("footer.contact.newsletter.signup_form_select_placeholder"), class: "screen-reader-only" %>

          <select name="MMERGE3" class="required" id="mce-MMERGE3">
            <option value="<%= t("footer.contact.newsletter.signup_form_select_option_lot") %>"><%= t("footer.contact.newsletter.signup_form_select_option_lot") %></option>
            <option value="<%= t("footer.contact.newsletter.signup_form_select_option_little") %>"><%= t("footer.contact.newsletter.signup_form_select_option_little") %></option>
          </select>
        </div>

        <div id="mce-responses" class="clear screen-reader-only">
          <div class="response" id="mce-error-response">  </div>
          <div class="response" id="mce-success-response"></div>
        </div>

        <%= button_tag t("footer.contact.newsletter.signup_button_text"), name: "subscribe", id: "mc-embedded-subscribe" %>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cb48383602b7373f496e9ba33_344714b249" tabindex="-1" value=""></div>
    <% end %>

  </div><!--End mc_embed_signup-->
</div><!-- #subscribe.newsletter-signup -->
