<div class="newsletter-signup">
  <h1><%= t("footer.contact.newsletter.heading") %></h1>
  <p><%= t("footer.contact.newsletter.description") %></p>

  <%= form_for @subscriber, html: { class: "newsletter-signup-form" } do |f| %>
    <%= f.label       :email,              t("footer.contact.newsletter.signup_form_placeholder"), class: "screen-reader-only" %>
    <%= f.email_field :email, placeholder: t("footer.contact.newsletter.signup_form_placeholder"), class: "simple-field" %>
    <%= button_tag    "Sign Up" %>
  <% end %>

  <!-- TODO get rid of these and fix the float/clear --> <br /> <br />
</div>

