<div class="tool" id="<%= book.slug %>">
  <header>
    <%= render_themed "articles/titles", header: book, linked: true %>
  </header>

  <div class="e-content row">
    <div class="tool-front column column-one-quarter">
      <%= render_markdown "[[ #{book.front_image} #{book.front_image_description} #{book.path} ]]" %>

      <% if book.price_in_cents.present? %>
        <div><%= button_to_buy_now price: book.price_in_cents, url: book.buy_url %></div>
      <% end %>
    </div>

    <div class="tool-main column column-three-quarter">
      <header>
        <%= render_themed "articles/titles", header: book, linked: true %>
      </header>

      <div class="p-summary">
        <%= render_markdown book.summary %>
      </div>
    </div>
  </div>
</div>
