<% if signed_in? %>
  <style>
    #admin-header { padding:2rem; background:#ff007f; }
    .translate-this p { margin: 1rem 0; color: white; }
    .translate-this a { margin-bottom: .5rem; }
  </style>

  <nav id="admin-header">
    <%= link_to t('nav.links.admin_dashboard'),    admin_path, class: "button" %>
    <%= link_to t('nav.links.scroll_to_site_top'), "#header",  class: "button" %>

    <% if @article.present? %>
      <%= link_to t('ui.download_docx'), "#{@article.path}.docx", class: "button" %>
    <% end %>

    <% if @editable.present? %>
      <b><%= link_to t('forms.buttons.edit', model: @editable.class), [:edit, :admin, @editable], class: "button" %></b>
    <% end %>

    <% if @article.present? %>
      <%= render 'admin/translate_this', resource: @article %>
    <% end %>
  </nav>
<% end %>
