<%= render_themed "shared/head/license" %>
<title><%= page_title %></title>
<%= render_themed "shared/head/meta_tags" %>
<%= render_themed "shared/head/public_meta_tags" %>
<%= render_themed "shared/head/social_media_meta_tags" %>
<%= render_themed "shared/head/link_tags" %>
<%= render_themed "shared/head/fav_and_touch_icons" %>
<%= render_themed "shared/head/stylesheets" %>
<%= render_themed "shared/head/javascripts" %>
