<article class="h-entry definition">
  <header>
    <div class="meta">
      <nav class="crumbtrail">
        <%= link_to "Contradictionary", @book.path %>
      </nav>

      <h1>Definitions</h1>

      <p id="introduction">
        From our mother tongues to the letter of the law, our lives are made of language.
        Words write our world; they are the elementary particles of social relations.
        We can’t escape their dominion, but we can play with them, we can subvert them,
        turning them against the forces that would fix us alongside them in a matrix of control.
        There is a war within every word, and this little lexicon is a legion rising in mutiny.
      </p>
    </div>
  </header>

  <div class="e-content">
    <div class='alphabet'>
      <%= link_to_alphabet.html_safe %>
    </div>

    <div class='definitions'>
      <% @definitions.group_by(&:filed_under).each do |letter, definitions| %>
        <h2 id='<%= letter %>'>
          <%= link_to letter.upcase, "##{letter}" %> </h2>

        <p>
          <% definitions.each do |definition| %>
            <%= link_to definition.name, definition.path %>
          <% end %>
        </p>

        <%= link_to "↑", "#top" %>
      <% end %>
    </div><!-- .definitions -->
  </div>

  <footer>
    <p>Produced anonymously by CrimethInc. Writers’ Bloc collective authorship in pursuit of a world without prestige or property</p>
  </footer>
</article>
