<article class="h-entry definition">
  <header>
    <div class="meta">
      <nav class="crumbtrail">
        <%= link_to "Contradictionary", @book.path %>
        :
        <%= link_to "Definitions", :definitions %>
        :
        <%= link_to_definition_letter @definition %>
      </nav>

      <%= render_themed "articles/titles", header: @definition, linked: false %>
    </div>
  </header>

  <div class="e-content">
    <%= render_markdown @definition.content %>
  </div>
</article>
