<%= render "admin/page_header", thing: @themes %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>URL</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, theme], class: "btn btn-primary btn-sm" %>
        </td>
        <td><%= link_to theme.name, [:admin, theme] %></td>
        <td><%= theme.slug %></td>
        <td><%= theme.description %></td>
        <td>
          <%= link_to "DELETE", [:admin, theme], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @themes, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
