<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @theme.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @theme.description %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
