<div id='search-card' class='alert alert-danger mb-5' style='display: none'>
  <h2 class='visually-hidden'><%= tt :search %></h2>

  <div class='row'>
    <div class='col-12 col-lg-4 mb-3'>
      <div class='mt-lg-4 mb-3 mb-md-0'>
        <p class='mb-1'>
          <%= render_markdown tt('cards.search.description'), remove_wrapper_p_tag: true %>
        </p>
        <%= render 'layouts/2020/site_search' %>
      </div>
      <%= link_to 'X', '#' %>
    </div>

    <div class='col-12 col-lg-8'>
      <b><%= tt 'cards.search.category_heading' %></b>

      <p>
        <% categories = Category.all %>
        <% categories.each do |category| %>
          <% classes = 'pe-2 me-1 border-end border-danger' unless category == categories.last %>
          <%= link_to category.name, [:category, slug: category.slug], class: classes %>
        <% end %>
      </p>

      <b><%= tt 'cards.search.chronological_heading' %></b>

      <p class='mb-0'>
        <% years = (1996..Time.current.year).to_a.reverse %>
        <% years.each do |year| %>
          <% classes = 'pe-2 me-1 border-end border-danger' unless year == years.last %>
          <%= link_to year, [:article_archives, year: year], class: classes %>
        <% end %>
      </p>
    </div>
  </div><!-- /.row -->
</div><!-- /#search -->
