<div id='search' class='alert alert-danger mb-5'>
  <%= tt 'header.cards.search.description' %>

  <%= render 'layouts/2020/site_search' %>

  <b><%= tt 'header.cards.search.category_heading' %></b>

  <p>
    <% Category.all.each do |category| %>
      <%= link_to category.name, [:category, slug: category.slug] %>
    <% end %>
  </p>

  <b><%= tt 'header.cards.search.chronological_heading' %></b>

  <p>
    <% (1996..Time.current.year).to_a.reverse_each do |year| %>
      <%= link_to year, [:article_archives, year: year] %>
    <% end %>
  </p>
</div>
