<div class="product" id="<%= product.slug %>">

  <header>
    <%= render "articles/titles", header: product, linked: true %>
  </header>

  <div class="e-content row">
    <div class="product-main">
      <!--<header>

        <%= render "articles/titles", header: product, linked: true %>
      </header>-->

      <div class="row">
        <div class="column column-one-quarter logo-first-column">
          <div class="product-front">
            <%= link_to image_tag(product.front_image, alt: product.front_image_description, class: "u-image"), product.path %>
          </div> <!-- product-front -->
        </div> <!-- logo-first-column -->
        <div class="column column-three-quarter logo-second-column">
          <header>
            <%= render "articles/titles", header: product, linked: true %>
          </header>
          <div class="p-summary">
            <%= render_markdown product.summary %>
          </div>
          <p>
            <b>Size</b>
            <span>
            <%= product.width %>
            x
            <%= product.height %>
            </span>
          </p>
          <div class="buttons">
            <% %w(jpg png pdf svg tif).each do |extension| %>
              <% if product.send("#{extension}_url_present?") %>
                <%= link_to "Download .#{extension.upcase}", product.image_url(extension), class: "download button" %>
              <% end %>
            <% end %>
            <%= link_to "Download .ZIP", product.image_url(:zip), class: "download button" %>
          </div><!-- .buttons -->
        </div> <!-- logo-second-column -->
      </div> <!-- row -->

    </div><!-- .product-main -->
  </div><!-- .e-content -->

</div><!-- .product -->
