<%= form_for [:admin, @setting] do |f| %>
  <%= render "admin/form_errors", thing: @setting %>

  <div class="form-group">
    <%= f.label :content, @setting.name %>
    <%= f.send(@setting.form_element.to_sym, :saved_content, class: "form-control input-lg") %>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :settings] %>
<% end %>
