<%= form_with(model: [:admin, @category]) do |form| %>
  <%= render "admin/form_errors", thing: @category %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :name %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :slug %>
  <p class="form-text text-muted">
    Leave blank to auto-generate <code>slug</code> based on <code>name</code>.
  </p>

  <%= render "admin/form_actions", cancel_url: [:admin, :categories] %>
<% end %>
