<% if notice.present? %>
  <div class="alert alert-notice">
    <%= notice %>
  </div>
<% end %>

<% if @pinned_to_top.present? %>
  <%= render "pages/pinned", page: @pinned_to_top, position: "top" %>
<% end %>

<div class="h-feed">
  <%= render "archives/card_css", article: article = @articles.shift, featured: false %>
  <%= render "archives/card",     article: article %>

  <% @articles.in_groups_of(2).each do |row| %>
    <div class="row">
      <% row.each do |article| %>
        <%= render "archives/card_css", article: article, featured: false %>
        <%= render "archives/card",     article: article %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @pinned_to_bottom.present? %>
  <%= render "pages/pinned", page: @pinned_to_bottom, position: "bottom" %>
<% end %>
