<% if @pinned_to_top.present? %>
  <%= render "pages/pinned", page: @pinned_to_top, position: "top" %>
<% end %>

<div class="h-feed">
  <%= render "articles/card", article: article = @articles.shift %>
  <%# Embiggen Article titles when there's no subtitle %>
  <% if article.subtitle.blank? %>
    <style> #home #article-<%= article.id %> header { font-size: 1.75em; } </style>
  <% end %>


  <% @articles.in_groups_of(2).each do |row| %>
    <div class="row">
      <% row.each do |article| %>
        <%# Embiggen Article titles when there's no subtitle %>
        <% if article.subtitle.blank? %>
          <style> #home #article-<%= article.id %> header { font-size: 1.5em; } </style>
        <% end %>

        <%= render "articles/card", article: article %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @pinned_to_bottom.present? %>
  <%= render "pages/pinned", page: @pinned_to_bottom, position: "bottom" %>
<% end %>
