<header>
  <h1>Archives</h1>
</header>

<div class="h-feed">
  <% @articles.sort.reverse.each do |year, months| %>
    <h1><%= link_to_dates(year: year) %></h1>

    <% months.sort.reverse.each do |month, articles| %>
      <h2><%= link_to_dates(year: year, month: month) %></h2>

      <ol>
        <% articles.each do |article| %>
          <li>

            <article class="h-entry" role="article">
              <header>
                <%= render "articles/titles", header: @article, linked: false %>
              </header>

              <footer>
                <%= render "articles/published_on", article: article %>
                <%= render "articles/categories",   article: @article %>
                <%= render "articles/tags",         article: @article %>
              </footer>
            </article>

          </li>
        <% end %>
      </ol>

    <% end %>
  <% end %>
</div>
