<header>
  <h1>Archives</h1>
</header>

<div class="h-feed">
  <% @articles.sort.reverse.each do |year, months| %>
    <h1><%= link_to_dates(year: year) %></h1>

    <% months.sort.reverse.each do |month, articles| %>
      <h2><%= link_to_dates(year: year, month: month) %></h2>

      <ol>
        <% articles.each do |article| %>
          <li>

            <article class="h-entry">
              <header>
                <h1>
                  <%= link_to article.path, class: "p-name" do %>
                    <span class="p-x-title"><%= article.title %></span><br>
                    <span class="p-x-subtitle"><%= article.subtitle %></span>
                  <% end %>
                </h1>
              </header>

              <footer>
                <%= render "/articles/published_on", article: article %>
              </footer>
            </article>

          </li>
        <% end %>
      </ol>

    <% end %>
  <% end %>
</div>
