<header>
  <h1> Archives </h1>
</header>

<div class="h-feed">
  <%# TODO setting(:start_year).to_i %>
  <% Time.now.year.downto(2016).each do |year| %>

    <h1 class="year-section"><%= link_to_dates(year: year) %></h1>

    <% 12.downto(1).each do |month| %>
      <% if year_month(year, month) >= start_year_month &&
            year_month(year, month) <= now_year_month %>

        <h2 class="month-section"><%= link_to_dates(year: year, month: month) %></h2>

        <ol>
        <% @articles.each do |article| %>
          <% if article.published_at.strftime("%Y-%m") == year_month(year, month) %>

            <li>
              <article class="h-entry" role="article">
                <time class="dt-published.screen-reader-only"><%= article.published_at.strftime("%Y-%m-%d") %></time>

                <div class="p-name.u-url.u-uid">
                  <%= link_to article.title,    article.path, class: "p-x-title"    %>
                  <%= link_to article.subtitle, article.path, class: "p-x-subtitle" %>
                </div>
              </article>
            </li>
          <% end %>
        <% end %>
        </ol>

      <% end %>
    <% end %>

  <% end %>
</div>
