<div class="h-feed">
  <header>
    <h1>Online Reading Library</h1>
  </header>

  <div class="intro">
    <p>
      This online archive includes essays, stories, accounts, and other texts
      that have appeared under the CrimethInc. insignia over the past quarter of a century.
      It is extensive, but by no means comprehensive.
    </p>

    <p>
      Some of these texts are available as PDFs in our <a href="/tools">Tools</a> section.
      You’ll find zines, magazines, papers, and posters on a wide range of topics,
      ready for you to print them out and distribute them to everyone in your path.
      You can also download back issues of
      <a href="/journals">journals</a>
      we have published, including
      <i><a href="/journals#rolling-thunder">Rolling Thunder</a></i>,
      <i><a href="/journals#harbinger">Harbinger</a></i>, and
      <i><a href="/journals#inside-front">Inside Front</a></i>.
    </p>
  </div>

  <div id="theme">
    <header>
      <h2><b>Navigate by Theme</b></h2>
    </header>

    <div class="intro">
      <p id="categroies">
        <% Category.all.each do |category| %>
          <%= link_to category.name, category_path(category.slug) %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="years">
    <header>
      <h2><b>Navigate Chronologically</b></h2>
    </header>

    <div class="intro">
      <p>
        <% (1996..Time.current.year).to_a.reverse.each do |year| %>
          <%= link_to year, article_archives_path(year: year) %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="samples">
    <header>
      <h2><b>Sample Reading Lists</b></h2>
    </header>

    <% t("library").to_a.in_groups_of(2) do |group| %>
      <div class="row">

        <% group.each do |section, links| %>
          <div class="column column-half section h-entry">
            <h1 id="<%= section.to_s.downcase.sub(' ', '-') %>"><%= section %></h1>

            <div class="e-content">
              <%= image_tag_for_library_section links %>

              <ul>
                <% links.each do |link| %>
                  <li><%= link_to link[:name], link[:path] %></li>
                <% end %>
              </ul>
            </div> <!-- .e-content -->
          </div> <!-- .h-entry -->
        <% end %>

      </div> <!-- .row -->
    <% end %>
  </div>
</div>
