<!-- Recent and previous articles -->
<section class='row'>
  <div class='col col-8'>
    <p class='mb-2 pt-5' id='recent'>Just published</p>

    <ol class='list-unstyled'>
      <% just_published_articles.each do |article| %>
        <li>
          <div class='row mb-3'>
            <div class='col col-4'>
              <%= image_tag article.image %>
            </div><!-- /.col.col-4 -->

            <div class='col col-8'>
              <p>
                <% article.categories.each do |category| %>
                  <%= link_to category.name, category.path, class: 'text-uppercase' %>
                <% end %>
              </p>

              <%= link_to article.path do %>
                <div class='fw-bold'><%= article.title %></div>
                <%= article.subtitle %>
              <% end %>
            </div><!-- /.col.col-8 -->
          </div><!-- /.row -->
        </li>
      <% end %>
    </ol>

    <p class='fw-bold'><%= link_to_next_page articles, 'More articles →' %></p>
  </div>

  <div class='col col-4'>
    <p class='mb-2 pt-5' id='recent'>Recent articles</p>

    <ol class='list-unstyled'>
      <% recent_articles.each do |article| %>
        <li class='mb-3'>
          <%= link_to article.path do %>
            <b class='fw-bold d-block'><%= article.title %></b>
            <span class='fw-light'><%= article.subtitle %></span>
          <% end %>
        </li>
      <% end %>
    </ol>

    <p class='fw-bold text-end'><%= link_to_next_page articles, 'More articles →' %></p>
  </div>
</section>
<!-- /Recent and previous articles -->
