<article class="row">
  <div class='column column-50'>
    <%= render_markdown "[[#{article.image} #{article.image_description}]]" %>
  </div><!-- /.column.column-50 -->

  <div class="column column-50">
    <%= link_to article.path do %>
      <h2><%= article.title %></h2>
      <h3><%= article.subtitle %></h3>
    <% end %>
    <div>
      <%= render_markdown article.lede %>
    </div><!-- /.column.column-50 -->

    <p><%= link_to 'KEEP READING →', article.path %></p>
  </div><!-- /.row -->
</article>
