<article class='row mb-3'>
  <div class='col-12 col-md-4 col-lg-6'>
    <%= render_markdown "[[#{article.image} #{article.path} #{article.image_description}]]" %>
  </div><!-- /.col-6 -->

  <div class='col-12 col-md-8 col-lg-6'>
    <%= link_to article.path do %>
      <h1 class='fw-bold'><%= article.title %></h1>
      <h2><%= article.subtitle %></h2>
    <% end %>

    <div>
      <%= render_markdown article.lede %>
    </div><!-- /.col-6 -->

    <p class='text-uppercase text-end'><%= link_to 'Keep reading →', article.path %></p>
  </div><!-- /.row -->
</article>
