<!-- Latest and recent podcast episodes -->
<section class='pb-5'>
  <div class='row'>
    <div class='col col-6 pt-5' id='podcast'>
      <p class='mb-2'>Latest podcast episode</p>

      <div class='row'>
        <div class='col col-3'>
          <%= link_to image_tag(@latest_podcast_episode.image), @latest_podcast_episode.path %>
        </div><!-- /.col.col-3 -->

        <div class='col col-9'>
          <p>
            <%= link_to @latest_podcast_episode.path, class: 'fw-bold' do %>
              <%= @latest_podcast_episode.podcast.title %>
              #<%= @latest_podcast_episode.episode_number %>
            <% end %>
            —
            <%= display_date @latest_podcast_episode.published_at %>
          </p>

          <%= link_to @latest_podcast_episode.path do %>
            <h2 class='h5 fw-bold'><%= @latest_podcast_episode.title %></h2>
            <h3 class='h5 fw-light'><%= @latest_podcast_episode.subtitle %></h3>
          <% end %>

          <p class='text-end fw-bold mt-3'><%= link_to 'Listen to episode →', @latest_podcast_episode.path %></p>
        </div><!-- /.col.col-9 -->
      </div><!-- /.row -->
    </div><!-- /.col.col-6 -->

    <div class='col col-6 pt-5' id='episodes'>
      <p class='mb-2'>Recent podcast episodes</p>

      <div class='row'>
        <% @recent_podcast_episodes.each do |podcast_episode| %>
          <div class='col col-3'>
            <%= link_to image_tag(podcast_episode.image), podcast_episode.path %>
          </div><!-- /.col.col-3 -->
        <% end %>
      </div><!-- /.row -->

      <p class='text-end fw-bold mt-3'><%= link_to 'More podcast episodes →', :podcasts %></p>
    </div><!-- /.col.col-6 -->
  </div><!-- /.row -->
</section>
<!-- /Latest and recent podcast episodes -->
