<article>
  <div class="row">
    <div class="col-12 col-lg-4">
      <% if episode.image.present? %>
        <%= image_tag episode.image, class: "shadow rounded" %>
      <% end %>

      <div class="my-5">
        <p class="mb-0"><b>Published at</b>: <%= episode.published_at %></p>
        <p class="mb-0"><b>Audio Length</b>: <%= episode.audio_length %></p>
        <p class="mb-0"><b>Duration</b>: <%= episode.duration %></p>
        <p class="mb-0"><b>Audio Type</b>: <%= episode.audio_type %></p>
        <p class="mb-0"><b>Tags</b>: <%= episode.tags %></p>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <header class="mb-3">
        <small class="mb-0">
          <%= link_to episode.podcast.title, [:admin,  episode.podcast] %>
        </small>

        <h1 class="fw-bold"><%= link_to_unless_current episode.title, [:admin, episode] %></h1>

        <% if episode.subtitle.present? %>
          <h2 class="display-6"><%= link_to_unless_current episode.subtitle, [:admin, episode] %></h2>
        <% end %>

        <p><%= link_to episode.path, episode.path %></p>
        <p><%= render "/admin/articles/publication_status_badge", resource: episode %></p>

        <%= link_to "#{episode.audio_mp3_file_size}mb .MP3", episode.audio_mp3_url, class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "#{episode.audio_ogg_file_size}mb .OGG", episode.audio_ogg_url, class: "btn btn-outline-primary btn-sm" %>
      </header>

      <hr class="my-5">

      <h3 class="h5 mt-3">Summary</h3>
      <div>
        <%= render_markdown episode.content %>
      </div>
    </div>
  </div>

  <div class="row pt-5 mt-5">
    <div class="col-12 col-lg-6">
      <h3 class="border-bottom">Show Notes</h3>
      <%= render_markdown episode.show_notes %>
    </div>

    <div class="col-12 col-lg-6">
      <h3 class="border-bottom">Transcript</h3>
      <%= render_markdown episode.transcript %>
    </div>
  </div>
</article>
