<article class="mb-5">
  <header>
    <div class="p-name">
      <h1><%= link_to_unless_current episode.title, [:admin, episode] %></h1>
      <% if episode.subtitle.present? %>
        <h2><%= link_to_unless_current episode.subtitle, [:admin, episode] %></h2>
      <% end %>
    </div>
  </header>

  <div class="e-content">
    <dl>
      <dt>Episode Path</dt>
      <dd class="mb-4"><%= link_to episode.path, episode.path %></dd>

      <dt>Image</dt>
      <dd class="mb-4">
        <% if episode.image.present? %>
          <%= link_to(image_tag(episode.image, style: "width: 200px"), episode.image) %>
        <% end %>
      </dd>

      <dt>Podcast</dt>
      <dd class="mb-4"><%= link_to episode.podcast.name, [:admin, episode.podcast] %></dd>

      <dt>Title</dt>
      <dd class="mb-4"><%= episode.title %></dd>

      <dt>Subtitle</dt>
      <dd class="mb-4"><%= episode.subtitle %></dd>

      <dt>MP3 URL</dt>
      <dd class="mb-4"><%= link_to episode.audio_mp3_url, episode.audio_mp3_url %></dd>

      <dt>MP3 File Size</dt>
      <dd class="mb-4"><%= episode.audio_mp3_file_size %></dd>

      <dt>OGG URL</dt>
      <dd class="mb-4"><%= link_to episode.audio_ogg_url, episode.audio_ogg_url %></dd>

      <dt>OGG File Size</dt>
      <dd class="mb-4"><%= episode.audio_ogg_file_size %></dd>

      <dt>Audio Length</dt>
      <dd class="mb-4"><%= episode.audio_length %></dd>

      <dt>Duration</dt>
      <dd class="mb-4"><%= episode.duration %></dd>

      <dt>Audio Type</dt>
      <dd class="mb-4"><%= episode.audio_type %></dd>

      <dt>Tags</dt>
      <dd class="mb-4"><%= episode.tags %></dd>
    </dl>

    <hr>

    <% unless action_name == "index" %>
      <dl>
        <dt>Published At</dt>
        <dd class="mb-4"><%= episode.published_at %></dd>

        <dt>Content</dt>
        <dd class="mb-4">
          <code>
            <%= episode.content %>
          </code>
        </dd>

        <dt>Show Notes</dt>
        <dd class="mb-4">
          <code>
            <%= episode.show_notes %>
          </code>
        </dd>

        <dt>Transcript</dt>
        <dd class="mb-4">
          <code>
            <%= episode.transcript %>
          </code>
        </dd>
      </dl>
    <% end %>
  </div>
</article>
