<%= form_with(model: [:admin, @episode]) do |form| %>
  <%= render "admin/form_errors", thing: @episode %>

  <div class="mb-3">
    <%= form.label :podcast_id, class: "form-label d-block" %>

    <% @podcasts.each do |podcast| %>
      <%= form.radio_button :podcast_id, podcast.id, id: "episode_podcast_id_#{podcast.id}", class: "btn-check" %>

      <%= form.label "podcast_id_#{podcast.id}", podcast.title, class: "btn btn-outline-dark" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-8">
      <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
      <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>
      <%= render "admin/label_and_field_form_group", form: form, attr: :image %>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <%= render "admin/articles/form/publication_status", form: form %>

      <%= render "admin/datetime_group", form: form, post: @episode, type: :episode %>
    </div>
  </div>

  <div class="mb-5 pb-5">
    <%= render "admin/label_and_field_form_group", form: form, attr: :tags %>

    <p class="form-text text-muted">
      Comma separated.
    </p>
  </div>

  <fieldset class="my-5 card">
    <h5 class="card-header">Audio</h5>

    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-9">
          <%= render "admin/label_and_field_form_group", form: form, attr: :audio_mp3_url, label_text: "MP3 URL" %>
        </div>

        <div class="col-12 col-sm-3">
          <%= render "admin/label_and_field_form_group", form: form, attr: :audio_mp3_file_size, label_text: "MP3 file size in MB" %>

          <p class="form-text text-muted">
            Just the number.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-9">
          <%= render "admin/label_and_field_form_group", form: form, attr: :audio_ogg_url, label_text: "OGG URL" %>
        </div>

        <div class="col-12 col-sm-3">
          <%= render "admin/label_and_field_form_group", form: form, attr: :audio_ogg_file_size, label_text: "OGG file size in MB" %>

          <p class="form-text text-muted">
            Just the number.
          </p>
        </div>

        <div class="row">
          <div class="col-12 col-sm-4">
            <%= render "admin/label_and_field_form_group", form: form, attr: :audio_length %>

            <p class="form-text text-muted">
              In seconds.
            </p>
          </div>

          <div class="col-12 col-sm-4">
            <%= render "admin/label_and_field_form_group", form: form, attr: :duration %>

            <p class="form-text text-muted">
              In minutes, rounded.
            </p>
          </div>

          <div class="col-12 col-sm-4">
            <%= render "admin/label_and_field_form_group", form: form, attr: :audio_type %>

            <p class="form-text text-muted">
              Defaults to MP3.
            </p>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row pt-5">
    <div class="col-12 col-md-6">
      <div class="mb-5">
        <%= render "admin/label_and_area_form_group", form: form, attr: :content, label_text: "Summary", rows: 4 %>

        <p class="form-text text-muted">
          Formatted as Markdown.
        </p>
      </div>

      <div class="mb-5">
        <%= render "admin/label_and_area_form_group", form: form, attr: :show_notes, rows: 7 %>

        <p class="form-text text-muted">
          Formatted as Markdown.
        </p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="mb-5">
        <%= render "admin/label_and_area_form_group", form: form, attr: :transcript, rows: 15 %>

        <p class="form-text text-muted">
          Formatted as Markdown.
        </p>
      </div>
    </div>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :episodes] %>
<% end %>
