<%= form_with(model: [:admin, @episode]) do |form| %>
  <%= render "admin/form_errors", thing: @episode %>

  <div class="form-group">
    <%= form.label :podcast_id %>

    <% @podcasts.each do |podcast| %>
      <div class="form-check">
        <%= form.radio_button :podcast_id, podcast.id, id: "episode_podcast_id_#{podcast.id}", class: "form-check-input" %>

        <%= form.label "podcast_id_#{podcast.id}", podcast.title, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.url_field :image, class: "form-control form-control-lg" %>
  </div>

  <fieldset class="my-5">
    <legend>Audio</legend>
    <div class="row">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <%= form.label :audio_mp3_url, "MP3 URL" %>
          <%= form.url_field :audio_mp3_url, class: "form-control form-control-lg" %>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="form-group">
          <%= form.label :audio_mp3_file_size, "MP3 file size in MB" %>
          <%= form.text_field :audio_mp3_file_size, class: "form-control form-control-lg" %>
        </div>

        <p class="form-text text-muted">
          Just the number.
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-sm-9">
        <div class="form-group">
          <%= form.label :audio_ogg_url, "OGG URL" %>
          <%= form.url_field :audio_ogg_url, class: "form-control form-control-lg" %>
        </div>
      </div>

      <div class="col-12 col-sm-3">
        <div class="form-group">
          <%= form.label :audio_ogg_file_size, "OGG file size in MB" %>
          <%= form.text_field :audio_ogg_file_size, class: "form-control form-control-lg" %>
        </div>

        <p class="form-text text-muted">
          Just the number.
        </p>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="form-group">
        <%= form.label :audio_length %>
        <%= form.text_field :audio_length, class: "form-control form-control-lg" %>

        <p class="form-text text-muted">
          In seconds.
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <%= form.label :duration %>
        <%= form.text_field :duration, class: "form-control form-control-lg" %>

        <p class="form-text text-muted">
          In minutes, rounded.
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-4">
      <div class="form-group">
        <%= form.label :audio_type %>
        <%= form.text_field :audio_type, class: "form-control form-control-lg" %>

        <p class="form-text text-muted">
          Defaults to MP3.
        </p>
      </div>
    </div>
  </div>


  <div class="form-group mb-5">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: "form-control form-control-lg" %>

    <p class="form-text text-muted">
      Comma separated.
    </p>
  </div>

  <%= render "admin/datetime_group", form: form, post: @episode, type: :episode %>


  <div class="form-group mt-5">
    <%= form.label :content, "Description" %>
    <%= form.text_area :content, class: "form-control form-control-lg", rows: "5" %>

    <p class="form-text text-muted">
      Formatted as HTML.
    </p>
  </div>

  <div class="form-group mt-5">
    <%= form.label :show_notes %>
    <%= form.text_area :show_notes, class: "form-control form-control-lg", rows: "5" %>

    <p class="form-text text-muted">
      Formatted as HTML.
    </p>
  </div>

  <div class="form-group mt-5">
    <%= form.label :transcript %>
    <%= form.text_area :transcript, class: "form-control form-control-lg", rows: "5" %>

    <p class="form-text text-muted">
      Formatted as HTML.
    </p>
  </div>

  <%= render "admin/form_actions", cancel_url: [:admin, :episodes] %>
<% end %>
