<% content_for(:head) do %>
  <%= rel_next_prev_link_tags(@articles) %>
<% end %>

<% content_for :auto_discovery do %>
  <%= auto_discovery_link_tag(:atom, category_feed_path(@category.slug), title: page_title) %>
<% end %>

<header>
  <h1>Category</h1>
  <h2><%= @category.name %></h2>
</header>

<div class="h-feed">
  <%= render "articles/list", articles: @articles %>
</div>

<%= paginate @articles %>
