<% @podcasts.each do |podcast| %>
  <header>
    <%= render "articles/titles", header: podcast, linked: false %>
  </header>

  <div class="row" style="margin-bottom: 5rem;">
    <div class="column column-one-third meta">
      <%= image_tag podcast.image, class: "u-photo" %>

      <%= render "podcast/subscribe_buttons", podcast: podcast %>
    </div> <!-- .column -->

    <div class="column column-two-third e-content">
      <div class="h-feed">

        <% latest_episode = podcast.episodes.first %>

        <div class="latest-episode">
          <h3><%= t("podcast.latest_episode") %></h3>
          <article class="h-entry" id="episode-<%= latest_episode.id %>">
            <h1><%= link_to latest_episode.title, latest_episode, class: "p-name u-url" %></h1>
            <p class="e-content"><%= latest_episode.subtitle %></p>

            <%= render "podcast/player", episode: latest_episode unless lite_mode? %>
          </article>
        </div> <!-- .latest-episodes -->
      </div> <!-- .h-feed -->
    </div> <!-- .column -->
  </div> <!-- .row -->
<% end %>
