<article class="h-entry" id="episode-<%= @episode.id %>">
  <header>
    <%= render "articles/titles", header: @episode, linked: false %>
  </header>

  <div class="row">
    <div class="column meta">
      <%= image_tag @episode.image, class: "u-photo" %>

      <%= render "articles/titles", header: @episode.podcast, linked: true %>

    <%= render "podcast/subscribe_buttons", podcast: @episode.podcast %>

    </div> <!-- .column -->
    <div class="column">
      <div class="h-feed">

        <h3>Listen to the Episode</h3>
        <%= render "podcast/player", episode: @episode %>

        <div class="episode-info">
          <div class="buttons">
            <%= link_to @episode.audio_mp3_url, class: "button" do %>
              Download MP3
              (<%= @episode.audio_mp3_file_size %>)
            <% end %>

            <%= link_to @episode.audio_ogg_url, class: "button" do %>
              Download OGG
              (<%= @episode.audio_ogg_file_size %>)
            <% end %>

            <p><%= link_to "Full Episode Transcript", episode_transcript_url(@episode) %></p>
          </div>

          <% if action_name == "transcript" %>
            <h3>Transcript</h3>
            <div class="transcript">
              <%= raw @episode.transcript %>
            </div>
          <% else %>
            <h3>Summary</h3>
            <div class="summary">
              <%= raw @episode.content.
                gsub("-------SHOW NOTES------", "<h3>Show Notes</h3>").
                gsub("<p> </p>", "").html_safe %>
            </div>

            <h3>Notes and Links</h3>
            <div class="notes">
              <%= raw @episode.show_notes %>
            </div>
          <% end %>
        </div>

      </div> <!-- .h-feed -->
    </div> <!-- .column -->
  </div> <!-- .row -->

</article>
