<%= render "admin/page_header", thing: @user %>

<h1>Settings for @<%= @user.username %></h1>

<%= form_for [:admin, @user] do |f| %>
  <%= render "admin/form_errors", thing: @user %>

  <div class="form-group">
    <%= f.label :display_name, "Name" %>
    <%= f.text_field :display_name, class: "form-control form-control-lg" %>
    <p class="form-text text-muted">Visible only to other CMS users.</p>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control form-control-lg" %>
  </div>

  <fieldset>
    <legend>Change Your Password</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">Leave these blank unless changing your password</p>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :user] %>
<% end %>
