<%= render "admin/page_header", thing: @user %>

<h1>Settings for @<%= @user.username %></h1>

<%= form_with [:admin, @user] do |form| %>
  <%= render "admin/form_errors", thing: @user %>

  <fieldset>
    <legend>Change Your Password</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control form-control-lg" %>
          <p class="form-text text-muted">Leave these blank unless changing your password</p>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <%= form.label :password_confirmation, "Confirm Password" %>
          <%= form.password_field :password_confirmation, class: "form-control form-control-lg" %>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :user] %>
<% end %>
