<%= render "admin/page_header", thing: @user %>

<h1>Settings for @<%= @user.username %></h1>

<%= form_with(model: [:admin, @user]) do |form| %>
  <%= render "admin/form_errors", thing: @user %>

  <fieldset>
    <legend>Change user’s role</legend>

    <ul class='form-text text-muted list-unstyled'>
      <li><b>Authors</b> can write drafts, but not publish articles.</li>
      <li><b>Editors</b> can write drafts, and make edits to existing published articles, but not publish articles.</li>
      <li><b>Publishers</b> can write drafts, make edits to published articles, and publish articles.</li>
    </ul>

    <% User::ROLES.each do |role| %>
      <div class="form-check form-check-inline">
        <span class="d-inline-block mr-3">
          <%= form.radio_button :role, role, id: "user_role_#{role}", class: "form-check-input" %>

          <%= form.label :role, role.capitalize, class: "form-check-label", for: "user_role_#{role}" %>
        </span>
      </div>
    <% end %>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :user] %>
<% end %>
