<%= render "admin/page_header", thing: @user %>

<div class='col-12 col-md-9 col-lg-6'>
  <%= form_with(model: [:admin, @user]) do |form| %>
    <%= render "admin/form_errors", thing: @user %>

    <% if Current.user.can_admin_users? || Current.user == @user %>
      <%= render "admin/label_and_field_form_group", form: form, attr: :username %>
    <% end %>

    <% if Current.user == @user %>
      <fieldset>
        <legend>Change your password</legend>
        <%= render "admin/label_and_field_form_group", form: form, attr: :password %>

        <%= render "admin/label_and_field_form_group", form: form, attr: :password_confirmation, label_text: "Confirm Password" %>
        <p class="form-text text-muted">Leave these blank unless changing your password</p>
      </fieldset>
    <% end %>

    <% if Current.user.can_admin_users? %>
      <fieldset>
        <legend>Change user role</legend>

        <ul class='form-text text-muted list-unstyled'>
          <li><b>Authors</b> can write drafts, but not publish articles.</li>
          <li><b>Editors</b> can write drafts, and make edits to existing published articles, but not publish articles.</li>
          <li><b>Publishers</b> can write drafts, make edits to published articles, and publish articles.</li>
        </ul>

        <% User.roles.each do |role, _| %>
          <div class="form-check form-check-inline">
            <span class="d-inline-block me-3">
              <%= form.radio_button :role, role,            class: "form-check-input" %>
              <%= form.label        :role, role.capitalize, class: "form-check-label", value: role %>
            </span>
          </div>
        <% end %>
      </fieldset>
    <% end %>

    <%= render "admin/form_actions", cancel_url: [:admin, :users] %>
  <% end %>
</div>
