<%= render "admin/page_header", thing: @user %>

<h1>Settings for @<%= @user.username %></h1>

<%= form_with(model: [:admin, @user]) do |form| %>
  <%= render "admin/form_errors", thing: @user %>

  <fieldset>
    <legend>Change Your Password</legend>

    <div class="row">
      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_field_form_group", form: form, attr: :password %>
      </div>

      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_field_form_group", form: form, attr: :password_confirmation, label_text: "Confirm Password" %>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :user] %>
<% end %>
