<%= render "admin/page_header", thing: @users %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Avatar</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, user], class: "btn btn-primary btn-sm" %>
        </td>
        <td>
          <% if user.avatar.present? %>
            <%= link_to image_tag(user.avatar, style: "max-width: 20px"), [:admin, user] %>
          <% end %>
        </td>
        <td><%= link_to_unless user.name.blank?, user.name, [:admin, user] %></td>
        <td><%= link_to_unless user.username.blank?, user.username, [:admin, user] %></td>
        <td><%= mail_to user.email, user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
