<%= render "admin/page_header", thing: @users %>

<% @users.each do |user| %>
  <%= link_to [:edit, :admin, user], class: "btn btn-lg btn-light border-secondary mr-3 mb-3" do %>
    <span class="mr-2 badge badge-<%= badge_color_class role: user.role %>"><%= user.role.upcase %></span>
    <%=  user.username.upcase %>
  <% end %>
<% end %>

<%= paginate @users, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
