<%= render "admin/page_header", thing: @users %>

<%= form_with(model: [:admin, @user]) do |form| %>
  <%= render "admin/form_errors", thing: @user %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :username %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :password %>
  <p class="form-text text-muted">Passwords must be <b>at least 30 characters</b> long.</p>

  <%= render "admin/label_and_field_form_group", form: form, attr: :password_confirmation %>
  <p class="form-text text-muted">
    Pro Tip: Use a password manager like
    <a href="https://1password.com">1Password</a>,
    and/or try a passphrase like <code>mickey fickie fire cracker soap on a rope</code>
    for length plus memorability.
  </p>

  <div class="actions">
    <button type="submit" class="btn btn-primary btn-lg">Create new user account</button>
  </div>
<% end %>
