<%= render "admin/page_header", thing: @users %>

<div class='col-12 col-md-9 col-lg-6'>
  <%= form_with(model: [:admin, @user]) do |form| %>
    <%= render "admin/form_errors", thing: @user %>

    <%= render "admin/label_and_field_form_group", form: form, attr: :username %>

    <%= render "admin/label_and_field_form_group", form: form, attr: :password %>
    <p class="form-text text-muted">Passwords must be <b>at least 30 characters</b> long.</p>

    <%= render "admin/label_and_field_form_group", form: form, attr: :password_confirmation %>
    <p class="form-text text-muted">
      Pro Tip: Use a password manager
      and/or try a passphrase like
      <code>mickey fickey fire cracker soap on a rope</code>
      for length plus memorability.
    </p>

    <p class="form-text text-muted">
      On macOS, use <a href="https://www.apple.com/macos/macos-sequoia">Apple Passwords</a>.<br>
      On iPad/iPhone, use <a href="https://apps.apple.com/us/app/passwords/id6473799789">Apple Passwords</a>.<br>
      On Linux/Windows/Android, use <a href="https://1password.com">1Password</a>.
    </p>

    <%= render "admin/form_actions", cancel_url: [:admin, :users], button_text: 'Create new user account' %>
  <% end %>
</div>
