<%= render "admin/page_header", thing: @users %>

<%= form_for [:admin, @user] do |f| %>
  <%= render "admin/form_errors", thing: @user %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :display_name %>
    <%= f.text_field :display_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control form-control-lg" %>
    <p class="form-text text-muted">Passwords must be <b>at least 30 characters</b> long.</p>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
    <p class="form-text text-muted">
      Pro Tip: Use a password manager like
      <a href="https://1password.com">1Password</a>,
      and/or try a passphrase like <code>mickey fickie fire cracker soap on a rope</code>
      for length plus memorability.
    </p>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
  </div>
<% end %>
