<h1>Settings</h1>

<%= form_for [:auth, @user] do |f| %>
  <%= render "admin/form_errors", thing: @user %>

  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control input-lg" %>
    <p class="help-block">Visible by anyone in multiple places (post authorship, site footer, meta tags, etc)</p>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, "Profile Picture URL" %>
    <%= f.url_field :avatar, class: "form-control" %>
  </div>

  <fieldset>
    <legend>Change Your Password</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
          <p class="help-block">Leave these blank unless changing your password</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>
  </fieldset>

  <%= render "admin/form_actions", f: f, cancel_url: profile_url, button_text: "Save" %>
<% end %>
