<div class="mt-5">
  <h2>Sign Up</h2>
</div>

<%= form_with [:auth, @user], local: true do |form| %>
  <%= render "admin/form_errors", thing: @user %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :username %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :password %>
  <p class="form-text text-muted">Passwords must be <b>at least 30 characters</b> long.</p>

  <%= render "admin/label_and_field_form_group", form: form, attr: :password_confirmation %>
  <p class="form-text text-muted">
    Pro Tip: Use a password manager like
    <a href="https://1password.com">1Password</a>,
    and/or try a passphrase like <code>mickey fickie fire cracker soap on a rope</code>
    for length plus memorability.
  </p>

  <%= render "admin/form_actions", cancel_url: root_url, button_text: "Sign Up" %>
<% end %>
