<article>
  <header>
    <%= render "tools/nav" %>

    <h1><%= t("views.products.#{@type}_heading_text") %></h1>
  </header>

  <div class="e-content intro">
    <%= render_markdown t("views.products.#{@type}_intro_text") %>
  </div>

  <% @featured_products.each do |product| %>
    <%= render "products/product", product: product %>
  <% end %>

  <% @products.each do |product| %>
    <%= render "products/product", product: product %>
  <% end %>
</article>

<div class="pagination-container">
  <%#= paginate @products %>
</div>
