<%= form_with(model: [:admin, @video]) do |form| %>
  <%= render "admin/form_errors", thing: @video %>

  <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
  <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 8 %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :slug %>
    </div>

    <div class="col-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :vimeo_id, label_text: "Vimeo ID" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :image %>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :image_description %>
      <p class="form-text text-muted">
        This is used for the <code>&lt;img&gt;</code>’s <code>alt</code> text.
      </p>
    </div>
  </div>

  <%= render "admin/books/categories_form", form: form %>
  <%= render "admin/datetime_group", form: form, post: @video, type: :video %>

  <%= render "admin/form_actions", cancel_url: [:admin, :videos] %>

  <fieldset id="syndication">
    <legend>Syndication</legend>
    <div class="row">

      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :tweet %>

        <p class="form-text text-muted">
          Maximum 250 characters to leave room for the <code>t.co</code> short URL that Twitter creates.
          Used for syndicated tweet for this Video.
        </p>
      </div>

      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :summary %>
        <p class="form-text text-muted">
          Maximum 200 characters.
          Used for video description and previews in story cards on other sites.
        </p>
      </div>

    </div>
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :videos] %>

  <div class="row">
    <div class="col-12 col-sm-6">
      <fieldset id="specs">
        <legend>Specs</legend>

        <div class="row">
          <div class="col-6">
            <%= render "admin/label_and_field_form_group", form: form, attr: :quality %>
          </div>

          <div class="col-6">
            <%= render "admin/label_and_field_form_group", form: form, attr: :duration %>
          </div>
        </div>

      </fieldset> <!-- #specs -->
    </div>
  </div> <!-- .row -->

  <%= render "admin/form_actions", cancel_url: [:admin, :videos] %>
<% end %>
