<%= form_with(model: [:admin, @video]) do |form| %>
  <%= render "admin/form_errors", thing: @video %>

  <div class="row">
    <div class="col-12 col-md-7">
      <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
      <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>

      <%= render "admin/label_and_field_form_group", form: form, attr: :vimeo_id, label_text: "Vimeo ID" %>
      <p class="form-text text-muted">
        https://vimeo.com/<code class="fw-bold">676634993</code>
        The number part of the Vimeo URL immediately after the
        <code>.com/</code>.
      </p>

      <%= render "admin/label_and_field_form_group", form: form, attr: :peer_tube_url, label_text: "PeerTube URL" %>
      <p class="form-text text-muted">
        Kolektiva is powered by PeerTube. Example URL:
        <code class="fw-bold">https://kolektiva.media/w/33ZwhxfHhkRMNJxrEnZTAi</code>
      </p>

      <%= form.label :image_poster_frame, "Poster Frame Image", class: "form-label" %>

      <%= form.file_field :image_poster_frame,
                          accept: acceptable_mime_types_for(:image),
                          class: "form-control form-control-lg mb-3" %>

      <p class="form-text text-muted">
        You can create this image by taking a screenshot of the video,
        then cropping out everything that isn't the video frame itself.
      </p>

      <% if @video.image_poster_frame.attached? %>
        <%= video_image_tag @video %>

        <%= render "admin/label_and_area_form_group", form: form, attr: :image_description %>
        <p class="form-text text-muted">
          This is used for the <code>&lt;img&gt;</code>’s <code>alt</code> text.
        </p>
      <% end %>

      <%= render "admin/label_and_area_form_group", form: form, attr: :content, rows: 6 %>
      <p class="form-text text-muted">
        A description of what this video is and is about.
      </p>

      <%= render "admin/label_and_area_form_group", form: form, attr: :summary, rows: 6 %>
      <p class="form-text text-muted">
        Maximum 200 characters.
        Used for video description and link previews in story cards on other sites and in messaging apps.
      </p>

      <%= render "admin/form_actions", cancel_url: [:admin, :videos] %>
    </div>

    <div class="col-12 col-md-5">
      <%= render "admin/publication_status", form: form %>

      <%= render "admin/datetime_group", form: form, post: @video, type: :video %>

      <%= form.label :quality, class: "form-label" %>
      <%= form.select :quality,
                      %w[SD HD 4K],
                      { include_blank: true },
                      class: "form-select form-select-lg mb-3" %>

      <%= render "admin/label_and_field_form_group", form: form, attr: :duration %>

      <%= render "admin/form_actions", cancel_url: [:admin, :videos] %>
    </div>
  </div>
<% end %>
