<%= render "admin/page_header", thing: @videos %>

<table class="table table-striped table-sm mb-5">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Title / Subtitle</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, video], class: "btn btn-light border-secondary btn-sm" %>
        </td>
        <td>
          <%= link_to [:admin, video] do %>
            <b><%= video.title %></b><br>
            <%= video.subtitle %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @videos, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
