<%= render "admin/page_header", thing: @videos %>

<table class="table table-striped table-sm mb-5">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Title / Subtitle</th>
      <th class='text-end'>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, video], class: "btn btn-outline-primary btn-sm" %>
        </td>
        <td>
          <%= link_to [:admin, video] do %>
            <b><%= video.title %></b><br>
            <%= video.subtitle %>
          <% end %>
        </td>
        <td class='text-end'>
          <%= render "/admin/articles/publication_status_badge", resource: video %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @videos, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
