<%= render "admin/page_header", thing: @videos %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, video], class: "btn btn-primary btn-sm" %>
        </td>
        <td><%= link_to video.title, [:admin, video] %></td>
        <td><%= video.subtitle %></td>
        <td>
          <%= link_to "DELETE", [:admin, video], method: :delete, data: { confirm: "Are you sure you're sure? There is NO UNDO." }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%= paginate @videos, views_prefix: "admin" %>
</div>
