<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @video.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @video.content %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @video.tweet %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @video.tweet %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>

<p>
  <strong>Image:</strong>
  <%= @video.image %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @video.image_description %>
</p>

<p>
  <strong>Content format:</strong>
  <%= @video.content_format %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @video.quality %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @video.slug %>
</p>

<p>
  <strong>Year:</strong>
  <%= @video.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @video.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @video.day %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.duration %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Vimeo:</strong>
  <%= @video.vimeo_id %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
