<%= render "admin/page_header", thing: @video %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @video], class: "p-name" do %>
        <span class="h1 fw-bold"><%= @video.title %></span><br>
        <span class="h2 fw-light"><%= @video.subtitle %></span>
      <% end %>
    </h1>

    <p><b>URL</b> <%= link_to @video.path, @video.path %></p>

    <%= render "/admin/articles/publication_status_badge", resource: @video %>
  </header>

  <hr>

  <div class="row mb-3">
    <div class="col-12 col-md-7">
      <b>Video</b>

      <%= video_embed_tag @video %>

      <b>Image</b>

      <% if @video.image_poster_frame.attached? %>
        <%= video_image_tag @video %>

         <p>
           <strong>Image Description</strong>
           <%= @video.image_description %>
         </p>
      <% end %>
    </div>

    <div class="col-12 col-md-5">
      <dl>
        <dt>PeerTube URL</dt>
        <dd>
          <% if @video.peer_tube_url.present? %>
            <%= link_to @video.peer_tube_url, @video.peer_tube_url, target: :_blank %>
          <% end %>
        </dd>

        <dt>Vimeo ID</dt>
        <dd><%= @video.vimeo_id %></dd>

        <dt>Download URL</dt>
        <dd><%= link_to @video.download_url, @video.download_url, target: '_blank' %></dd>

        <dt>Summary</dt>
        <dd><%= render_markdown @video.summary %></dd>

        <dt>Duration</dt>
        <dd><%= @video.duration %></dd>

        <dt>Quality</dt>
        <dd><%= @video.quality %></dd>
      </dl>
    </div>
  </div>
</article>
