<%= render "admin/page_header", thing: @video %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @video], class: "p-name" do %>
        <span class="h1 title"><%= @video.title %></span><br>
        <span class="h2 subtitle"><%= @video.subtitle %></span>
      <% end %>
    </h1>
  </header>

  <hr>
  <p>
    <strong>Title:</strong>
    <%= @video.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= @video.subtitle %>
  </p>

  <p>
    <strong>Content Format:</strong>
    <%= simple_format(@video.content) %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @video.slug %>
  </p>

  <p>
    <strong>Vimeo ID:</strong>
    <%= @video.vimeo_id %>
  </p>

  <p>
    <strong>Image</strong>
    <%= link_to_if @video.image.present?, @video.image, @video.image %>
  </p>

  <p>
    <strong>Image Description:</strong>
    <%= @video.image_description %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= @video.tweet %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= @video.summary %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @video.duration %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= @video.quality %>
  </p>
</article>
