<% if caption.present? %>

  <figure id="<%= id %>">
    <% if link.present? %>
      <a href="<%= link %>">
        <img src="<%= embed_id %>" />
      </a>
    <% else %>
      <img src="<%= embed_id %>" />
    <% end %>

    <figcaption><%= render_markdown caption %></figcaption>
  </figure>

<% else %>

  <%= link_to_if link.present?, image_tag(embed_id), link %>

<% end %>
