<%= render "notifications" %>

<header>
  <h1>Support</h1>
</header>

<p class="expires_at">This page will expire in <%= time_until_expiration @subscription_session %>.</p>

<div class="subscriptions">
  <h2>Subscriptions</h2>

  <table>
    <thead>
      <tr>
        <th>Started</th>
        <th>Amount</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @customer.subscriptions.data.each do |subscription| %>
        <tr>
          <td><%= Time.at(subscription.created).strftime("%b %-e") %></td>
          <td>$<%= subscription.quantity %> / month</td>
          <td>
            <%= form_tag [:support_update_subscription, subscription_id: subscription.id] do %>
              <%= hidden_field_tag :token, params[:token] %>
              <%= select_tag :amount, options_for_select(subscription_amounts) %>

              <%= submit_tag "UPDATE",
                             data:     { confirm: "Are you sure you want to update your subscription amount?" },
                             disabled: true,
                             class:    "js-button-update" %>
            <% end %>

            <hr/>

            <%= button_to "CANCEL",
                          [:support_cancel, subscription_id: subscription.id],
                          method: :post,
                          data:   { confirm: "Are you sure you want to completely cancel your subscription?" },
                          class:  "cancel" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="credit-cards">
  <h2>Credit Cards</h2>

  <table>
    <thead>
      <tr>
        <th>Card</th>
        <th>Expires</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @customer.default_source.brand %> <%= @customer.default_source.last4 %></td>
          <td><%= @customer.default_source.exp_month %> / <%= @customer.default_source.exp_year %></td>
          <td><%= link_to "update", "#" %></td>
        </tr>
    </tbody>
  </table>
</div>
