<%= render "notifications" %>

<header>
  <h1>Your Subscription</h1>
</header>

<div class="subscription-update">
  <%= form_tag [:support_update_subscription, subscription_id: @subscription.id] do %>
    <%= hidden_field_tag :token, params[:token] %>

    <div class='row'>
      <div class='column column-half'>
        <p>Drag the slider to change your subscription amount:</p>

        <!-- Check the mapping hash in support.js to make sense of this -->
        <%= range_field_tag 'amount_slider',
                            @subscription.quantity,
                            in: 1..67,
                            step: 1,
                            data: { starting_amount: @subscription.quantity } %>
      </div>

      <div class='column column-half'>
        <div class='amount'>
          <%= label_tag :amount, t('views.support.new.amount_label') %>
          <span class="dollar-sign">$</span>
          <%= number_field_tag :amount, @subscription.quantity, min: 1, max: 1000, step: 1, tabindex: '-1' %>
        </div>
        <p class="start-date">
          Subscribed since <%= Time.at(@subscription.created).strftime("%F") %>
        </p>
      </div>
    </div>

    <%= submit_tag "Update Subscription",
                   data:     { confirm: "Are you sure you want to update your subscription amount?" },
                   class:    "js-button-update",
                   disabled: true %>
  <% end %>
</div>

<div class="subscription-cancel">
  <p>If you want to cancel your subscription, click the big red button! </p>

  <%= form_tag [:support_cancel_subscription, subscription_id: @subscription.id] do %>
    <%= hidden_field_tag :token, params[:token] %>
    <%= submit_tag "Cancel Subscription", data: { confirm: "Are you sure you want to completely cancel your subscription?" } %>
  <% end %>
</div>

<p class="expires_at">
  This page will expire in <%= time_until_expiration @subscription_session %>.
</p>
