<%= form_for [:admin, @podcast] do |f| %>
  <%= render "admin/form_errors", thing: @podcast %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :copyright %>
    <%= f.text_field :copyright %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_area :image %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :itunes_author %>
    <%= f.text_field :itunes_author %>
  </div>

  <div class="field">
    <%= f.label :itunes_categories %>
    <%= f.text_field :itunes_categories %>
  </div>

  <div class="field">
    <%= f.label :itunes_owner_email %>
    <%= f.text_field :itunes_owner_email %>
  </div>

  <div class="field">
    <%= f.label :itunes_explicit %>
    <%= f.check_box :itunes_explicit %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label :itunes_owner_name %>
    <%= f.text_field :itunes_owner_name %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :itunes_summary %>
    <%= f.text_field :itunes_summary %>
  </div>

  <div class="field">
    <%= f.label :itunes_url %>
    <%= f.text_area :itunes_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
