<article>
  <div class="row">
    <div class="col-12 col-lg-4">
      <% if podcast.image.present? %>
        <%= image_tag podcast.image, class: "shadow rounded mb-5" %>
      <% end %>
    </div>

    <div class="col-12 col-lg-8">
      <h1 class="fw-bold"><%= link_to_unless_current podcast.title, [:admin, podcast] %></h1>

      <% if podcast.subtitle.present? %>
        <h2 class="display-6"><%= link_to_unless_current podcast.subtitle, [:admin, podcast] %></h2>
      <% end %>

      <p><%= link_to podcast.path, podcast.path %></p>

      <div class="mt-4">
        <h3 class="h5">Summary</h3>
        <%= render_markdown podcast.content %>
      </div>

      <div class="mb-4">
        <p class="mb-0"><b>Tags</b>: <%= podcast.tags %></p>

        <p class="m-0"><b>Language</b>: <%= podcast.language.upcase %></p>
        <p class="m-0"><b>Copyright</b>: <%= podcast.copyright %></p>
      </div>

      <div class="card">
        <h3 class="card-header h5">iTunes attributes</h3>

        <div class="card-body">
          <p class="mb-1"><b>Author</b>: <%= podcast.itunes_author %></p>
          <p class="mb-1"><b>Categories</b>: <%= podcast.itunes_categories.html_safe %></p>
          <p class="mb-1"><b>Owner email</b>: <%= mail_to podcast.itunes_owner_email %></p>
          <p class="mb-1"><b>Explicit</b>: <%= podcast.itunes_explicit %></p>
          <p class="mb-1"><b>Owner name</b>: <%= podcast.itunes_owner_name %></p>
          <p class="mb-1"><b>URL</b>: <%= link_to podcast.itunes_url, podcast.itunes_url %></p>
          <b>Summary</b>:
          <p class="mb-1"><%= podcast.itunes_summary %></p>
        </div>
      </div>
    </div>
  </div>
</article>
