<%= render "admin/page_header", thing: @podcast %>

<article>
  <header>
    <div class="p-name">
      <h1><%= @podcast.title %></h1>
      <h2><%= @podcast.subtitle %></h2>
    </div>
  </header>

  <div class="e-content">
    <p>
      <strong>Title:</strong>
      <%= @podcast.title %>
    </p>

    <p>
      <strong>Subtitle:</strong>
      <%= @podcast.subtitle %>
    </p>

    <p>
      <strong>Slug:</strong>
      <%= @podcast.slug %>
    </p>

    <p>
      <strong>Language:</strong>
      <%= @podcast.language %>
    </p>

    <p>
      <strong>Copyright:</strong>
      <%= @podcast.copyright %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= @podcast.image %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @podcast.content %>
    </p>

    <p>
      <strong>iTunes author:</strong>
      <%= @podcast.itunes_author %>
    </p>

    <p>
      <strong>iTunes categories:</strong>
      <%= @podcast.itunes_categories %>
    </p>

    <p>
      <strong>iTunes Owner email:</strong>
      <%= @podcast.itunes_owner_email %>
    </p>

    <p>
      <strong>iTunes explicit:</strong>
      <%= @podcast.itunes_explicit %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= @podcast.tags %>
    </p>

    <p>
      <strong>iTunes Owner name:</strong>
      <%= @podcast.itunes_owner_name %>
    </p>

    <p>
      <strong>iTunes summary:</strong>
      <%= @podcast.itunes_summary %>
    </p>

    <p>
      <strong>iTunes URL:</strong>
      <%= @podcast.itunes_url %>
    </p>
  </div>
</article>
