<%= form_with model: [:admin, resource] do |form| %>
  <%= render "admin/form_errors", thing: resource %>

  <div class="row mb-5">
    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_field_form_group", form: form, attr: :title %>
      <%= render "admin/label_and_field_form_group", form: form, attr: :subtitle %>
    </div>

    <div class="col-12 col-sm-6">
      <%= render "admin/label_and_area_form_group", form: form, attr: :description, rows: 3 %>
      <p class="form-text text-muted">Formatted as <b>Markdown</b>.</p>
    </div>
  </div>

  <%= render "admin/shared/position", form: form, resource: resource %>

  <fieldset>
    <legend>Uploads</legend>
    <div class="row">
      <div class="col-12 col-md-4 form-group">
        <div class="card">
          <div class="card-body">
            <%= form.label :image_jpg, "JPEG Image", class: "form-label" %>
            <%= form.file_field :image_jpg, accept: "image/jpeg", required: !resource.image_jpg.attached? %>

            <% if resource.image_jpg.attached? %>
              <p><%= image_tag url_for(image_variant_by_width(resource.image_jpg, @preview_width)), class: "mt-3 rounded d-block" %></p>
            <% else %>
              <p class="form-text text-danger font-weight-bold">Required.</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 form-group">
        <div class="card">
          <div class="card-body">
            <%= form.label :image_png, "PNG Image", class: "form-label" %>
            <%= form.file_field :image_png, accept: "image/png" %>

            <% if resource.image_png.attached? %>
              <p><%= image_tag url_for(image_variant_by_width(resource.image_png, @preview_width)), class: "mt-3 rounded d-block" %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 form-group">
        <div class="card">
          <div class="card-body">
            <%= form.label :image_tif, "TIFF Image", class: "form-label" %>
            <%= form.file_field :image_tif, accept: "image/tiff", class: "mt-3 rounded d-block" %>

            <% if resource.image_tif.attached? %>
              <p><%= image_tag url_for(image_variant_by_width(resource.image_tif, @preview_width)), class: "mt-3 rounded d-block" %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 form-group">
        <div class="card">
          <div class="card-body">
            <%= form.label :image_pdf, "PDF Image", class: "form-label" %>
            <%= form.file_field :image_pdf, accept: "application/pdf" %>

            <% if resource.image_pdf.attached? %>
              <p><%= image_tag resource.image_pdf.preview(resize_to_limit: [@preview_width, @preview_width]), class: "mt-3 rounded d-block" %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 form-group">
        <div class="card">
          <div class="card-body">
            <%= form.label :image_svg, "SVG Image", class: "form-label" %>
            <%= form.file_field :image_svg, accept: "image/svg+xml", class: "mt-3 rounded d-block" %>

            <% if resource.image_svg.attached? %>
              <p><%= image_tag url_for(resource.image_svg), class: "mt-3 rounded d-block" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </fieldset> <!-- .row -->

  <fieldset id="syndication">
    <legend>Syndication</legend>
    <div class="row">

      <div class="col-12 col-sm-6">
        <%= render "admin/label_and_area_form_group", form: form, attr: :summary %>

        <p class="form-text text-muted">
          Maximum 200 characters.
          Used for page description and previews in story cards on other sites.
        </p>
      </div>

      <div class="col-12 col-sm-6">
        <%= render "admin/books/categories_form", form: form %>

        <div class="form-group">
          <%= form.label :published_at, class: "form-label" %>
          <%= form.date_select :published_at,
                               { start_year: Time.now.utc.year, end_year: 1995, include_blank: true },
                               class: "form-control form-control-lg" %>
        </div>
      </div>

    </div> <!-- .row -->
  </fieldset>

  <%= render "admin/form_actions", cancel_url: [:admin, :logos] %>
<% end %>
