<%= render "admin/page_header", thing: @logos %>

<table class="table table-striped table-sm mb-5 table-bordered">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Status</th>
      <th>Name</th>

      <% Logo.image_formats.each do |extension| %>
        <th class="text-center"><%= extension.upcase %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @logos.each do |logo| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, logo], class: "btn btn-outline-primary btn-sm" %>
        </td>

        <td>
          <%= render "/admin/articles/publication_status_badge", resource: logo %>
        </td>

        <td>
          <b><%= link_to logo.title, [:admin, logo] %></b>
          <% if logo.subtitle.present? %>
            <br>
            <%= logo.subtitle %>
          <% end %>
        </td>

        <% Logo.image_formats.each do |extension| %>
          <td class="text-center align-middle">
            <% if logo.send("image_#{extension}").attached? %>

              <%# TODO: refactor extract method: image_tag_for %>
              <% case extension %>
              <% when :pdf %>
                <%= image_tag logo.image_pdf.preview(resize_to_limit: [@preview_width, @preview_width]), class: "rounded" %>
              <% when :svg %>
                <%= image_tag url_for(logo.image_svg), class: "rounded" %>
              <% else %>
                <%= image_tag url_for(image_variant_by_width(logo.send("image_#{extension}"), @preview_width)), class: "rounded" %>
              <% end %>

            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @logos, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
