<%= render "admin/page_header", thing: @logos %>

<table class="table table-striped table-sm mb-5 table-bordered">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Name</th>

      <% Logo::FORMATS.each do |extension| %>
        <th class="text-center"><%= extension.upcase %></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @logos.each do |logo| %>
      <tr>
        <td>
          <%= link_to "EDIT", [:edit, :admin, logo], class: "btn btn-light border-secondary btn-sm" %>
        </td>

        <td>
          <b><%= link_to logo.title, [:admin, logo] %></b>
          <% if logo.subtitle.present? %>
            <br>
            <%= logo.subtitle %>
          <% end %>
        </td>

        <% Logo::FORMATS.each do |extension| %>
          <td class="text-center align-middle"><%= "✔️" if logo.send"#{extension}_url_present?" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @logos, views_prefix: "admin", theme: "twitter-bootstrap-4" %>
