<%= render "admin/page_header", thing: @logo %>

<article>
  <header>
    <h1>
      <%= link_to [:admin, @logo], class: "p-name" do %>
      <span class="h1 title"><%= @logo.title %></span><br>
      <span class="h2 subtitle"><%= @logo.subtitle %></span>
      <% end %>
    </h1>
  </header>

  <div>
    <p>
      <% %w(jpg png pdf svg).each do |extension| %>
        <% if @logo.send("#{extension}_url_present?") %>
          <span class="badge badge-success">✔ <%= extension.upcase %> Image</span>
        <% end %>
      <% end %>
    </p>

    <p><b>URL:</b> <b><%= link_to @logo.path, @logo.path %></b></p>

    <div>
      <h1>Preview PNG</h1>
      <%= image_tag @logo.preview_image_url %>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <% %w(jpg png svg).each do |extension| %>
          <% if @logo.send("#{extension}_url_present?") %>
            <h2><%= extension.upcase %></h2>
            <%= image_tag @logo.image_url(extension) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <hr>

    <p>
      <strong>Size:</strong>
      <%= @logo.width %>
      x
      <%= @logo.height %>
    </p>


    <% %w(jpg png pdf svg).each do |extension| %>
      <% if @logo.send("#{extension}_url_present?") %>
        <p><b><%= extension.upcase %> Download URL:</b> <b><%= link_to @logo.download_url(extension), @logo.download_url(extension) %></b></p>
      <% end %>
    <% end %>

    <p>
      <strong>Description:</strong>
      <%= @logo.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @logo.summary %>
    </p>
  </div>
</article>
