<%= render "admin/page_header", thing: @logo %>

<article class="mb-5">
  <header>
    <h1><%= @logo.title %></h1>

    <%= render "/admin/articles/publication_status_badge", resource: @logo %>
  </header>

  <div>
    <p>
      <% Logo::IMAGE_FORMATS.each do |extension| %>
        <% if @logo.send("#{extension}_url_present?") %>
          <span class="badge badge-success">✔ <%= extension.upcase %> Image</span>
        <% end %>
      <% end %>
    </p>

    <p><b>URL:</b> <b><%= link_to @logo.path, @logo.path %></b></p>

    <div class="row">
      <% Logo::IMAGE_FORMATS.each do |extension| %>
        <% if @logo.send("#{extension}_url_present?") %>
          <div class="col">

            <div class="card">
              <div class="card-body">
                <%= link_to @logo.download_url(extension) do %>
                  <%= image_tag @logo.image_url(extension) %>
                <% end %>
              </div>

              <div class="card-footer">
                <%= extension.upcase %>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>

    <hr>

    <p>
      <strong>Size:</strong>
      <%= @logo.width %>
      x
      <%= @logo.height %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @logo.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @logo.summary %>
    </p>
  </div>
</article>
