<%= render "admin/page_header", thing: @logo %>

<article class="mb-5">
  <header>
    <h1><%= @logo.title %></h1>

    <p><%= render "/admin/articles/publication_status_badge", resource: @logo %></p>
    <p><%= link_to @logo.path, @logo.path %></p>

    <p>
      <strong>Description:</strong>
      <%= @logo.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @logo.summary %>
    </p>
  </header>

  <div class="row mb-5">
    <% Logo.image_formats.each do |extension| %>
      <% if @logo.send("image_#{extension}").attached? %>
        <div class="col-12 col-md-3 mb-4">

          <div class="card">
            <div class="card-body">
              <%= link_to url_for @logo.send("image_#{extension}") do %>
                <% case extension %>
                <% when :pdf %>
                  <%= image_tag @logo.image_pdf.preview(resize_to_limit: [@preview_width, @preview_width]) %>
                <% when :svg %>
                  <%= image_tag url_for(@logo.image_svg) %>
                <% else %>
                  <%= image_tag url_for(image_variant_by_width(@logo.send("image_#{extension}"), @preview_width)) %>
                <% end %>
              <% end %>
            </div>

            <div class="card-footer">
              <b><%= extension.upcase %></b>

              <%= render_themed "tools/dimensions", tool: @logo %>
            </div>
          </div><!-- .card -->

        </div><!-- .col-4 -->
      <% end %>
    <% end %>
  </div><!-- .row -->
</article>
