<%= render "admin/page_header", thing: @logo %>

<article class="mb-5">
  <header>
    <h1><%= @logo.title %></h1>

    <p><%= render "/admin/articles/publication_status_badge", resource: @logo %></p>
    <p><%= link_to @logo.path, @logo.path %></p>
  </header>

  <div>

    <div class="row">

      <% if @logo.image_jpg.present? %><%# TEMP transitional %>

        <% Logo.image_formats_map.each do |extension, attr_name| %>
          <% if @logo.send(attr_name).attached? %>
            <div class="col-3">

              <div class="card">
                <div class="card-body">
                  <%= link_to url_for @logo.send(attr_name) do %>
                    <%= image_tag url_for @logo.send(attr_name) %>
                  <% end %>
                </div>

                <div class="card-footer text-right">
                  <span class="badge badge-info"><%= extension.upcase %></span>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>

      <% end %>

      <%# TEMP transitional %>
      <% Logo::IMAGE_FORMATS.each do |extension| %>
        <% if @logo.send("#{extension}_url_present?") %>
          <div class="col-3">

            <div class="card">
              <div class="card-body">
                <%= link_to url_for @logo.image_url(extension) do %>
                  <%= image_tag @logo.image_url(extension) %>
                <% end %>
              </div>

              <div class="card-footer text-right">
                <span class="badge badge-info"><%= extension.upcase %></span>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>

    <hr>

    <p>
      <strong>Size:</strong>
      <%= render_themed "tools/dimensions", tool: @logo %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @logo.description %>
    </p>

    <p>
      <strong>Summary</strong> <span class="text-muted">(used for link previews in Facebook, Twitter, etc)</span>:<br>
      <%= @logo.summary %>
    </p>
  </div>
</article>
