<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= render_themed "shared/head" %>

    <%= yield :head %>

    <% if content_for(:javascript).present? %>
      <%= javascript_importmap_tags %>
      <%= yield :javascript %>
    <% end %>
  </head>

  <body id="<%= body_id %>">
    <%= render "shared/admin_header" %>
    <%= render "shared/development_mode_banner" %>
    <%= render_themed "shared/header" %>

    <% if false %>
      <%# Keep this around to easily re-add the site banner %>
      <%#    1. Update text in locale YAML files %>
      <%#    2. Change false to true for the duration of the banner time %>
      <div class='alert alert-notice'>
        <%= render_markdown t("header.site_banner") %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render_themed "shared/footer" %>
  </body>
<% end %>
