<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= render_themed "shared/head" %>
  </head>

  <body id="<%= body_id %>">
    <%= render "shared/admin_header" %>
    <%= render "shared/development_mode_banner" %>
    <%= render_themed "shared/header" %>

    <div class='alert alert-notice'>
      <%= link_to 'https://www.gofundme.com/f/fire-destroyed-the-crimethinc-mailorder-space' do %>
        Help us recover from the fire that destroyed our mailorder space →
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>

    <%= render_themed "shared/footer" %>
    <%= render_themed "shared/javascripts" %>
  </body>
<% end %>
