<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <title>CrimethInc.</title>

    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# TODO: add favicon link tags here %>

    <%= stylesheet_link_tag Current.theme, media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&display=swap', media: 'all' %>
    <%= render 'layouts/2025/translation_missing_css' %>

    <%= javascript_importmap_tags %>

    <%= render 'layouts/2025/auto_dark_mode' %>
  </head>

  <body>
    <%#= render 'layouts/2025/admin_header' %>
    <%#= render 'layouts/2025/development_mode_banner' %>

    <div id='about'>
      <div id='languages'>
        <div id='search'>
          <div id='share'>

            <%= render 'layouts/2025/header' %>

            <main>
              <%= yield %>
            </main>

            <%= render 'layouts/2025/footer' %>

          </div>
        </div>
      </div>
    </div>

  </body>
<% end %>
