<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="og: http://ogp.me/ns#" <%= html_id %>>

<head>
  <title><%= page_title %></title>
  <%= render "shared/head/meta_tags" %>
  <%= render "shared/head/fav_and_touch_icons" %>

  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
</head>

<body id="<%= body_id %>">
  <%= render "shared/development_mode_banner" %>
  <%= render "admin/nav" %>

  <div class="container">
    <main>
      <%= render "shared/alerts" %>

      <%= yield %>
    </main>

    <footer class="my-5 text-center" style="padding-top: 10rem">
      <hr class="my-5">

      <%= link_to "Users",    [:admin, :users], class: "text-muted mr-3" %>
      <%= link_to "Links",    [:admin, :links], class: "text-muted mr-3" %>
      <%= link_to "Settings", [:settings],      class: "text-muted mr-3" %>
      <%= link_to "Sign out", [:signout],       class: "text-muted" %>
    </footer>
  </div>
</body>
</html>
