<!DOCTYPE html>
<html dir="ltr" lang="<%= lang %>" prefix="og: http://ogp.me/ns#" id="<%= slug %>">

<head>
  <title><%= page_title %></title>
  <%= render "shared/head/meta_tags" %>
  <%= render "shared/head/backward_compatibility_meta_tags" %>
  <%= render "shared/head/fav_and_touch_icons" %>
  <%= render "shared/head/backward_ie_compatibility" %>

  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
</head>

<body>
  <%= render "admin/nav" %>

  <div class="container">
    <% if signed_in? %>
      <header>
        <div class="page-header">
          <h1><%= link_to t(:site_name), admin_path %></h1>
        </div>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
