<!DOCTYPE html>
<html dir="ltr" lang="<%= lang %>" prefix="og: http://ogp.me/ns#" id="<%= html_id %>">

<head>
  <title><%= page_title %></title>
  <%= render "shared/head/meta_tags" %>
  <%= render "shared/head/fav_and_touch_icons" %>

  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
</head>

<body id="<%= body_id %>">
  <%= render "shared/development_mode_banner" %>
  <%= render "admin/nav" %>

  <div class="container">
    <main>
      <%= render "shared/alerts" %>

      <%= yield %>
    </main>
  </div>
</body>
</html>
