<!DOCTYPE html>
<%= tag.html dir:    'ltr',
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <title><%= page_title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon icon" href="/apple-touch-icon.png" sizes="180x180" type="image/png">
    <link rel="mask-icon" href="/logo.svg" sizes="any" color="#000000">

    <!-- Windows, IE and Edge -->
    <meta name="msapplication-TileImage" content="<%= asset_path "icons/icon-144x144.png" %>">
    <meta name="msapplication-TileColor" content="#000000">

    <meta name="msapplication-square70x70logo"   content="<%= asset_path "icons/icon-150x150.png" %>">
    <meta name="msapplication-square150x150logo" content="<%= asset_path "icons/icon-70x70.png"   %>">
    <meta name="msapplication-wide310x150logo"   content="<%= asset_path "icons/icon-310x150.png" %>">
    <meta name="msapplication-square310x310logo" content="<%= asset_path "icons/icon-310x310.png" %>">

    <!-- Icons and stuff for more browsers via manifest.json -->
    <link rel="manifest" href="/manifest.json">

    <%= stylesheet_link_tag "vendor/bootstrap", media: "all" %>
    <%= stylesheet_link_tag "admin", media: "all" %>

    <%# Bootstrap JS from their CDN %>
    <%# TODO: refactor this away, only used for hamburger icon in responsive nav %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js',
                               integrity:   'sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y',
                               crossorigin: :anonymous %>
    <%= yield :head %>

    <% if content_for(:javascript).present? %>
      <%= javascript_importmap_tags %>
      <%= yield :javascript %>
    <% end %>

    <%= render 'layouts/2025/auto_dark_mode' %>
  </head>

  <body id="<%= body_id %>">
    <%= render "shared/development_mode_banner" %>
    <%= render "admin/nav" %>

    <div class="container">
      <main>
        <% if notice.present? %>
          <div class="alert alert-info" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <%= yield %>
      </main>

      <% if signed_in? %>
        <footer class="my-5 text-center" style="padding-top: 10rem">
          <hr class="my-5">

          <% if Current.user.can_admin_users? %>
            <%= link_to "Users", [:admin, :users], class: "text-muted mx-2" %>
          <% end %>

          <%= link_to "Markdown", [:admin, :markdown],           class: "text-muted mx-2" %>
          <%= link_to "Settings", [:edit, :admin, Current.user], class: "text-muted mx-2" %>
          <%= link_to "Sign out", :signout,                      class: "text-muted mx-2" %>
        </footer>
      <% end %>
    </div>
  </body>
<% end %>
