<!DOCTYPE html>
<html dir="ltr" lang="<%= lang %>" prefix="og: http://ogp.me/ns#" id="<%= @slug %>">

<head>
  <title><%= page_title %></title>
  <%= render "shared/meta_tags" %>
  <%= render "shared/backward_compatibility_meta_tags" %>
  <%= render "shared/fav_and_touch_icons" %>
  <%= render "shared/backward_ie_compatibility" %>

  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
</head>

<body>
  <%= render "admin/nav" %>

  <div class="container">
    <% if signed_in? %>
      <header>
        <div class="page-header">
          <h1><%= setting :site_name %></h1>
        </div>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
