<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= render_themed "shared/head" %>
  </head>

  <body id="<%= body_id %>">
    <%= render "shared/admin_header" %>
    <%= render "shared/development_mode_banner" %>
    <%= render "shared/header" %>

    <main>
      <%= yield %>
    </main>

    <%= render_themed "shared/footer" %>
  </body>
<% end %>
