<!DOCTYPE html>
<html dir="ltr"
      lang="<%= lang %>"
      prefix="og: http://ogp.me/ns#">

<head>
  <%= render "shared/head" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body id="<%= @slug %>">
  <%= render "shared/header" %>
  <%= render "shared/nav" %>
  <%= render "shared/sub_nav" %>

  <main role="main">
    <%= yield %>
  </main>
</body>
</html>
