<!DOCTYPE html>
<html dir="ltr" lang="<%= lang %>" prefix="og: http://ogp.me/ns#" id="<%= @slug %>">

<head>
  <%= render "shared/head" %>
</head>

<body id="<%= @slug %>">
  <%= render "shared/header" %>
  <%= render "shared/nav" %>
  <%= render "shared/sub_nav" %>

  <main role="main">
    <%= yield %>
  </main>
</body>
</html>
