<!DOCTYPE html>
<html dir="ltr"
      lang="en-US"
      prefix="og: http://ogp.me/ns#">

<head>
  <title>Magazine</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id='<%= @slug %>'>
  <header class="sitewide-header">
    <h1 class="header-logo">CrimethInc.</h1>
    <a href="#" class="button-like-link support-link">
      Support this site
    </a>
    <form action="#" class="header-search-form">
      <label for="search-archives">
        Search Archives&hellip;
      </label>
      <input type="search" id="search-archives" placeholder="Search Archives…" class="search-input"/>
    </form>
  </header>
  <nav class="header-navigation">
    <ul>
      <li><a href="#">Read</a></li>
      <li><a href="#">Watch</a></li>
      <li><a href="#">Listen</a></li>
      <li><a href="#">Shop</a></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>
</body>
</html>
