<!DOCTYPE html>
<html dir="ltr"
      lang="en-US"
      prefix="og: http://ogp.me/ns#">

<head>
  <title>Magazine</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id='<%= @slug %>'>
  <main>
    <%= yield %>
  </main>
</body>
</html>
