<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= render "shared/head" %>
  </head>

  <body id="<%= body_id %>">
    <% if FeatureFlag.enabled? :two_point_oh_yeah %>
      <%= render "shared/redesign_header" %>
    <% else %>
      <!-- Nothing different here. -->
    <% end %>

    <%= render "shared/admin_header" %>
    <%= render "shared/development_mode_banner" %>
    <%= render "shared/header" %>

    <main>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
<% end %>
