<!DOCTYPE html>
<html dir="<%= t(:language_direction) %>" lang="<%= lang %>" prefix="og: http://ogp.me/ns#">

<head>
  <%= render "shared/head" %>
</head>

<body id="<%= slug %>">
  <%= render "shared/header" %>

  <main role="main">
    <%= render "shared/alerts" %>

    <% if @pinned_to_site_top.present? %>
      <%= render "pages/pinned", page: @pinned_to_site_top, position: "site-top" %>
    <% end %>

    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
