<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="og: http://ogp.me/ns#" <%= html_id %>>

<head>
  <%= render "shared/head" %>
</head>

<body id="<%= body_id %>">
  <%= render "shared/admin_header" %>
  <%= render "shared/development_mode_banner" %>
  <%= render "shared/header" %>

  <main>
    <% if @pinned_to_site_top.present? %>
      <%= render "pages/pinned", page: @pinned_to_site_top, position: "site-top" %>
    <% end %>

    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
