<!DOCTYPE html>
<html dir="ltr" lang="en" prefix="og: http://ogp.me/ns#" <%= html_id %> <%= site_mode_html_class %>>

<head>
  <%= render "shared/head" %>
</head>

<body id="<%= body_id %>">
  <%= render "shared/admin_header" %>
  <%= render "shared/development_mode_banner" %>
  <%= render "shared/header" %>

  <main>
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
