<!DOCTYPE html>
<html dir="<%= t(:language_direction) %>" lang="<%= lang %>" prefix="og: http://ogp.me/ns#">

<head>
  <%= render "shared/head" %>
</head>

<body id="<%= @slug %>">
  <%= render "shared/header" %>

  <main role="main">
    <%= yield %>
  </main>

  <%= render "shared/footer" %>
</body>
</html>
