<!DOCTYPE html>
<%= tag.html dir:    html_dir,
             lang:   html_lang,
             id:     html_id,
             class:  html_class,
             prefix: html_prefix do %>
  <head>
    <%= render 'steal_something_from_work_day/head/license' %>
    <title><%= t 'steal_something_from_work_day.title' %> | <%= t 'steal_something_from_work_day.crimethinc' %></title>
    <%= render 'steal_something_from_work_day/head/meta_tags' %>
    <%= render 'steal_something_from_work_day/head/public_meta_tags' %>
    <%= render 'steal_something_from_work_day/head/social_media_meta_tags' %>
    <%= render 'steal_something_from_work_day/head/link_tags' %>
    <%= render 'steal_something_from_work_day/head/fav_and_touch_icons' %>

    <%= stylesheet_link_tag 'steal-something-from-work-day', media: 'all' %>
    <%= javascript_include_tag 'steal-something-from-work-day' %>
  </head>

  <body id='<%= body_id %>' data-spy='scroll' data-target='#section-list' data-offset='0'>
    <%= render 'steal_something_from_work_day/development_mode_banner' %>

    <header role='banner' id='hero' class='d-flex' style='<%= hero_background_image_css %>'>
      <div class='align-self-center col'>
        <div class='logos'>
          <%= link_to [:root], class: 'logo-mark' do %>
            <%= image_tag 'https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/crimethinc-logo-mark-bulb-and-bones.png' %>
          <% end %>

          <%= link_to [:root], class: 'logo-type' do %>
            <%= image_tag 'https://cloudfront.crimethinc.com/assets/steal-something-from-work-day/crimethinc-logo-type-white.svg' %>
          <% end %>
        </div>

        <h1><%= t 'steal_something_from_work_day.title' %></h1>
        <p><%= t 'steal_something_from_work_day.subtitle' %></p>

        <nav class='text-center my-5'>
          <% @locales.each do |lang_code, name| %>
            <%= link_to name, url_for_current_path_with_subdomain(subdomain: lang_code), class: 'btn btn-outline-light btn-sm' %>
          <% end %>
        </nav>
      </div>
    </header>

    <div class='container'>
      <div class='row'>
        <%= yield %>
      </div><!-- .row -->

      <footer class='mt-5 pt-5 mb-3 pb-3'>
      </footer>
    </div><!-- .container -->

  </body>
<% end %>
