<!DOCTYPE html>
<%= tag.html dir:    t('.language_direction'),
             lang:   t('.lang_code'),
             class:  @locale.to_s,
             prefix: html_prefix do %>
<head>
  <title><%= t('.head.title').html_safe %></title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag "tochangeeverything", media: "screen" %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $(window).resize(function() {
      $("h1,h2,h4,blockquote").css("z-index", 1);
    });

    function toggleDiv(tocdiv) {
      $("#"+tocdiv).toggle();
    }

    function toggleDiv(languagediv) {
      $("#"+languagediv).toggle();
    }

    function toggleDiv(sharediv) {
      $("#"+sharediv).toggle();
    }
  </script>

  <link rel="stylesheet" href="https://cloudfront.crimethinc.com/assets/tce/css/jquery.fancybox.css" media="screen" />

  <script src="https://cloudfront.crimethinc.com/assets/tce/js/jquery.fancybox.pack.js"></script>
  <script>
    $(document).ready(function() {
      $(".fancybox").fancybox({
        maxWidth:    1334,
        autoHeight:  true,
        padding:     0,
        fitToView:   false,
        width:       '100%',
        autoSize:    false,
        closeClick:  false,
        openEffect:  'elastic',
        closeEffect: 'elastic',
        openSpeed:   'fast',
        closeSpeed:  'fast'
      });
    });
  </script>

  <meta name="viewport" content="initial-scale=1">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@crimethinc">
  <meta name="twitter:title" content="<%= t('.head.meta.title').html_safe %>">
  <meta name="twitter:description" content="<%= t('.head.meta.description').html_safe %>">
  <meta name="twitter:image:src" content="https://cloudfront.crimethinc.com/assets/tce/images/twitter-card-750.jpg">
  <meta property="og:url" content="<%= t('.head.meta.url').html_safe %>" />
  <meta property="og:title" content="<%= t('.head.meta.title').html_safe %>" />
  <meta property="og:description" content="<%= t('.head.meta.description').html_safe %>" />
  <meta property="og:image" content="https://cloudfront.crimethinc.com/assets/tce/images/twitter-card-1486.jpg" />
  <meta property="og:type" content="article" />

  <link rel="stylesheet" href="https://cloudfront.crimethinc.com/assets/tce/images/546676/CE039F8C7119876F1.css" />
</head>

<body class="<%= @locale.to_s %>">
  <div class="grandwrapper">
    <nav>
      <div id="navwrapper">
        <div id="cwc">
          <a href="http://crimethinc.com"><div id="cwclogo"></div><div id="cwclabel"></div></a>
        </div>

        <div id="menus">
          <ul>
            <li>
              <span class="green"><a href="javascript:toggleDiv('tocdiv');"><span class="icon"></span><span class="label"> <%= t('.menu.toc').html_safe %></span></a></span>

              <ul id="toc">
                <% tce_table_of_contents_sections.each do |section| %>
                  <li><a href="#<%= section %>"><%= t(".toc.#{section}").html_safe %></a></li>
                <% end %>
              </ul>
            </li>

            <li>
              <span class="pink"><a href="javascript:toggleDiv('languagediv');"><span class="icon"></span><span class="label"> <%= t('.menu.language').html_safe %></span></a></span>

              <ul id="language">
                <% tce_language_links.each do |label, path| %>
                  <li><%= link_to label.html_safe, path %></li>
                <% end %>
              </ul>
            </li>

            <li>
              <span class="blue"><a href="javascript:toggleDiv('sharediv');"><span class="icon"></span><span class="label"> <%= t('.menu.share').html_safe %></span></a></span>

              <ul id="share">
                <%= render 'to_change_everything/share_links', locale: @locale %>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div id="sharediv">
        <%= render 'to_change_everything/share_links', locale: @locale %>
      </div>

      <div id="languagediv">
        <div id="lang1">
          <% tce_language_links_first.each do |label, path| %>
            <li><%= link_to label.html_safe, path %></li>
          <% end %>
        </div>

        <div id="lang2">
          <% tce_language_links_last.each do |label, path| %>
            <li><%= link_to label.html_safe, path %></li>
          <% end %>
        </div>
      </div>

      <div id="tocdiv">
        <h1><%= t('.menu.toc').html_safe %></h1>

        <div id="toc1">
          <% tce_body_sections_first.each do |section| %>
            <li><a href="#<%= section %>"><%= t(".toc.#{section}").html_safe %></a></li>
          <% end %>
        </div>

        <div id="toc2">
          <% tce_body_sections_last.each do |section| %>
            <li><a href="#<%= section %>"><%= t(".toc.#{section}").html_safe %></a></li>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer></footer>

    <div id="video-container">
      <iframe src="<%= t('.video_url') %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div><!-- .grandwrapper -->

</body>
<% end %>
